.c-btn {
  border-radius: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.green-btn {
  background: #65c8c6;
  color: #ffffff;
}

.red-btn {
  background: #ed2626;
  color: #ffffff;
}

.contact-list-content {
  background: #f5f6f8;
  height: 100%;
  padding: 20px;
}

.cc-header-wrapper {
  display: flex;
}

.pl-17 {
  padding-left: 17px;
}

.search-wrapper {
  width: 50%;
  margin-left: 15px;
  padding: 0 29px;
  // background: #f6f7f9;
  border-radius: 20px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
  input {
    // background: #f6f7f9;
    top: 7px;
    border-radius: 6px;
    color: black !important;
    border: none;
    font-size: 15px;
    font-weight: 400;
    margin-top: 6px;
    margin-left: 10px;
    &:focus-visible {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
  .search-icon {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 22px;
    color: inherit !important;
  }
  .close-icon {
    position: absolute;
    // left: 10px;
    top: 6px;
    font-size: 22px;
    color: inherit !important;
    cursor: pointer;
  }
}
