<!-- <app-header></app-header> -->
<div class="content-header">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="cc-header-wrapper">
      <div>
        <h2 class="m-0">Contacts</h2>
        <p class="m-0 f-12">Total: {{ totalCount || 0 }}</p>
        <!-- <p class="m-0">{{TodayDate}}</p> -->
      </div>
      <!-- <div class="w-50 pl-17 mat-select-wrapper me-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label class="f-12">Search</mat-label>
          <input matInput (keyup)="inputEvent($event)" [(ngModel)]="searchText" />
          <mat-icon matSuffix (click)="clear()">close</mat-icon>
        </mat-form-field>
      </div> -->
      <div class="search-wrapper-for-list w-50">
        <input
          matInput
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchText"
          (ngModelChange)="searchContact.next($event)"
          class="w-100"
          style="top: 0px;"
          autocomplete="off"
        />
        <span class="material-icons secondry-light-text search-icon"
          >search</span
        >
        <span
          class="material-icons secondry-light-text close-icon"
          *ngIf="searchText"
          (click)="clear()"
          >close</span
        >
      </div>
      <div class="d-flex ml-1">
        <button
          mat-mini-fab
          class="me-2 custom-filter-btn-size"
          matTooltip="Filter"
          (click)="openFilter()"
          *ngIf="mainDataSouce && mainDataSouce.length"
        >
          <span class="material-icons">
            filter_list
          </span>
        </button>
        <button
          mat-mini-fab
          class="custom-add-btn-size"
          matTooltip="Add Contact"
          (click)="AddNewContact()"
        >
          <span class="material-icons">
            add
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 text-right f-12">
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 50, 75, 100]"
      [pageSize]="pageLength"
      [pageIndex]="pageIndex"
      [showFirstLastButtons]="false"
      [length]="totalCount"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</div>
<div>
  <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <div class="row input-cc" *ngIf="showFilter">
      <div class="col-md-6">
        <!-- <mat-form-field appearance="outline" class="w-100 c-searchbar ">
                    <mat-label>Company</mat-label>
                    <mat-select [(ngModel)]="Company" (click)="clearCompanyDetails()" [ngModelOptions]="{ standalone: true }">
                        <div style="padding:15px">
                            <input type="text" matInput (keyup)="searchCompany($event)" (keydown)="$event.stopPropagation()" autofocus placeholder="Search" autocomplete="off" />
                        </div>
                        <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyName" (click)="filterContactList(obj)">
                            {{ obj.companyName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix (click)="clearFilterCompany($event)" *ngIf="Company">close</mat-icon>
                </mat-form-field> -->
        <ng-select
          placeholder="Company"
          [items]="companyListSearch"
          appearance="outline"
          [virtualScroll]="true"
          [(ngModel)]="Company"
          bindLabel="companyName"
          bindValue="companyName"
          (change)="filterContactList()"
        >
        </ng-select>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100 c-searchbar ">
          <mat-label>Role</mat-label>
          <mat-select
            [(ngModel)]="Role"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-option
              *ngFor="let obj of roleList"
              [value]="obj.roleDescription"
              (click)="filterContactList()"
            >
              {{ obj.roleDescription }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix (click)="clearFilterRole($event)" *ngIf="Role"
            >close</mat-icon
          >
        </mat-form-field>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-1">
        <button
          mat-mini-fab
          matTooltip="Clear All"
          class="custom-close-btn-size"
          style="margin-top:16%"
          color="warn"
          (click)="clearSearch()"
        >
          <span class="material-icons">clear</span>
        </button>

        <!-- <button mat-raised-button color="warn" class="c-btn w-100" (click)="clearSearch()">
              Clear All
            </button> -->
      </div>
    </div>
  </div>
</div>
<div class="contact-list-content">
  <div class="contact-content">
    <mat-card>
      <mat-progress-bar
        *ngIf="showProgressBar"
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue"
      >
      </mat-progress-bar>
      <!-- <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  w-100 contact_list-table" matSort
                    matSortStart="desc" matSortDisableClear="true" style="width:100%"
                    (matSortChange)="sortCompanyList($event)">
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            First Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="custom-link" (click)="selection(element)">{{ element.firstName || "-"}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="middleName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Middle Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="custom-link" (click)="selection(element)">{{ element.middleName || "-"}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="custom-link" (click)="selection(element)">{{
                                element.lastName || "-"
                                }}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="companyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Company Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.companyName || "-" }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.phone || "-" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.email || "-" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="jobTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.jobTitle || "-" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.role || "-" }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <div *ngIf="!dataSource"
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <div *ngIf="dataSource?.length == 0"
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-label>No records found!</mat-label>
                </div>
            </div> -->

      <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
        <kendo-grid
          [data]="dataSource"
          kendoGridSelectBy="id"
          [sortable]="true"
          [sort]="sort"
          [sortable]="{ allowUnsort: false, mode: 'single' }"
          (sortChange)="sortCompanyList($event)"
          [reorderable]="true"
          [resizable]="true"
          [height]="813"
          [loading]="showProgressBar"
          #grid="kendoGrid"
        >
          <ng-template kendoGridNoRecordsTemplate>
            No contacts found!.
            <a (click)="refreshGrid()">Click here to refresh</a>.
          </ng-template>
          <!-- <div class="exportIcon" matTooltip="PDF" kendoGridPDFCommand>
                                                <mat-icon>picture_as_pdf</mat-icon>
                                            </div> -->
          <ng-template kendoGridToolbarTemplate style="padding-left: 660px;">
            <kendo-grid-spacer></kendo-grid-spacer>
            <!-- <div class="exportIcon" matTooltip="Excel" kendoGridExcelCommand>
                            <mat-icon>description</mat-icon>
                        </div>
                     
                        <div class="exportIcon" matTooltip="CSV">
                            <mat-icon (click)="exportToCsv()">article</mat-icon>
                        </div> -->
            <kendo-grid-column-chooser></kendo-grid-column-chooser>
          </ng-template>
          <kendo-grid-column
            class="custom-link"
            [locked]="true"
            [width]="350"
            field="firstName"
            title="Contact Name"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <span (click)="selection(dataItem)">
                {{
                  dataItem.firstName +
                    " " +
                    dataItem.middleName +
                    " " +
                    dataItem.lastName || "-"
                }}</span
              >
              <span
                *ngIf="
                  !dataItem.firstName &&
                  !dataItem.middleName &&
                  !dataItem.lastName
                "
              >
                -</span
              >
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="companyName"
            [width]="300"
            title="Company name"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.companyName || "-" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="phone" [width]="300" title="Phone">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.phone || "-" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="email" [width]="300" title="Email">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.email || "-" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="jobTitle" [width]="300" title="Job Title">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.jobTitle || "-" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="role" [width]="300" title="Role">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.role || "-" }}
            </ng-template>
          </kendo-grid-column>
          <!-- <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
          <kendo-grid-excel fileName="Contacts.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <!-- <div *ngIf="!dataSource"
                    style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                    </mat-progress-spinner>
                </div> -->
      </div>
    </mat-card>
  </div>
</div>
