<!-- <app-header></app-header> -->
<div class="content-header">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="cc-header-wrapper">
      <div>
        <h2 class="m-0">Contacts</h2>
        <p class="m-0 f-12">
          Total:
          {{
          dataSource?.filteredData?.length
          ? dataSource.filteredData.length
          : "0"
          }}
        </p>
        <!-- <p class="m-0">{{TodayDate}}</p> -->
      </div>
      <div class="w-50 pl-17 mat-select-wrapper me-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label class="f-12">Search</mat-label>
          <input matInput (keyup)="inputEvent($event)" [(ngModel)]="searchText" />
          <mat-icon matSuffix (click)="clear()">close</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <button mat-mini-fab class="me-2 custom-filter-btn-size" matTooltip="Filter" (click)="openFilter()"
          *ngIf="mainDataSouce && mainDataSouce.length">
          <span class="material-icons" style="margin-top: -10px !important;">
            filter_list
          </span>
        </button>
        <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add Contact" (click)="AddNewContact()">
          <mat-icon matPrefix style="margin-top: -7px !important;">add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 text-right f-12">
    <mat-paginator [pageSizeOptions]="[500, 1000, 2000, 5000, 10000]" [pageSize]="1000" showFirstLastButtons
      [showTotalPages]="3" [length]="mainDataSouce.length">
    </mat-paginator>
  </div>
</div>
<div>
  <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <div class="row" *ngIf="showFilter">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100 c-searchbar ">
          <mat-label>Company</mat-label>
          <mat-select [(ngModel)]="Company" (click)="clearCompanyDetails()" [ngModelOptions]="{ standalone: true }">
            <div style="padding:15px">
              <input type="text" matInput (keyup)="searchCompany($event)" (keydown)="$event.stopPropagation()"
                [(ngModel)]="Company" autofocus placeholder="Search" autocomplete="off" />
            </div>
            <mat-option *ngFor="let obj of companyListSearch" [value]="obj.tradingName" (click)="filterTypeChange(obj)">
              {{ obj.tradingName }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix (click)="clearFilterCompany($event)" *ngIf="Company">close</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100 c-searchbar ">
          <mat-label>Role</mat-label>
          <mat-select [(ngModel)]="Role" [ngModelOptions]="{ standalone: true }">
            <mat-option *ngFor="let obj of roleList" [value]="obj.roleDescription" (click)="filterTypeChange(obj)">
              {{ obj.roleDescription }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix (click)="clearFilterRole($event)" *ngIf="Role">close</mat-icon>
        </mat-form-field>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-1">
        <button mat-mini-fab matTooltip="Clear All" class="custom-close-btn-size" style="margin-top:16%" color="warn"
          (click)="clearSearch()">
          <span class="material-icons">clear</span>
        </button>

        <!-- <button mat-raised-button color="warn" class="c-btn w-100" (click)="clearSearch()">
              Clear All
            </button> -->
      </div>
    </div>
  </div>
</div>
<div class="contact-list-content">
  <div class="contact-content">
    <mat-card>
      <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  w-100 contact_list-table" matSort
          style="width:100%">
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              First Name
            </th>
            <td mat-cell *matCellDef="let element">
              <span class="custom-link" (click)="selection(element)">{{ element.firstName || "-"}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
            <td mat-cell *matCellDef="let element">
              <span class="custom-link" (click)="selection(element)">{{
                element.lastName || "-"
                }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Company Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.companyName || "-" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let element">
              {{ element.phone || "-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">
              {{ element.email || "-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
            <td mat-cell *matCellDef="let element">
              {{ element.jobTitle || "-" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let element">
              {{ element.role || "-" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div *ngIf="!dataSource"
          style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>
    </mat-card>
  </div>
</div>
