<div class="content-header ptb-10">
  <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="dataSource.length > 0">
    <div clas="col-lg-6">
      <div class="d-flex align-items-center">
        <h1 class="p-0 d-flex align-items-center">
          <div>
            {{ dataSource[0].legalName }}
          </div>
          <div class="orange-badge ml-5" *ngIf="dataSource[0].stage == 'Lead'">
            {{ dataSource[0].stage }}
          </div>
          <div class="green-badge ml-5" *ngIf="dataSource[0].stage == 'Prospect'">
            {{ dataSource[0].stage }}
          </div>
          <div class="blue-badge ml-5" *ngIf="dataSource[0].stage == 'Customer'">
            {{ dataSource[0].stage }}
          </div>
        </h1>
        <div class="common-button-email d-flex align-items-center ms-2" *ngIf="dataSource[0]?.email">
          <mat-icon class="custom-icon-email">email</mat-icon>
          <div class="f-12 cust-title">{{ dataSource[0].email }}</div>
        </div>
        <div class="common-button-phone d-flex align-items-center ms-2" *ngIf="dataSource[0]?.phone">
          <mat-icon class="custom-icon-phone">phone</mat-icon>
          <div class="f-12 cust-title">{{ dataSource[0].phone }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 text-right">
    <button mat-mini-fab class="custom-edit-btn-size me-2" matTooltip="Edit" (click)="addNewDetail('editCurrent')">
      <span class="material-icons"> edit </span>
      <!-- <span class="material-icons me-2"> edit </span>Edit -->
    </button>
    <button mat-mini-fab matTooltip="Add Company" class="custom-add-btn-size" (click)="addNewDetail('addNew')">
      <span class="material-icons">
        add
      </span>
      <!-- <mat-icon matPrefix class="add-btn">add</mat-icon> &nbsp;Add Company -->
    </button>
  </div>
</div>
<div class="Companies-detail-content">
  <div class="row">
    <div class="col-lg-8">
      <mat-card class="w-100 p-0">
        <div style="position: relative;">
          <mat-tab-group mat-align-tabs="start" class="content table-space">
            <!-- #enddocregion align-start -->
            <mat-tab label="Primary Information">
              <!-- <div *ngIf="!companymetadata.stage && !loadTime" class="loader">Loading...</div> -->
              <table *ngIf="companymetadata.tradingName"
                class="mat-elevation-z8 companies-table c-companies-table w-100">
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Stage</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Company Name</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Parent Name</mat-label>
                  </td>
                </tr>
                <tr *ngIf="companymetadata.tradingName">
                  <td class="td">
                    <mat-label *ngIf="companymetadata">{{
                      companymetadata?.stage
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata?.tradingName }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      getParentName(companymetadata?.parentId)
                      }}</mat-label>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Trading Name</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Lead Source</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Lead Status</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companymetadata.tradingName }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.leadSource }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.leadStatus }}</mat-label>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Sales Rep</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Subsidary</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Comment</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{
                      getSalesRep(companymetadata.salesRepId)
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.subsidiary }}</mat-label>
                  </td>
                  <td style="width: 40%;">
                    <div [ngClass]="{ 'c-desc': !showMoreCmnt }">
                      {{ companymetadata.comments }}
                    </div>
                    <!-- <span (click)="showMore()" class="show-content" *ngIf="!showMoreCmnt">Show
                                            More</span>
                                        <span (click)="showMore()" *ngIf="showMoreCmnt" class="show-content">Show
                                            Less</span> -->
                  </td>
                </tr>
              </table>

              <div *ngIf="!companymetadata.tradingName"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </mat-tab>
            <mat-tab label="Communication">
              <table class="mat-elevation-z8 companies-table c-companies-table
                                                w-100">
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Phone</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Alternate Number</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Fax Number</mat-label>
                  </td>
                  <!-- <td>
                                                        <mat-label>Subsidary</mat-label>
                                                    </td> -->
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companymetadata.phone }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.alternateNumber }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.faxNumber }}</mat-label>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Email</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Web</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">LinkedIn</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companymetadata.email }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.web }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.linkedIn }}</mat-label>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">FaceBook</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Google</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companymetadata.facebook }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.google }}</mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>
            <mat-tab label="Classification">
              <table class="mat-elevation-z8 companies-table c-companies-table
                                        w-100">
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Market/Industry</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Tiers</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Product Catagory</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Software</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companymetadata.marketIndustry }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.tier }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.productCategory }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companymetadata.software }}</mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>

            <mat-tab label="Address">
              <div *ngIf="dataSource.length > 0">
                <div style="display: flex;align-items:
                                            center;justify-content:center;float: left;">
                  <h5 style="font-weight: bold">
                    Billing Address
                  </h5>
                </div>

                <table class="companies-table c-companies-table
                                        w-100">
                  <tr style="font-size: small;color: grey;">
                    <td class="td">
                      <mat-label class="c-purple">Address Line 1</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">Address Line 2</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">City or Suburb</mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td class="td">
                      <mat-label>{{ companymetadata.billingAddress?.addressLine1 }}
                      </mat-label>
                    </td>
                    <td>
                      <mat-label>{{ companymetadata.billingAddress?.addressLine2 }}
                      </mat-label>
                    </td>
                    <td>
                      <mat-label>{{ companymetadata.billingAddress?.city }}
                      </mat-label>
                    </td>
                  </tr>
                  <br />
                  <tr style="font-size: small;color: grey;">
                    <td class="td">
                      <mat-label class="c-purple">Post Code</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">State</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">Country</mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td class="td">
                      <mat-label>{{ companymetadata.billingAddress?.postCode }}
                      </mat-label>
                    </td>
                    <td>
                      <mat-label>{{ companymetadata.billingAddress?.state }}
                      </mat-label>
                    </td>
                    <td>
                      <!-- <mat-label>{{ companymetadata.billingAddress?.countryname }}
                                            </mat-label> -->
                      <mat-label>{{
                        getCountry(companymetadata.billingAddress?.countryId)
                        }}
                      </mat-label>
                    </td>
                  </tr>
                </table>

                <div style="display: flex;align-items:
                                            center;justify-content:center;float: left;" class="mt-10">
                  <h5 style="font-weight: bold">
                    Shipping Address
                  </h5>
                </div>
                <!--  -->
                <table class="companies-table c-companies-table
                                        w-100">
                  <tr style="font-size: small;color: grey;">
                    <td class="td">
                      <mat-label class="c-purple">Address Line 1</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">Address Line 2</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">City or Suburb</mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td class="td">
                      <mat-label>{{ companymetadata.shippingAddress?.addressLine1 }}
                      </mat-label>
                    </td>
                    <td>
                      <mat-label>{{ companymetadata.shippingAddress?.addressLine2 }}
                      </mat-label>
                    </td>
                    <td>
                      <mat-label>{{ companymetadata.shippingAddress?.city }}
                      </mat-label>
                    </td>
                  </tr>
                  <br />
                  <tr style="font-size: small;color: grey;">
                    <td class="td">
                      <mat-label class="c-purple">Post Code</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">State</mat-label>
                    </td>
                    <td>
                      <mat-label class="c-purple">Country</mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td class="td">
                      <mat-label>{{ companymetadata.shippingAddress?.postCode }}
                      </mat-label>
                    </td>
                    <td>
                      <mat-label>{{ companymetadata.shippingAddress?.state }}
                      </mat-label>
                    </td>
                    <td>
                      <!-- <mat-label>{{ companymetadata.shippingAddress?.countryname }}
                                          </mat-label> -->
                      <mat-label>{{
                        getCountry(companymetadata.shippingAddress?.countryId)
                        }}
                      </mat-label>
                    </td>
                  </tr>
                </table>
              </div>
            </mat-tab>
          </mat-tab-group>
          <div class="tab-right">
            <!-- <span class="status-label"><button mat-mini-fab class="custom-edit-btn-size me-2"
                style="margin-left: 684px;" matTooltip="Edit" (click)="addNewDetail('editCurrent')">
                <span class="material-icons"> edit </span>
              </button>
            </span> -->
          </div>
        </div>
      </mat-card>
      <div class="mt-4" *ngIf="listLookups.length != 0 && showCal">
        <app-calendar [tableHeight]="550" [pageLength]="10" [showExportIcons]="false" [listLookups]="listLookups"
          [subActivityForm]="subActivityForm" [from]="'Company'" [InitialView]="'Agenda'" [CompanyId]="id"
          [getCompanyDetails]="getCompanyDetails" [getCompanySalesRepId]="getCompanyDetails.salesRepId"></app-calendar>
      </div>
    </div>
    <div class="col-lg-4">
      <mat-card class="related_oppo-card">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="primary-text card-heading m-0">
            Contacts
            <!-- <p class="m-0" style="font-size:12px">Total : {{companydata && companydata.length ? companydata.length : '0'}}</p> -->
          </h1>
          <div class="d-flex align-items-center justify-content-end
                                                flex-wrap">
            <div class="me-2">
              <h5 class="m-0 f-12">
                Total :
                {{
                companydata && companydata.length ? companydata.length : "0"
                }}
              </h5>
            </div>
            <button mat-mini-fab matTooltip="Add Contact" class="custom-add-btn-size" (click)="setRedirectContact()">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
        </div>
        <!-- <div *ngIf="!companydata.length && !loadTime" class="loader">Loading...</div> -->
        <!-- <mat-form-field appearance="outline" class="w-100 c-searchbar">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Add Contact</mat-label>
                  <mat-select>
                        <div style="padding:15px">
                            <input matInput (keyup)="searchParent($event)" (keydown)="$event.stopPropagation()" autofocus placeholder="Search" autocomplete="off" />
                        </div>
                        <mat-option *ngFor="let obj of contactListSearch; let i = index" (click)="updateContacts(obj)" [value]="obj.name">
                            {{ obj.name }}
                        </mat-option>
                    </mat-select> 
                    
                </mat-form-field> -->
        <ng-select class="custom" placeholder="Search Contacts" appearance="outline" #ngSelectComponent
          [items]="contactListSearch" [virtualScroll]="true" bindLabel="name" bindValue="name"
          (change)="updateContacts($event)">
        </ng-select>
        <div *ngIf="showContactsLoader"
          style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        <div class="no-content1" *ngIf="showContactsNoRecMsg">
          <h4 class="primary-text c-h2 f-12">No Contacts Found</h4>
          <!-- <p class="secondry-light-text">Please add data to see the Contacts</p> -->
        </div>

        <div class="contact-height" style="margin-top: 10px;overflow-x: hidden;">
          <div class="row d-flex justify-content-between align-items-center border-bottom pt-3 c-pointer"
            style="overflow-x:hidden" *ngFor="let item of companydata" (click)="gotoContact(item)">
            <div class="col-lg-10 row">
              <div class="col-lg-5">
                <h5 class="primary-text c-h2 m-0 c-purple">
                  {{ item?.firstName }} {{ item?.middleName?.slice(0, 1) }}
                  {{ item?.lastName }}
                </h5>
                <h5 class="grey-color">{{ item?.phone || "No Phone" }}</h5>
              </div>
              <div class="col-lg-5">
                <h5 class="grey-color m-0 c-h2  ">
                  {{ item?.jobTitle || "No Job title" }}
                </h5>
                <h5 class="grey-color">{{ item?.email || "No Email" }}</h5>
              </div>
            </div>

            <div class="col-lg-2" style="margin-bottom: auto;">
              <h5 *ngIf="item?.role != ''" style="width: fit-content;float: right;" class="blue-badge ">
                {{ item?.role || "No role" }}
              </h5>
              <h5 *ngIf="item?.role == ''" class="m-0" style="width: fit-content;float: right;">
                No Role
              </h5>
            </div>
          </div>
        </div>
      </mat-card>
      <!-- 
        Developer :- sumit meghrajani 
        Date :- 06-06-2022 11:50 AM
        hidden the Opportunities part for new changes Phase 1 
      -->
      <mat-card class="related_oppo-card mt-4" hidden="true">
        <div class="d-flex justify-content-between align-items-center ">
          <h1 class="primary-text card-heading m-0">
            Opportunities
          </h1>
          <div class="d-flex align-items-center justify-content-end flex-wrap">
            <div class="me-2 ">
              <h5 class="m-0 f-12">
                Total : {{ oppertunityData?.length || 0 }}
              </h5>
            </div>
            <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add" (click)="setRedirctopportunity()">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
        </div>
        <!-- <div *ngIf="oppertunityData?.length == 0 && !loadTime" class="loader">Loading...</div> -->
        <div *ngIf="showOppertunitiesLoader"
          style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        <div class="no-content" *ngIf="showOppertunitiesNoRecMsg">
          <h4 class="primary-text c-h2 f-12">
            No Opportunities Found
          </h4>
          <!-- <p class="secondry-light-text">
                            Please add data to see the Opportunities
                        </p> -->
        </div>
        <div class="contact-height" style="margin-top: 10px;overflow-x: hidden;" *ngIf="oppertunityData?.length">
          <div class="row d-flex justify-content-between align-items-center border-bottom pt-3 c-pointer"
            *ngFor="let item of oppertunityData" (click)="gotoOpportunity(item)">
            <div class="row col-lg-10">
              <div class="col-lg-5">
                <h5 class="primary-text c-h2 c-purple m-0" style="font-size:12px">
                  {{ item.opp }}
                </h5>
                <h5 class="grey-color">
                  {{ item.date | date: "dd MMM YYYY" }}
                </h5>
              </div>
              <div class="col-lg-5">
                <h5 class="grey-color c-h2" style="font-size:12px">
                  {{ item.title }}
                </h5>
                <h5 class="grey-color">
                  {{ item.expectedClose | date: "dd MMM YYYY" }}
                </h5>
              </div>
            </div>

            <div class="col-lg-2">
              <!-- <span class="blue-badge" *ngIf="dataSource[0].stage == 'Customer'">
                                            {{ dataSource[0].stage }}
                                        </span> -->
              <div style="float:right;">
                <h5 class="m-0">
                  <span class="blue-badge" *ngIf="item?.status" style="width: fit-content;">{{ item?.opportunityStatus
                    }}</span>
                </h5>
                <h5 class="c-purple " style="float:right;margin-bottom: auto;">
                  ${{ item.amountAfterDiscount | number: "1.2-2" }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <!-- 
        Developer :- sumit meghrajani 
        Date :- 06-06-2022 11:50 AM
        hidden the Quotes part for new changes Phase 1 
      -->
      <mat-card class="related_oppo-card mt-4" hidden="true">
        <div class="d-flex justify-content-between align-items-center ">
          <h1 class="primary-text card-heading m-0">
            Quotes
            <!-- <p *ngIf="quoteData && quoteData?.length" class="m-0" style="font-size:12px">Total : {{quoteData?.length}}
                            </p> -->
          </h1>
          <div class="d-flex align-items-center justify-content-end flex-wrap">
            <div class="me-2 ">
              <h5 class="m-0 f-12">Total : {{ quoteData?.length || 0 }}</h5>
            </div>
            <button mat-mini-fab matTooltip="Add" class="custom-add-btn-size" (click)="setRedirctQuote()">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="showQuoteLoader"
          style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        <!-- <div *ngIf="quoteData?.length == 0 && !loadTime" class="loader">Loading...</div> -->
        <div class="no-content" *ngIf="showQuoteNoRecMsg">
          <h4 class="primary-text c-h2 f-12">No Quotes Found</h4>
          <!-- <p class="secondry-light-text">Please add data to see the Quotes</p> -->
        </div>
        <div class="contact-height" style="margin-top: 10px;overflow-x: hidden;" *ngIf="quoteData?.length != 0">
          <div class="row d-flex justify-content-between align-items-center border-bottom  pt-3 c-pointer"
            *ngFor="let item of quoteData" (click)="gotoQuote(item)">
            <div class="row col-lg-10">
              <div class=" col-lg-5">
                {{ item.opp }}
                <h5 class="primary-text c-h2  c-purple m-0" style="font-size:12px">
                  {{ item.opp }}
                </h5>
                <h5 class="grey-color">
                  {{ item.date | date: "dd MMM YYYY" }}
                </h5>
              </div>
              <div class=" col-lg-5">
                <h5 class="grey-color c-h2" style="font-size:12px">
                  {{ item.title }}
                </h5>
                <h5 class="grey-color">
                  {{ item.expectedClose | date: "dd MMM YYYY" }}
                </h5>
              </div>
            </div>

            <div class="col-lg-2">
              <div style="float:right;">
                <h5 class="m-0">
                  <span class="blue-badge" *ngIf="item?.status" style="width: fit-content;">{{ item?.status }}</span>
                </h5>
                <h5 class="c-purple" style="float:right;margin-bottom: auto;">
                  ${{ item.amountAfterDiscount | number: "1.2-2" }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>