.card-view {
    width: 700px;
    margin-top: 50px;
}

.dashbord-contnet {
    position: relative;
    .content-header {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        background: #fafafa;
        // padding: 20px;
        padding: 2px 25px 0px 21px;
        border-bottom: 1px solid #eeeeee;
        h1 {
            font-size: 24px;
            color: #394085;
            font-weight: 400;
            margin: 0;
        }
        .secondary-text {
            color: #394085;
        }
        .c-mat-form-field {
            max-height: 54px;
            .mat-form-field-wrapper {
                padding-bottom: 0;
                margin: 0;
            }
            .text-right {
                text-align: right;
            }
        }
        .text-right {
            text-align: right;
        }
    }
    .c-card {
        margin: 20px;
        width: 20% !important;
    }
    #apexchartsywch3snzk {
        width: 100%;
        // max-width: 650px;
        // margin: 35px auto;
    }
    .chart-card {
        margin: 20px;
        width: 33.33%;
    }
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
}

.custom-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.form-field {
    min-width: 60px;
    flex: 1 auto;
}

.demo-table {
    width: 100%;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.c-btn {
    border-radius: 6px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Companies-detail-content {
    background: #f5f6f8;
    height: 100%;
    padding: 2px 12px 0px 13px;
}

.related_oppo-card {
    .summery-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

td {
    padding-left: 12px;
    font-size: 12px;
}

.c-email-wrap {
    padding-top: 7px;
    color: gray;
}

.c-lead {
    color: #ff7f50;
    font-size: 12px;
    background: #eaeaf1;
    font-weight: 600;
}

.c-prospect {
    color: #65c8c6;
    font-size: 12px;
    background: #eaeaf1;
    font-weight: 600;
}

.c-customer {
    color: #65c8c6;
    font-size: 12px;
    background: #eaeaf1;
    font-weight: 600;
}

.no-content1 {
    text-align: center;
    padding: 65px 0;
}

.active-btn {
    // color: white;
    // height: 43px;
    // min-width: unset;
    // background: linear-gradient(39.59deg, #7E38FB  13.19%, #151050  110.57%);
    // border-radius: 6px;
    // align-items: center;
    // justify-content: center;
    // border: none;
    color: white;
    height: 35px;
    min-width: unset;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    border-radius: 27px;
    align-items: center;
    justify-content: center;
    border: none;
}

.in-active-btn {
    background-color: white;
}

.c-event-btn {
    width: auto;
    height: 35px;
    min-width: unset;
    border-radius: 27px;
    align-items: center;
    justify-content: center;
}

.mat-cell {
    cursor: pointer;
}

.theme-bg {
    background: #7e38fb;
    color: #ffffff;
}

.c-height-contact-card {
    min-height: 305px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.tab-right {
    display: flex;
    position: absolute;
    right: 16px;
    top: 13px;
    font-weight: 700;
}

.show-content{
        background: #f5f6f8;
    padding: 5px;;
}