<div class="content-header ptb-10">
  <!-- <div (click)="back()">
        1234
    </div> -->
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h1 class="m-0">{{ rowData?.documentId }}</h1>
    <p class="m-0" *ngIf="rowData?.documentId">
      {{ TodayDate | date: "dd MMM YYYY" }}
    </p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-right">
    <!-- <button mat-raised-button class="green-btn c-btn" *ngIf="!isShowData" (click)="saveAndContinue(true)">
      <span class="material-icons me-2"> save </span>Save
    </button> -->
    <!-- [disabled]="opportunitiesForm.invalid" -->
    <button mat-mini-fab class="custom-save-btn-size me-2" matTooltip="Save" *ngIf="!isShowData"
      (click)="saveAndContinue()">
      <span class="material-icons "> save </span>
    </button>
    <!-- <button mat-raised-button class="green-btn c-btn me-2" *ngIf="isShowData" (click)="editQuotes()">
      <span class="material-icons">
        edit
      </span>
      Edit
    </button> -->

    <button mat-mini-fab class="custom-save-btn-size me-2" matTooltip="Edit" *ngIf="isShowData" (click)="editQuotes()">
      <span class="material-icons"> edit </span>
      <!-- <span class="material-icons me-2"> edit </span>Edit -->
    </button>
    <!-- <button mat-raised-button class="green-btn c-btn me-2" *ngIf="!isShowData" style="margin-left: 1em;" (click)="cancelEditing()">
      <span class="material-icons me-2"> cancel </span>Cancel
    </button> -->
    <button mat-mini-fab class="custom-cancel-btn-size" matTooltip="Cancel" *ngIf="!isShowData"
      (click)="cancelEditing()">
      <span class="material-icons">
        close
      </span>
    </button>
    <button mat-raised-button class="theme-bg c-btn mx-2" *ngIf="
        isShowData &&
        (rowData?.opportunityStatus?.toLowerCase() == 'former' ||
          rowData?.opportunityStatus?.toLowerCase() == 'information sent' ||
          rowData?.opportunityStatus?.toLowerCase() == 'on hold' ||
          rowData?.opportunityStatus?.toLowerCase() == 'presentation/demo' ||
          rowData?.opportunityStatus?.toLowerCase() == 'quoted' ||
          rowData?.opportunityStatus?.toLowerCase() == 'negotiation/review')
      " (click)="makeQuote()">
      Make Quote
    </button>
    <!-- <button mat-raised-button class="theme-bg c-btn" *ngIf="isShowData" (click)="addQuotes()">
      + Add Opportunities
    </button> -->
    <button mat-mini-fab matTooltip="Add Opportunities" class="custom-add-btn-size" style="" *ngIf="isShowData"
      (click)="addQuotes()">
      <span class="material-icons"> add </span>
      <!-- <mat-icon matPrefix class="add-btn">add</mat-icon> &nbsp;Add Company -->
    </button>
  </div>
</div>
<div class="opportunities-content" *ngIf="isShowData">
  <div class="row">
    <div class="col-lg-8">
      <div>
        <mat-card class="w-100 p-0">
          <mat-tab-group mat-align-tabs="start" class="content table-space">
            <!-- 1 Primary Information -->
            <mat-tab label="Primary Information">
              <table class="mat-elevation-z8 companies-table c-companies-table
                            w-100" *ngIf="rowData">
                <tr style="font-size: small;color: grey;">
                  <td>
                    <mat-label class="c-purple">Customer</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Title</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Date</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Status</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Probability</mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)" style="cursor: pointer;color: #ff4081;" (click)="gotoCompany(rowData)">
                      <mat-label>{{ rowData?.companyName || "-" }}</mat-label>
                    </a>
                    <!-- <mat-label>{{ rowData.company }}</mat-label> -->
                  </td>
                  <td>
                    <mat-label>{{ rowData?.title || "-" }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.date | date: "dd MMM YYYY" || "-" }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      rowData?.opportunityStatus || "-"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.probability || "-" }}%</mat-label>
                  </td>
                </tr>
                <br />

                <tr style="font-size: small;color: grey;">
                  <td>
                    <mat-label class="c-purple">Expected Close</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Memo</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Sales Rep</mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label>{{ rowData?.expectedClose | date: "dd MMM YYYY" || "-" }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.memo || "-" }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      getSalesRep(rowData?.salesRepId) || "-"
                      }}</mat-label>
                  </td>
                </tr>
              </table>

              <div *ngIf="!rowData"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </mat-tab>
            <!-- 2 Classification -->
            <mat-tab label="Classification">
              <table class=" mat-elevation-z8 companies-table c-companies-table
                            w-100">
                <tr style="font-size: small;color: grey;">
                  <td>
                    <mat-label class="c-purple">Range Low</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Range High</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Projected Total</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Weighted Total</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Forecast Type</mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label>${{
                      rowData?.rangeLow | number: "1.2-2" || "-"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>${{
                      rowData?.rangeHigh | number: "1.2-2" || "-"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>${{
                      rowData?.projectedTotal | number: "1.2-2" || "-"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>${{
                      rowData?.weightedTotal | number: "1.2-2" || "-"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ forcastTypeName }}</mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>
            <!-- 3 Customer Classification -->
            <mat-tab label="Customer Classification">
              <table class="mat-elevation-z8 companies-table c-companies-table
                            w-100">
                <tr style="font-size: small;color: grey;">
                  <td>
                    <mat-label class="c-purple">Market/Industry</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Product Catagory</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Tiers</mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label>{{ rowData?.marketIndustry || "-" }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.productCategory || "-" }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.tiers || "-" }}</mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
      <div class="mt-4 p-0 opportunities-content">
        <mat-card class="opportunities-card">
          <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode" [value]="value"
            [bufferValue]="bufferValue">
          </mat-progress-bar>
          <div class="custom-table">
            <!-- <div *ngIf="!opportunityItems" class="loader">Loading...</div> -->
            <table mat-table [dataSource]="opportunityItems" class="mat-elevation-z8 w-100">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quantity }}
                </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.segmentId === 3">
                    ${{ element.amount | number: "1.2-2" }}/wk
                  </span>
                  <span *ngIf="element.segmentId !== 3">
                    ${{ element.amount | number: "1.2-2" }}
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayOpportunityItemsInEdit; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayOpportunityItemsInEdit" (click)="selection.toggle(row)">
              </tr>
            </table>

            <div *ngIf="!opportunityItems.length && showProgressBar"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div *ngIf="!opportunityItems.length && !showProgressBar"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-label>No records found!</mat-label>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="w-100">
        <mat-card class="summry-card pb-0">
          <h1 class="primary-text card-heading m-0 mb-3"><b>Summary</b></h1>
          <!--  // no data-found card -->

          <!-- <div class="no-content">
                                    <h2 class="primary-text c-h2">No Summry data</h2>
                                    <p class="secondry-light-text">Please add data to see the summary</p>
                                </div> -->
          <div class="border-bottom">
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Services</p>
              <p class="primary-text m-0 f-12">
                ${{ totalServiceAmount | number: "1.2-2" || 0.0 }}
              </p>
            </div>
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Hardware</p>
              <p class="primary-text m-0 f-12">
                ${{ totalHardwareAmount | number: "1.2-2" || 0.0 }}
              </p>
            </div>
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Discount</p>
              <p class="primary-text m-0 f-12">
                $
                {{
                opportunitiesForm.controls["discountAmount"].value
                | number: "1.2-2" || 0.0
                }}
              </p>
            </div>
            <!-- <div class="summery-content">
                                            <p class="secondry-light-text m-0">Subscription</p>
                                            <p class="primary-text m-0">1,000.00 AUD</p>
                                        </div>
                                        <div class="summery-content">
                                            <p class="secondry-light-text m-0">Subscription</p>
                                            <p class="primary-text m-0">1,000.00 AUD</p>
                                        </div> -->
          </div>
          <div class="pt-2 pb-2 ">
            <div class="summery-content">
              <p class="primary-text m-0 f-12"><b>GRAND TOTAL</b></p>
              <!-- <p class="green-text m-0"> -->
              <p class="c-purple m-0 f-12">
                <b>${{
                  opportunitiesForm.controls["amountAfterDiscount"].value
                  | number: "1.2-2"
                  }}</b>
              </p>
            </div>
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Subscription</p>
              <p class="primary-text m-0 f-12">
                ${{ totalSubscriptionAmount | number: "1.2-2" }}/wk
              </p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="w-100 mt-4">
        <mat-card class="related-contact-card ">
          <div class="d-flex justify-content-between align-items-center ">
            <h1 class="primary-text card-heading m-0">
              <b> Contacts</b>
            </h1>
            <div class="d-flex align-items-center justify-content-end
            flex-wrap">
              <div class="me-2">
                <h5 class="m-0 f-12">
                  Total :
                  {{
                  contactData && contactData.length ? contactData.length : "0"
                  }}
                </h5>
              </div>
              <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add Contacts" (click)="addContact()">
                <span class="material-icons">
                  add
                </span>
              </button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12 input-cc">
              <!-- <mat-form-field appearance="outline" class="w-100">
                                <mat-icon matPrefix>search</mat-icon>
                                <mat-label>Add Contacts</mat-label>
                                <mat-select>
                                    <div style="padding:15px">
                                        <input matInput (keyup)="searchParent($event)"
                                            (keydown)="$event.stopPropagation()" autofocus placeholder="Search"
                                            autocomplete="off" />
                                    </div>
                                    <mat-option *ngFor="let obj of contactListSearch; let i = index"
                                        (click)="updateContacts(obj)" [value]="obj.name">
                                        {{ obj.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
              <ng-select class="custom" placeholder="Search Contacts" appearance="outline" #ngSelectComponent
                [items]="contactListSearch" [virtualScroll]="true" bindLabel="name" bindValue="name"
                (change)="updateContacts($event)">
              </ng-select>
            </div>
          </div>
          <div *ngIf="showContactsLoader"
            style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div class="no-content" *ngIf="showContactsNoRecMsg">
            <h4 class="primary-text c-h2 f-12">No Contact Found!</h4>
          </div>
          <div class="contact-height" *ngIf="contactData.length > 0">
            <div class="row d-flex justify-content-between align-items-center border-bottom pb-2 pt-3"
              *ngFor="let contact of contactData" (click)="gotoContact(contact)">
              <div class="col-lg-10 row">
                <div class="col-lg-5">
                  <h5 class="primary-text c-h2 m-0 c-purple f-12">
                    {{ contact.name }}
                  </h5>
                  <h5 class="grey-color f-12">
                    {{ contact.phone || "No Phone" }}
                  </h5>
                </div>
                <div class="col-lg-5">
                  <h5 class="grey-color m-0 c-h2  f-12">
                    {{ contact?.jobTitle || "No Job title" }}
                  </h5>
                  <h5 class="grey-color f-12">
                    {{ contact?.email || "No Email" }}
                  </h5>
                </div>
              </div>
              <div class="col-lg-2" style="margin-bottom: auto;">
                <h5 *ngIf="contact?.role" style="width: fit-content;float: right;" class="blue-badge ">
                  {{ contact?.role }}
                </h5>
                <h5 *ngIf="contact?.role == '' || !contact?.role" class="m-0 f-12"
                  style="width: fit-content;float: right;">
                  No Role
                </h5>
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="mt-4">
        <mat-card class="related-contact-card ">
          <div class="d-flex justify-content-between align-items-center ">
            <h1 class="primary-text card-heading m-0">
              <b>Recent Activities </b>
            </h1>
            <div class="d-flex align-items-center justify-content-end
                            flex-wrap">
              <div class="me-2">
                <h5 class="m-0 f-12">
                  Total :
                  {{
                  relatedActivityArray && relatedActivityArray.length
                  ? relatedActivityArray.length
                  : "0"
                  }}
                </h5>
              </div>
              <app-speed-dial-fab class="speed-dial-container me-2" [ngClass]="speedDialFabPosition"
                [reverse-column-direction]="
                  speedDialFabPosition === SpeedDialFabPosition.Bottom
                " (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
              </app-speed-dial-fab>
            </div>
          </div>
          <div class="contact-height">
            <div class="d-flex align-items-center border-bottom pb-2 pt-3 c-pointer"
              *ngFor="let activity of relatedActivityArray">
              <div class="img-wrapper blue">
                <img src="../../../assets/img/list_icon.svg" />
              </div>
              <div (click)="showdetails(activity)">
                <h4 class="primary-text c-h2 m-0 mb-2 c-purple f-12 ">
                  {{ activity.title }}
                </h4>
                <p class="secondry-light-text f-12 ">
                  {{ activity.startDate | date: "dd MMM YYYY hh:mm a" }}
                </p>
              </div>
            </div>
          </div>
          <!-- <div *ngIf="relatedActivityArray.length == 0" class="d-flex align-items-center pb-2 pt-4 no-content">No Activity Found
                    </div> -->
          <div *ngIf="showActivitiesLoader"
            style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div *ngIf="showActivitiesNoRecMsg" class="no-content">
            <h4 class="primary-text c-h2 f-12">No Activity Found</h4>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="opportunities-content" *ngIf="!isShowData">
  <form [formGroup]="opportunitiesForm">
    <div class="row">
      <div class="col-lg-8">
        <div class="w-100">
          <mat-card class="w-100 p-0">
            <mat-tab-group mat-align-tabs="start" class="content" (selectedTabChange)="onTabChanged($event)"
              [selectedIndex]="selectedIndex">
              <!-- 1 Primary Information -->
              <mat-tab label="Primary Information" style="margin: 10px;">
                <div class="row" style="margin: 10px;">
                  <!--Customer [formControlName="customerId"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <ng-select placeholder="Company" [items]="companyListSearch" [virtualScroll]="true"
                      [formControlName]="'customerId'" bindLabel="companyName" bindValue="companyId"
                      (change)="setCompanySubDetails($event)"></ng-select>
                    <!-- <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label class="secondary-text">Customer </mat-label>
                                            <mat-select formControlName="customerId">
                                                <div style="padding:15px">
                                                    <input type="text" matInput (keyup)="searchCompany($event)"
                                                        (keydown)="$event.stopPropagation()" autofocus
                                                        placeholder="Search" autocomplete="off" />
                                                </div>
                                                <mat-option *ngFor="let customer of companyListSearch"
                                                    [value]="customer.companyId"
                                                    (click)="setCompanySubDetails(customer)">
                                                    {{ customer.companyName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="opportunitiesForm.controls.customerId.invalid || opportunitiesForm.controls.customerId.touched">
                                                This field is required</mat-error>
                                        </mat-form-field> -->
                    <mat-error class="f-10" *ngIf="
                        opportunitiesForm.controls.customerId.invalid &&
                        opportunitiesForm.controls.customerId.touched
                      ">
                      This field is required</mat-error>
                  </div>
                  <!-- Title [ formControlName="title"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Title</mat-label>
                      <input matInput type="text" formControlName="title" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <!--  Date picker [ formControlName="date"]-->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Date</mat-label>
                      <input formControlName="date" matInput [matDatepicker]="picker" (focus)="picker.open()" readonly
                        autocomplete="off" />
                      <mat-icon matSuffix>close</mat-icon>
                    </mat-form-field>
                  </div>
                  <!--  Status [formControlName="statusId"]-->

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Status</mat-label>
                      <mat-select formControlName="opportunityStatusId">
                        <mat-option *ngFor="
                            let status of listLookups?.opportunity
                              ?.opportunityStatus
                          " [value]="status.id">
                          {{ status.statusDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.opportunityStatusId
                            .invalid ||
                          opportunitiesForm.controls.opportunityStatusId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!--Probability [formControlName="probability"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Probability</mat-label>
                      <input formControlName="probability" (input)="changeWeightedTotal()" matInput type="number"
                        autocomplete="off" />
                      <mat-icon matSuffix>%</mat-icon>
                    </mat-form-field>
                  </div>

                  <!-- Subsidiary [ formControlName="subsidiary"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Subsidiary</mat-label>
                      <mat-select formControlName="subsidiaryId" [disabled]="true">
                        <mat-option *ngFor="
                            let subsidiary of listLookups?.opportunity
                              ?.subsidiaries
                          " [value]="subsidiary.id">
                          {{ subsidiary.subsidiaryDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>





                  <!-- win/loss Reason [ formControlName="winlossreason"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">WinLossReason</mat-label>
                      <mat-select formControlName="winLossReasonId">
                        <mat-option *ngFor="
                            let winlossreason of listLookups?.opportunity
                              ?.winLoss
                          " [value]="winlossreason.id">
                          {{ winlossreason.winLossDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.winLossReasonId.invalid ||
                          opportunitiesForm.controls.winLossReasonId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Sales Rep [ formControlName="salesrep"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Sales Rep</mat-label>
                      <mat-select formControlName="salesRepId" [disabled]="!userDetails.isAdmin">
                        <mat-option *ngFor="
                            let salesrep of listLookups?.opportunity?.salesRep
                          " [value]="salesrep.id">
                          {{ salesrep.salesRepDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.salesRepId.invalid ||
                          opportunitiesForm.controls.salesRepId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Lead Source [ formControlName="leadsource"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Lead Source</mat-label>
                      <mat-select formControlName="leadSourceId">
                        <mat-option *ngFor="
                            let leadsource of listLookups?.company?.leadSource
                          " [value]="leadsource.id">
                          {{ leadsource.leadTypeDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.leadSourceId.invalid ||
                          opportunitiesForm.controls.leadSourceId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!--Memo [formControlName="memo"]  -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Memo</mat-label>
                      <input formControlName="memo" matInput type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <!-- 2 Classification -->
              <mat-tab label="Classification">
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Range - Low</mat-label>
                      <input matInput formControlName="rangeLow" placeholder="0.00" (input)="
                          setRanges(
                            opportunitiesForm.controls['rangeLow'].value
                          )
                        " type="number" autocomplete="off" />
                      <mat-error *ngIf="
                          opportunitiesForm.controls.rangeLow.invalid ||
                          opportunitiesForm.controls.rangeLow.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Range - High</mat-label>
                      <input matInput type="number" placeholder="0.00" formControlName="rangeHigh" autocomplete="off" />
                      <mat-error *ngIf="
                          opportunitiesForm.controls.rangeHigh.invalid ||
                          opportunitiesForm.controls.rangeHigh.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Projected Total</mat-label>
                      <input matInput formControlName="projectedTotal" (input)="
                          setRanges(opportunitiesForm.value.projectedTotal)
                        " placeholder="0.00" type="number" autocomplete="off" />
                      <mat-error *ngIf="
                          opportunitiesForm.controls.projectedTotal.invalid ||
                          opportunitiesForm.controls.projectedTotal.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Weighted Total</mat-label>
                      <input matInput type="number" placeholder="0.00" formControlName="weightedTotal"
                        autocomplete="off" />
                      <mat-error *ngIf="
                          opportunitiesForm.controls.weightedTotal.invalid ||
                          opportunitiesForm.controls.weightedTotal.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Sales Rep [ formControlName="forecasttype"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Forecast Type</mat-label>
                      <mat-select formControlName="forecastTypeId">
                        <mat-option *ngFor="
                            let forecast of listLookups?.opportunity
                              ?.forecastType
                          " [value]="forecast.id">
                          {{ forecast.forecastTypeDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.forecastTypeId.invalid ||
                          opportunitiesForm.controls.forecastTypeId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!--  -->
                </div>
              </mat-tab>
              <!-- 3 Customer Classification -->
              <mat-tab label="Customer Classification">
                <div class="row" style="margin: 10px;">
                  <!--Market Industry [ formControlName="marketindustry"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Market Industry</mat-label>
                      <mat-select formControlName="marketIndustryId">
                        <mat-option *ngFor="
                            let marketindustry of listLookups?.opportunity
                              ?.marketIndustry
                          " [value]="marketindustry.id">
                          {{ marketindustry.marketIndustryDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.marketIndustryId.invalid ||
                          opportunitiesForm.controls.marketIndustryId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!--Product Catagory [ formControlName="productcatagory"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Product Catagory</mat-label>
                      <mat-select formControlName="productCategoryId">
                        <mat-option *ngFor="
                            let productcatagory of listLookups?.opportunity
                              ?.productCategory
                          " [value]="productcatagory.id">
                          {{ productcatagory.productCategoryDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.productCategoryId
                            .invalid ||
                          opportunitiesForm.controls.productCategoryId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <!--Tier Catagory [ formControlName="tier"] -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Tier</mat-label>
                      <mat-select formControlName="tiersId">
                        <mat-option *ngFor="let tier of listLookups?.opportunity?.tiers" [value]="tier.id">
                          {{ tier.tierDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          opportunitiesForm.controls.tiersId.invalid ||
                          opportunitiesForm.controls.tiersId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
        <div class="mt-4" *ngIf="showItemList">
          <mat-card class="item-card p-0">
            <div class="border-bottom w-100 d-flex justify-content-between align-items-center p-3">
              <h1 class="primary-text card-heading m-0">
                <b>Items</b>
              </h1>
              <div class="tab-list-wrapper" *ngIf="!showDisCountPage">
                <button mat-stroked-button (click)="goBackToSelectionList()"
                  [ngClass]="{ active: !showSavedItemsList }">
                  All Items
                </button>
                <button mat-stroked-button (click)="saveAndNext()" [ngClass]="{ active: showSavedItemsList }"
                  [disabled]="opportunityItems.length == 0">
                  Selected Items ({{ opportunityItems.length }})
                </button>
              </div>
              <div *ngIf="showDisCountPage">
                <button mat-stroked-button (click)="goBackToSavedItemsList()" class="green-btn">
                  <mat-icon matPrefix>chevron_left</mat-icon>
                  Back
                </button>
              </div>
            </div>
            <mat-progress-bar *ngIf="!hideSpinnerofTemplate" class="example-margin" [color]="color" [mode]="mode"
              [value]="value" [bufferValue]="bufferValue">
            </mat-progress-bar>
            <div class="w-100 ">
              <div class="border-bottom pb-3 pt-3 ps-3 d-flex justify-content-between"
                *ngIf="!showSavedItemsList && !showDisCountPage">
                <div class="d-flex align-items-center flex-wrap w-90">
                  <div class="tab-list-wrapper">
                    <button mat-stroked-button (click)="goTo('templates')"
                      [ngClass]="{ active: activeTab === 'templates' }">
                      Templates
                    </button>
                    <button mat-stroked-button (click)="goTo('hardware')"
                      [ngClass]="{ active: activeTab === 'hardware' }">
                      Hardware
                    </button>
                    <button mat-stroked-button (click)="goTo('services')"
                      [ngClass]="{ active: activeTab === 'services' }">
                      Services
                    </button>
                    <button mat-stroked-button (click)="goTo('subscriptions')"
                      [ngClass]="{ active: activeTab === 'subscriptions' }">
                      Subscriptions
                    </button>
                  </div>
                  <div class="search-wrapper-for-list w-39">
                    <input type="text" matInput [placeholder]="
                        activeTab === 'templates'
                          ? 'Search templates...'
                          : 'Search items...'
                      " #searchInputElement (keyup)="seach($event, activeTab)" class="w-100" style="top: 0px;"
                      autocomplete="off" />
                    <span class="material-icons secondry-light-text search-icon">search</span>
                    <span class="material-icons secondry-light-text close-icon"
                      (click)="clearSearchInput()">close</span>
                  </div>
                </div>
                <!-- <div class="me-3">
                                    <button mat-raised-button (click)="saveAndNext()"
                                        class="theme-bg c-btn border-none">
                                        <mat-icon matPrefix>chevron_right</mat-icon>
                                        Save & Continue
                                    </button>
                                </div> -->
              </div>
              <div class="border-bottom w-100 pt-3 ps-3 d-flex justify-content-end"
                *ngIf="!showDisCountPage && showSavedItemsList">
                <div class="w-50" style="margin-right: 1.5rem;">
                  <!-- <div class="w-100 mb-3">
                                        <h1 class="primary-text card-heading m-0">
                                            <b>Add Discount</b>
                                        </h1>
                                        <div class="d-flex add-discount">
                                            <button mat-raised-button (click)="selectDiscountType('dollar')"
                                                class="me-2" [ngClass]="{ active: discountType == 'dollar' }">
                                                <mat-icon>attach_money</mat-icon>
                                            </button>
                                            <button mat-raised-button (click)="selectDiscountType('percent')"
                                                [ngClass]="{ active: discountType == 'percent' }">
                                                <mat-icon>%</mat-icon>
                                            </button>
                                        </div> 
                                    </div> -->
                  <div class="w-100 d-flex  d-flex justify-content-between align-items-center mb-3">
                    <mat-form-field appearance="outline" class="w-100 discount-field" style="margin-right: 1rem">
                      <mat-label>Discount</mat-label>
                      <input *ngIf="discountType == 'dollar'" formControlName="dollarDiscount" matInput type="number"
                        (input)="addDiscount(discountType)" placeholder="0.00" autocomplete="off" />
                      <input *ngIf="discountType == 'percent'" placeholder="0" formControlName="percentageDiscount"
                        matInput type="number" (input)="addDiscount(discountType)" autocomplete="off" />
                    </mat-form-field>
                    <div class="d-flex add-discount">
                      <button mat-raised-button (click)="selectDiscountType('dollar')" class="me-2"
                        [ngClass]="{ active: discountType == 'dollar' }">
                        <mat-icon>attach_money</mat-icon>
                      </button>
                      <button mat-raised-button (click)="selectDiscountType('percent')"
                        [ngClass]="{ active: discountType == 'percent' }">
                        <span style="font-size: 2em !important;">%</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- <div class="border-bottom w-100 pb-3 pt-3 ps-3 d-flex justify-content-end"
                                *ngIf="showSavedItemsList || showDisCountPage"> -->
                <!-- <button mat-stroked-button *ngIf="showSavedItemsList && !showDisCountPage"
                                    (click)="goBackToSelectionList()" class="green-btn">
                                    <mat-icon matPrefix>chevron_left</mat-icon>
                                    Back
                                </button> -->
                <!-- <button mat-raised-button color="primary" (click)="saveOppItems()" class="save-btn mx-2"
                                    *ngIf="!showDisCountPage"
                                    [disabled]="!opportunityItems?.length && !rowData?.opportunityItems.length">
                                    <mat-icon matPrefix>chevron_right</mat-icon>
                                    Next
                                </button> -->
              </div>
              <div class="ms-3 me-3" *ngIf="
                  activeTab === 'templates' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <div *ngIf="listTemplates?.length != 0">
                  <mat-accordion class="example-headers-align c-accordian" multi>
                    <mat-expansion-panel *ngFor="let templates of listTemplates">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="primary-text">
                          <mat-checkbox [checked]="templates.selected" matPrefix
                            (change)="calculateTotalValue(templates)" (click)="$event.stopPropagation()" class="px-4">
                          </mat-checkbox>
                          {{ templates.templateName }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="container p-0">
                        <mat-list class="p-0">
                          <mat-list-item *ngFor="let item of templates.items" class="c-mat-list-item">
                            <div>{{ item.quantity }} x {{ item.itemName }}</div>
                            <div>
                              {{ item.amount | number: "1.2-2" || 0.0 }}
                            </div>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <div *ngIf="listTemplates?.length == 0" class="noRecordFound">
                  No Templates Found!
                </div>
              </div>
              <div class="" *ngIf="
                  activeTab === 'hardware' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <!-- <div *ngIf="!listItems" class="loader">Loading...</div> -->
                <table *ngIf="listItems?.length != 0" mat-table [dataSource]="listItems" class="quote-tab w-100">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="
                          selection.toggle(row); calculateHardwareItems(row)
                        " (click)="$event.stopPropagation()" [checked]="selection.isSelected(row) || row.selected"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="basePrice">
                    <th mat-header-cell *matHeaderCellDef>Base Price</th>
                    <td mat-cell *matCellDef="let element">
                      ${{ element.basePrice | number: "1.2-2" }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
                </table>

                <div *ngIf="listItems?.length == 0" class="noRecordFound">
                  No Hardwares Found!
                </div>
                <!-- <div *ngIf="listItems.length != 0"
                                    style="display: flex; justify-content: center; align-items: center; background: white;">
                                    <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50"
                                        mode="indeterminate">
                                    </mat-progress-spinner>
                                </div> -->
              </div>
              <div class="" *ngIf="
                  activeTab === 'services' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <div *ngIf="!listItems" class="loader">Loading...</div>
                <table *ngIf="listItems?.length != 0" mat-table [dataSource]="listItems" class="quote-tab w-100">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="
                          selection.toggle(row); calculateServiceItems(row)
                        " (click)="$event.stopPropagation()" [checked]="selection.isSelected(row) || row.selected"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="basePrice">
                    <th mat-header-cell *matHeaderCellDef>Base Price</th>
                    <td mat-cell *matCellDef="let element">
                      ${{ element.basePrice | number: "1.2-2" }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
                </table>

                <div *ngIf="listItems?.length == 0" class="noRecordFound">
                  No Services Found!
                </div>
              </div>

              <div class="" *ngIf="
                  activeTab === 'subscriptions' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <div *ngIf="!listItems" class="loader">Loading...</div>
                <table *ngIf="listItems?.length != 0" mat-table [dataSource]="listItems" class="quote-tab w-100">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="
                          selection.toggle(row); calculateSubscriptionItems(row)
                        " (click)="$event.stopPropagation()" [checked]="selection.isSelected(row) || row.selected"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="basePrice">
                    <th mat-header-cell *matHeaderCellDef>Base Price</th>
                    <td mat-cell *matCellDef="let element">
                      ${{ 7 * element.basePrice | number: "1.2-2" }}/wk
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
                </table>

                <div *ngIf="listItems?.length == 0" class="noRecordFound">
                  No Subscriptions Found!
                </div>
              </div>
            </div>
            <div class="" *ngIf="showSavedItemsList && !showDisCountPage">
              <!-- <div *ngIf="!opportunityItems" class="loader">Loading...</div> -->
              <table mat-table [dataSource]="opportunityItems" class="w-100">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class="primary-text">
                    Item
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="rate">
                  <th mat-header-cell *matHeaderCellDef class="text-end ps-3 pe-3 primary-text">
                    <b>Base Price</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-end ps-3 pe-3">
                    <span *ngIf="element.segmentId === 3">
                      ${{ element.rate | number: "1.2-2" }}/wk
                    </span>
                    <span *ngIf="element.segmentId !== 3">
                      ${{ element.rate | number: "1.2-2" }}
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef class="text-end ps-3 pe-3 primary-text">
                    <b>Amount</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-end ps-3 pe-3">
                    <span *ngIf="element.segmentId === 3">
                      ${{ element.amount | number: "1.2-2" }}/wk
                    </span>
                    <span *ngIf="element.segmentId !== 3">
                      ${{ element.amount | number: "1.2-2" }}
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef class="text-end primary-text">
                    <b>Quantity</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-end">
                    <button mat-stroked-button (click)="decreaseItemQuantity(element)" class="me-3">
                      <mat-icon class="secondary-text">remove</mat-icon>
                    </button>
                    {{ element.quantity }}
                    <button mat-stroked-button [disabled]="element.segmentId === 3"
                      (click)="increaseItemQuantity(element)" class="ms-3">
                      <mat-icon class="secondary-text">add</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayOpportunityItems"></tr>
                <tr mat-row *matRowDef="let row; columns: displayOpportunityItems" (click)="selection.toggle(row)"></tr>
              </table>

              <div *ngIf="!opportunityItems.length"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </div>
            <div *ngIf="showDisCountPage" class="col-lg-12">
              <div class="row m-0 pt-5 pb-5">
                <div class="col-lg-8 border-right">
                  <div class="summry-card">
                    <h1 class="primary-text card-heading m-0 mb-3">
                      <b>Summary</b>
                    </h1>
                    <div class="border-bottom">
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Services</p>
                        <p class="primary-text m-0">
                          ${{ totalServiceAmount | number: "1.2-2" || 0.0 }}
                        </p>
                      </div>
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Hardware</p>
                        <p class="primary-text m-0">
                          ${{ totalHardwareAmount | number: "1.2-2" || 0.0 }}
                        </p>
                      </div>
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Discount</p>
                        <p class="primary-text m-0">
                          ${{
                          opportunitiesForm.controls["discountAmount"].value
                          | number: "1.2-2" || 0.0
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="pt-2 pb-2 ">
                      <div class="summery-content">
                        <p class="primary-text m-0"><b>GRAND TOTAL</b></p>
                        <p class="primary-text m-0">
                          <b>
                            ${{
                            opportunitiesForm.controls["amountAfterDiscount"]
                            .value | number: "1.2-2" || 0.0
                            }}</b>
                        </p>
                      </div>
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Subscription</p>
                        <p class="primary-text m-0">
                          ${{
                          totalSubscriptionAmount | number: "1.2-2" || 0.0
                          }}/wk
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="w-100">
                    <div class="w-100 d-flex justify-content-between align-items-center mb-3">
                      <h1 class="primary-text card-heading m-0">
                        <b>Add Discount</b>
                      </h1>
                      <div class="d-flex add-discount">
                        <button mat-raised-button (click)="selectDiscountType('dollar')" class="me-2"
                          [ngClass]="{ active: discountType == 'dollar' }">
                          <mat-icon>attach_money</mat-icon>
                        </button>
                        <button mat-raised-button (click)="selectDiscountType('percent')"
                          [ngClass]="{ active: discountType == 'percent' }">
                          <mat-icon>%</mat-icon>
                        </button>
                      </div>
                    </div>
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label class="secondary-text">Discount</mat-label>
                      <input *ngIf="discountType == 'dollar'" formControlName="dollarDiscount" matInput type="number"
                        (input)="addDiscount(discountType)" placeholder="0.00" autocomplete="off" />
                      <input *ngIf="discountType == 'percent'" placeholder="0" formControlName="percentageDiscount"
                        matInput type="number" (input)="addDiscount(discountType)" autocomplete="off" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div style="box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.08);" *ngIf="
                activeTab === 'templates' &&
                !showDisCountPage &&
                !showSavedItemsList
              ">
              <div *ngIf="!hideSpinnerofTemplate"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
              <mat-card class="">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="w-100">
                    <p class="m-0">
                      {{ totalSelectedCheckBox }} items Selected
                    </p>
                  </div>
                  <!-- <div class="text-right w-100">
                                        <button mat-raised-button class="theme-bg c-btn">
                                            Select
                                        </button>
                                    </div> -->
                </div>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="w-100">
          <mat-card class="summry-card pb-0">
            <h1 class="primary-text card-heading m-0 mb-3"><b>Summary</b></h1>
            <!--  // no data-found card -->

            <!-- <div class="no-content">
                        <h2 class="primary-text c-h2">No Summry data</h2>
                        <p class="secondry-light-text">Please add data to see the summary</p>
                    </div> -->
            <div class="border-bottom">
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Services</p>
                <p class="primary-text m-0 f-12">
                  ${{ totalServiceAmount | number: "1.2-2" || 0.0 }}
                </p>
              </div>
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Hardware</p>
                <p class="primary-text m-0 f-12">
                  ${{ totalHardwareAmount | number: "1.2-2" || 0.0 }}
                </p>
              </div>
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Discount</p>
                <p class="primary-text m-0 f-12">
                  ${{
                  opportunitiesForm.controls["discountAmount"].value
                  | number: "1.2-2" || 0.0
                  }}
                </p>
              </div>
              <!-- <div class="summery-content">
                                <p class="secondry-light-text m-0">Subscription</p>
                                <p class="primary-text m-0">1,000.00 AUD</p>
                            </div>
                            <div class="summery-content">
                                <p class="secondry-light-text m-0">Subscription</p>
                                <p class="primary-text m-0">1,000.00 AUD</p>
                            </div> -->
            </div>
            <div class="pt-2 pb-2 ">
              <div class="summery-content">
                <p class="primary-text m-0 f-12"><b>GRAND TOTAL</b></p>
                <p class="green-text m-0 f-12">
                  <b>${{
                    opportunitiesForm.controls["amountAfterDiscount"].value
                    | number: "1.2-2"
                    }}</b>
                </p>
              </div>
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Subscription</p>
                <p class="primary-text m-0 f-12">
                  ${{ totalSubscriptionAmount | number: "1.2-2" }}/wk
                </p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="w-100 mt-4" *ngIf="showExtras">
          <mat-card class="related-contact-card ">
            <div class="d-flex justify-content-between align-items-center ">
              <h1 class="primary-text card-heading m-0">
                <b> Contacts</b>
              </h1>
              <div class="d-flex align-items-center justify-content-end
                flex-wrap">
                <div class="me-2">
                  <h5 class="m-0 f-12">
                    Total :
                    {{
                    contactData && contactData.length
                    ? contactData.length
                    : "0"
                    }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12 input-cc">
                <!-- <mat-form-field appearance="outline" class="w-100">
                                    <mat-icon matPrefix>search</mat-icon>
                                    <mat-label>Add Contacts</mat-label>
                                    <mat-select>
                                        <div style="padding:15px">
                                            <input matInput (keyup)="searchParent($event)"
                                                (keydown)="$event.stopPropagation()" autofocus placeholder="Search"
                                                autocomplete="off" />
                                        </div>
                                        <mat-option *ngFor="let obj of contactListSearch; let i = index"
                                            (click)="updateContacts(obj)" [value]="obj.name">
                                            {{ obj.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                <ng-select class="custom" placeholder="Search Contacts" appearance="outline" #ngSelectComponent
                  [items]="contactListSearch" [virtualScroll]="true" bindLabel="name" bindValue="name"
                  (change)="updateContacts($event)">
                </ng-select>
              </div>
            </div>
            <div *ngIf="showContactsLoader"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div class="no-content" *ngIf="showContactsNoRecMsg">
              <h4 class="primary-text c-h2 f-12">No Contact Found!</h4>
            </div>

            <div class="contact-height" *ngIf="contactData.length > 0">
              <div class="row d-flex justify-content-between align-items-center border-bottom pb-2 pt-3"
                *ngFor="let contact of contactData" (click)="gotoContact(contact)">
                <div class="col-lg-10 row">
                  <div class="col-lg-5">
                    <h5 class="primary-text c-h2 m-0 c-purple f-12">
                      {{ contact.name }}
                    </h5>
                    <h5 class="grey-color f-12">
                      {{ contact.phone || "No Phone" }}
                    </h5>
                  </div>
                  <div class="col-lg-5">
                    <h5 class="grey-color m-0 c-h2  f-12">
                      {{ contact?.jobTitle || "No Job title" }}
                    </h5>
                    <h5 class="grey-color f-12">
                      {{ contact?.email || "No Email" }}
                    </h5>
                  </div>
                </div>
                <div class="col-lg-2" style="margin-bottom: auto;">
                  <h5 *ngIf="contact?.role" style="width: fit-content;float: right;" class="blue-badge ">
                    {{ contact?.role }}
                  </h5>
                  <h5 *ngIf="contact?.role == '' || !contact?.role" class="m-0 f-12"
                    style="width: fit-content;float: right;">
                    No Role
                  </h5>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="mt-4" *ngIf="showExtras">
          <mat-card class="related-contact-card ">
            <div class="d-flex justify-content-between align-items-center ">
              <h1 class="primary-text card-heading m-0">
                <b>Recent Activities </b>
              </h1>
              <div class="d-flex align-items-center justify-content-end
                                                    flex-wrap">
                <div class="me-2">
                  <h5 class="m-0 f-12">
                    Total :
                    {{
                    relatedActivityArray && relatedActivityArray.length
                    ? relatedActivityArray.length
                    : "0"
                    }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="contact-height" *ngIf="relatedActivityArray.length > 0">
              <div class="d-flex align-items-center border-bottom pb-2 pt-2 c-pointer"
                *ngFor="let activity of relatedActivityArray">
                <div class="img-wrapper blue">
                  <img src="../../../assets/img/list_icon.svg" />
                </div>
                <div (click)="showdetails(activity)">
                  <h4 class="primary-text c-h2 m-0 mb-2 c-purple f-12 ">
                    {{ activity.title }}
                  </h4>
                  <p class="secondry-light-text f-12 ">
                    {{ activity.startDate | date: "dd MMM YYYY hh:mm a" }}
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf="showActivitiesLoader"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div *ngIf="showActivitiesNoRecMsg" class="no-content ">
              <h4 class="primary-text c-h2 f-12">No Activity Found</h4>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>