.opportunities-content {
    background: #f5f6f8;
    height: 100%;
    padding: 2px 12px 0px 13px;
}

td {
    padding-left: 12px;
    font-size: 12px;
}

.activetParticipents {
    margin-top: 5px;
    background-color: #c8acfa;
}

.img-wrapper {
    height: 43px;
    min-width: 56px;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.pl-33 {
    padding-left: 23px;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.ml-10 {
    margin-left: 10px;
}

.activity-description{
    margin-bottom: 10px;
    text-align: justify;
}