<div class="content-header">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="m-0"> {{ activityDetails.title }} </h1>
        <div>
            <h1 class="m-0">
                <span class="green-badge" *ngIf="activityDetails.type == 'Event'">
                    {{ activityDetails.type }}
                </span>
                <span class="orange-badge" *ngIf="activityDetails.type == 'Call' || activityDetails.type == 'Phone'">
                    {{ activityDetails.type }}
                </span>
                <span class="blue-badge" *ngIf="activityDetails.type == 'Task'">
                    {{ activityDetails.type }}
                </span>
            </h1>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-right">
        <button mat-mini-fab class="me-2 custom-edit-btn-size" matTooltip="Edit" (click)="EditClick()">
            <span class="material-icons">
                edit
            </span>
        </button>
        <button mat-mini-fab class="me-2 custom-cancel-btn-size" matTooltip="Cancel" (click)="ViewActivity()">
            <span class="material-icons">
                close
            </span>
        </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 text-right"></div>
</div>
<div class="opportunities-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="w-100 p-0">
                <mat-card class="related-contact-card p-0 w-100">
                    <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode"
                        [value]="value" [bufferValue]="bufferValue">
                    </mat-progress-bar>
                    <mat-tab-group mat-align-tabs="start" class="content">
                        <!-- #enddocregion align-start -->
                        <mat-tab label="Primary Information">
                            <div *ngIf="activityDetails.title">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33">Company</mat-label><br>
                                        <a href="javascript:void(0)"
                                            style="cursor: pointer;text-decoration: none;color: #ff4081;"
                                            (click)="gotoCompany(activityDetails)"
                                            *ngIf="activityDetails.relatedCustomer">
                                            <mat-label class="pl-33">{{ activityDetails.relatedCustomer || "N/A"}}
                                            </mat-label>
                                        </a>
                                        <mat-label class="pl-33" *ngIf="activityDetails.relatedCustomer==''">-
                                        </mat-label>

                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="c-purple "> Transaction</mat-label><br>
                                        <a href="javascript:void(0)"
                                            style="cursor: pointer;text-decoration: none;color: #ff4081;"
                                            (click)="gotoTranslation(activityDetails)">
                                            <mat-label
                                                *ngIf="activityDetails.relatedTransaction && activityDetails.relatedTransaction !='' && !activityDetails.relatedTransactionId">
                                                {{ activityDetails.relatedTransaction}}
                                            </mat-label>
                                            <mat-label
                                                *ngIf="!activityDetails.relatedTransaction && activityDetails.relatedTransaction== '' && activityDetails.relatedTransactionId ">
                                                <span
                                                    *ngIf="activityDetails.transactionType?.toLowerCase().includes('quote')">
                                                    QUO#{{activityDetails.relatedTransactionId}}
                                                </span>
                                                <span
                                                    *ngIf="activityDetails.transactionType?.toLowerCase().includes('opp')">
                                                    OPP#{{activityDetails.relatedTransactionId}}
                                                </span>
                                            </mat-label>
                                            <mat-label
                                                *ngIf="(!activityDetails.relatedTransaction && activityDetails.relatedTransaction == '' && !activityDetails.relatedTransactionId)">
                                                -
                                            </mat-label>
                                            <!-- <span
                                                *ngIf="(activityDetails.relatedTransaction && activityDetails.relatedTransactionId) || (activityDetails.RelatedTransaction && activityDetails.RelatedTransactionId)">
                                                {{ activityDetails.relatedTransaction ? activityDetails.relatedTransaction :
                                                activityDetails.RelatedTransaction ? activityDetails.RelatedTransaction : '-' }}</span>
                                            <span
                                                *ngIf="((!activityDetails.relatedTransaction && activityDetails.relatedTransactionId) || (!activityDetails.RelatedTransaction && activityDetails.RelatedTransactionId))">
                                                <span *ngIf="activityDetails.transactionType?.toLowerCase().includes('quote')">
                                                    QUO#{{activityDetails.relatedTransactionId ? activityDetails.relatedTransactionId :
                                                    activityDetails.RelatedTransactionId}}
                                                </span>
                                                <span *ngIf="activityDetails.transactionType?.toLowerCase().includes('opp')">
                                                    OPP#{{activityDetails.relatedTransactionId ? activityDetails.relatedTransactionId
                                                    :activityDetails.RelatedTransactionId}}
                                                </span>
                                            </span>
                                            <span
                                                *ngIf="(!activityDetails.relatedTransaction && !activityDetails.relatedTransactionId) && (!activityDetails.RelatedTransaction && !activityDetails.RelatedTransactionId)">
                                                -</span>
                                                <mat-label *ngIf="activityDetails.relatedTransaction==''">N/A</mat-label> -->
                                        </a>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33"> Contacts</mat-label><br>
                                        <a href="javascript:void(0)"
                                            style="cursor: pointer;text-decoration: none;color: #ff4081;"
                                            (click)="gotoRelatedContact(activityDetails)"
                                            *ngIf="activityDetails.relatedContact">
                                            <mat-label class="pl-33">{{ activityDetails.relatedContact}}
                                            </mat-label>
                                        </a>
                                        <mat-label class="pl-33" *ngIf="activityDetails.relatedContact==''">N/A
                                        </mat-label>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="c-purple">Sales Rep</mat-label><br>
                                        <mat-label>{{ activityDetails.salesRep ||"N/A"}}</mat-label>

                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px"
                                    *ngIf="activityDetails.type=='Call' ||activityDetails.type=='Phone'">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33">Phone Number</mat-label><br>
                                        <mat-label class="pl-33">{{ activityDetails.phone ||"N/A"}}
                                        </mat-label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33">Participants</mat-label><br>
                                        <mat-label class="pl-33" *ngIf="listParticipants.length==0">N/A</mat-label>
                                        <div *ngIf="listParticipants.length>0" class="mb-3 ml-10">
                                            <mat-chip-list class="flex-full-width">
                                                <ng-container *ngFor="let contact  of listParticipants">
                                                    <mat-basic-chip class="activetParticipents f-12" [disabled]="true"
                                                        style="pointer-events: none;">
                                                        {{contact.firstName}}
                                                        {{contact?.middleName?.slice(0,1).toUpperCase() }}
                                                        {{contact.lastName}}
                                                    </mat-basic-chip>
                                                </ng-container>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="c-purple">Title</mat-label><br>
                                        <mat-label>{{ activityDetails.title ||"N/A"}}</mat-label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33">Start Date</mat-label><br>
                                        <mat-label class="pl-33">
                                            {{ activityDetails.startDate | date: "dd MMM YYYY" ||"N/A"}}
                                        </mat-label>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="c-purple">End Date</mat-label><br>
                                        <mat-label> {{ activityDetails.endDate | date: "dd MMM YYYY" ||"N/A"}}
                                        </mat-label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33">Start Time</mat-label><br>
                                        <mat-label class="pl-33">
                                            {{ activityDetails.startTime | date: "hh:mm a" ||"N/A"}}
                                        </mat-label>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="c-purple">End Time</mat-label><br>
                                        <mat-label>{{ activityDetails.endTime | date: "hh:mm a" ||"N/A"}}</mat-label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px">
                                    <div class="col-md-6">
                                        <mat-label class="c-purple pl-33">Description</mat-label><br>
                                        <div class="pl-33 activity-description" [ngClass]="{'c-desc': !showMoreCmnt}">{{
                                            activityDetails.message || "N/A"}}
                                        </div>
                                        <!-- <span (click)="showMore()" class="show-content" *ngIf="!showMoreCmnt && ">Show
                                            More</span>
                                        <span (click)="showMore()" *ngIf="showMoreCmnt" class="show-content">Show
                                            Less</span> -->
                                    </div>
                                    <div class="col-md-6">
                                        <mat-label class="c-purple">Status</mat-label><br>
                                        <mat-label>{{activityDetails.status||"N/A"}}
                                        </mat-label>
                                        <!-- <a mat-raised-button class="c-btn img-wrapper" *ngIf="activityDetails.statusId==2">Scheduled</a>
              <a mat-raised-button class="c-btn img-wrapper" *ngIf="activityDetails.statusId==1">Completed</a> -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!activityDetails.title"
                                style="display: flex; justify-content: center; align-items: center; background: white;">
                                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50"
                                    mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
        </div>
    </div>
</div>