.quotes-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}

.cc-header-wrapper {
    display: flex;
}

.table {
    width: 100%;
}

.pl-17 {
    padding-left: 17px;
}

.c-btn {
    border-radius: 6px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.red-btn {
    background: #ed2626;
    color: #ffffff;
}

.contact-list-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}
