<!-- <app-header></app-header> -->
<div class="content-header">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="cc-header-wrapper">
            <div>
                <h2 class="m-0">Quotes</h2>
                <p class="m-0 f-12">
                    Total: {{ quoteList.length ? quoteList.length : "0" }}
                </p>
            </div>
            <!-- <div class="w-50 pl-17 mat-select-wrapper me-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="inputEvent($event)" [(ngModel)]="searchText" />
        </mat-form-field>
      </div>
      <div> -->
            <div class="search-wrapper-for-list w-50">
                <input matInput type="text" placeholder="Search..." [(ngModel)]="searchText"
                    (keyup)="onFilter(searchText)" class="w-100" style="top: 0px;" autocomplete="off">
                <span class="material-icons secondry-light-text search-icon">search</span>
                <span class="material-icons secondry-light-text close-icon" *ngIf="searchText"
                    (click)="clear()">close</span>
            </div>
            <div class="ml-1">
                <button mat-mini-fab class="me-2 custom-filter-btn-size" (click)="openFilter()">
                    <span class="material-icons">
                        filter_list
                    </span>
                </button>
                <button mat-mini-fab class="custom-add-btn-size" (click)="addQuotes()">
                    <span class="material-icons">
                        add
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-right f-12">
        <!-- <span class="me-2" *ngIf="mainDataSource && mainDataSource.length">{{ dataSource?.filteredData?.length }} Records
            Found</span> -->
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" [pageSize]="100" showFirstLastButtons
            [showTotalPages]="3" [length]="duplicateDataSource.length" (page)="onChangePage($event)">
        </mat-paginator>
    </div>
</div>
<div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <div class="row input-cc" *ngIf="showFilter">
        <div class="row">
            <div class="col-md-2">
                <!-- <mat-form-field appearance="outline" class="w-100 c-searchbar">
                        <mat-label>Company</mat-label>
                        <mat-select [(ngModel)]="Company" [ngModelOptions]="{ standalone: true }">
                            <mat-option *ngFor="let obj of companyList" [value]="obj.legalName"
                                (click)="filterTypeChange(obj)">
                                {{ obj.legalName }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix (click)="clearFilterCompany($event)" *ngIf="Company">close</mat-icon>
                    </mat-form-field> -->
                <!-- <mat-form-field appearance="outline" class="w-100 c-searchbar ">
                        <mat-label>Company</mat-label>
                        <mat-select [(ngModel)]="Company" (click)="clearCompanyDetails()"
                            [ngModelOptions]="{ standalone: true }">
                            <div style="padding:15px">
                                <input type="text" matInput (keyup)="searchCompany($event)"
                                    (keydown)="$event.stopPropagation()" [(ngModel)]="Company" autofocus
                                    placeholder="Search" autocomplete="off" />
                            </div>
                            <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyName"
                                (click)="filterTypeChange(obj)">
                                {{ obj.companyName }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix (click)="clearFilterCompany($event)" *ngIf="Company">close</mat-icon>
                    </mat-form-field> -->
                <ng-select placeholder="Company" [items]="companyListSearch" appearance="outline" [virtualScroll]="true"
                    [(ngModel)]="Company" bindLabel="companyName" bindValue="companyId"
                    (change)="filterTypeChange($event)"></ng-select>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100 c-searchbar">
                    <mat-label>Quote Status</mat-label>
                    <mat-select [(ngModel)]="QuoteStatus" [ngModelOptions]="{ standalone: true }">
                        <mat-option *ngFor="let obj of QuoteStatusList" [value]="obj.id"
                            (click)="filterTypeChange(obj)">
                            {{ obj.statusDescription }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix (click)="clearFilterQuoteStatus($event)" *ngIf="QuoteStatus">close
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100 c-searchbar">
                    <mat-label>Sales Rep</mat-label>
                    <mat-select [(ngModel)]="salesRep || defaultSalesRep" [disabled]="!userIsAdmin"
                        [ngModelOptions]="{ standalone: true }">
                        <mat-option *ngFor="let obj of salesRepList" [value]="obj.salesRepDescription"
                            (click)="filterTypeChange(obj)">
                            {{ obj.salesRepDescription }}
                        </mat-option>
                    </mat-select>

                    <mat-icon matSuffix (click)="clearFilterSalesRep($event)"
                        *ngIf="(salesRep || defaultSalesRep) && userIsAdmin">
                        close</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <!--   <mat-form-field appearance="outline" class="w-100 c-searchbar">
                                        <mat-label class="secondary-text">Date</mat-label>
                                        <input matInput [matDatepicker]="picker" (click)="picker.open()"
                                            (dateInput)="filterTypeChange($event)" [(ngModel)]="datepicker" />
                                        <mat-icon matSuffix (click)="clearFilterDatePicker($event)" *ngIf="datepicker">close</mat-icon>
                                        <mat-icon (click)="picker.open()" *ngIf="!datepicker" matSuffix>calendar_today</mat-icon>
                                    </mat-form-field>
                                    <mat-datepicker #picker></mat-datepicker> -->
                <mat-form-field appearance="outline" class="w-100 c-searchbar">
                    <mat-label class="secondary-text">Select date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="startDate" (dateChange)="filterTypeChange($event)"
                            placeholder="Start date" autocomplete="off">
                        <input matEndDate [(ngModel)]="endDate" (dateChange)="filterTypeChange($event)"
                            placeholder="End date" autocomplete="off">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label class="secondary-text">Expected Close Date</mat-label>
                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()"
                        (dateInput)="filterTypeChange($event)" [(ngModel)]="expectedClose" autocomplete="off" />
                    <mat-icon (click)="picker1.open()" *ngIf="!expectedClose" matSuffix>calendar_today</mat-icon>
                    <mat-icon matSuffix (click)="clearFilterExpectedDatePicker($event)" *ngIf="expectedClose">close
                    </mat-icon>
                </mat-form-field>

                <mat-datepicker #picker1></mat-datepicker>
            </div>
            <!-- <div class="col-md-2">
                <button mat-mini-fab class="custom-close-btn-size mtop-23" color="warn" matTooltip="Clear All"
                    (click)="clearSearch()">
                    <span class="material-icons"> clear </span>
                </button>
            </div> -->
            <div class="col-md-2">
                <button mat-mini-fab class="custom-close-btn-size" style="margin-top: 4%;" matTooltip="Clear All"
                    color="warn" (click)="clearSearch()">
                    <span class="material-icons">clear</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="quotes-content">
    <mat-card class="w-100">
        <!-- <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
            <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode"
                [value]="value" [bufferValue]="bufferValue">
            </mat-progress-bar>
            <table mat-table [dataSource]="dataSource" class="w-100" matSort style="cursor: pointer;">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>EST No.</th>
                    <td mat-cell *matCellDef="let element" (click)="viewRow(element)">
                        <span class="custom-link">{{
                            element.documentNumber
                            ? element.documentNumber
                            : "ESTBG" + element.id

                            || '-'}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
                    <td mat-cell *matCellDef="let element">{{ element.name ||'-'}}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.title ||'-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.date ||'-' | date: "dd MMM YYYY" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="expectedClose">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Expected Close</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.expectedClose ||'-' | date: "dd MMM YYYY" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element">{{ element.status ||'-'}}</td>
                </ng-container>
                <ng-container matColumnDef="probability">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Probability</th>
                    <td mat-cell *matCellDef="let element">{{ element.probability ||'-'}}</td>
                </ng-container>
                <ng-container matColumnDef="salesRep">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Rep</th>
                    <td mat-cell *matCellDef="let element">{{ element.salesRep ||'-' }}</td>
                </ng-container>
                <ng-container matColumnDef="opportunity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opportunity</th>
                    <td mat-cell *matCellDef="let element">{{ element.opportunity ||'-' }}</td>
                </ng-container>
                <ng-container matColumnDef="forecastType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Forecast Type
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.forecastType ||'-' }}</td>
                </ng-container>
                <ng-container matColumnDef="amountAfterDiscount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                    <td mat-cell *matCellDef="let element">
                        $ {{ element.amountAfterDiscount | number: "1.2-2" ||'-' }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div *ngIf="!dataSource"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource?.filteredData?.length  == 0"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-label>No records found!</mat-label>
            </div>
        </div> -->
        <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
            <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode"
                [value]="value" [bufferValue]="bufferValue">
            </mat-progress-bar>
            <kendo-grid [data]="mainDataSource" kendoGridSelectBy="id" [sortable]="true" [sort]="sort"
                [loading]="showProgressBar" [sortable]="{allowUnsort: false,mode: 'single' }"
                (sortChange)="sortQuoteList($event)" [groupable]="false" [reorderable]="true" [resizable]="true"
                [height]="813" [columnMenuOptions]="{ columnChooser: false }" #grid="kendoGrid">
                <ng-template kendoGridNoRecordsTemplate>
                    No quotes found!. <a (click)="refreshGrid()">Click here to refresh</a>.
                </ng-template>
                <ng-template kendoGridToolbarTemplate style="padding-left: 660px;">
                    <kendo-grid-spacer></kendo-grid-spacer>
                    <!-- <div class="exportIcon" matTooltip="Excel" kendoGridExcelCommand>
                        <mat-icon>description</mat-icon>
                    </div>

                    <div class="exportIcon" matTooltip="CSV">
                        <mat-icon (click)="exportToCsv()">article</mat-icon>
                    </div> -->
                    <kendo-grid-column-chooser></kendo-grid-column-chooser>
                </ng-template>
                <kendo-grid-column class="custom-link" field="name" [locked]="true" [width]="200" title="EST No."
                    [filterClass]="{'accented': true}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="custom-link" (click)="viewRow(dataItem)">{{
                            dataItem.documentNumber
                            ? dataItem.documentNumber
                            : "ESTBG" + dataItem.id

                            || '-'}}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="name" [width]="200" title="Customer">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.name || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="400" field="title" title="Title">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.title || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="date" [width]="150" title="Date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.date | date: 'dd MMM YYYY'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="salesRep" [width]="150" title="Sales Rep">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.salesRep || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="status" [width]="150" title="Status">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.status || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="probability" [width]="150" title="Probability">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <!-- {{dataItem.probability + '%' || '-'}} -->
                        <span *ngIf="dataItem.probability "> {{dataItem.probability }} %</span>
                        <span *ngIf="!dataItem.probability "> - </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="expectedClose" [width]="150" title="Expected Close">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.expectedClose | date: 'dd MMM YYYY'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="opportunity" [width]="200" title="Opportunity">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{'OPP#' + dataItem.opportunity}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="forecastTypeId" [width]="150" title="Forecast Type">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{getForeCastTypeById(dataItem.forecastTypeId) || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="amountAfterDiscount" [width]="150" title="Total Amount">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        $ {{dataItem.amountAfterDiscount | number:'1.2-2' || 0}}
                    </ng-template>
                </kendo-grid-column>
                <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <!-- <kendo-pager-info></kendo-pager-info> -->
                    {{currentPage}}
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[10, 20, 30, 50, 75, 100]"></kendo-pager-page-sizes>
                </ng-template>
                <!-- <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                <kendo-grid-excel fileName="Quotes.xlsx"></kendo-grid-excel>
            </kendo-grid>
            <!-- <div *ngIf="!dataSource"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
            </div> -->
        </div>
    </mat-card>
</div>