<div id="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="onToggleFab()">
</div>
<div class='fab-container' [style.flexDirection]="reverseColumnDirection?'column-reverse':'column'">
    <button matTooltip="Add" mat-raised-button mat-fab class="custom-add-btn-size fab-toggler" (click)="onToggleFab()">
        <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i>
    </button>
    <div [className]="reverseColumnDirection?'column-reverse fab-btn':'column fab-btn'" [@speedDialStagger]="buttons.length">
        <div *ngFor="let btn of buttons" [ngClass]="btn.class">
            <div class="btn-name-tooltip">{{btn.tooltip}}</div>
            <button mat-mini-fab class="fab-secondary" color="secondary" (click)="onClickFab(btn)">
                <i class="material-icons">{{btn.icon}}</i>
            </button>
        </div>
    </div>
</div>