.fab-container {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    >div.column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
    >div.column-reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5px;
    }
}

.fab-btn {
    position: absolute;
    top: 0;
    right: 40px;
    margin-top: 0px !important;
    flex-direction: row !important;
    button {
        margin-bottom: 0px !important;
        margin-top: 2px !important;
    }
}

.fab-toggler {
    z-index: 999;
    i {
        font-size: 18px;
        line-height: 17px;
    }
}

#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #ffffffc9;
}

.mat-fab {
    border-radius: 40px !important;
    height: 28px !important;
    width: 28px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-button-wrapper {
        padding: 0 !important;
    }
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: #7e38fb;
}