//dashboard table
.custom-dashboard-table {
    cursor: pointer;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    display: block;
}

.c-custom-dashboard-table {
    max-height: calc(100vh - 250px);
}

.c-custom-dashboard-calender {
    max-height: calc(100vh - 250px);
}

.c-event-btn {
    width: auto;
    height: 35px;
    min-width: unset;
    border-radius: 27px;
    align-items: center;
    justify-content: center;
}

.active-btn {
    color: white;
    height: 35px;
    min-width: unset;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    border-radius: 27px;
    align-items: center;
    justify-content: center;
    border: none;
}

.in-active-btn {
    background-color: white;
}

.c-event-card {
    justify-content: space-between;
}

.event-color {
    margin-right: 7px !important;
}

.note-color {
    margin-right: 7px !important;
}

.align-self-center {
    align-self: center;
}

.c-card-class {
    margin-top: 1px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 0%), 0px 1px 1px 0px rgb(0 0 0 / 0%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    border-radius: 0px !important;
}

.header-title {
    font-weight: 500 !important;
    margin: 10px 0px 0px 27px !important;
}

.fw-600 {
    font-weight: 600 !important;
}

//time line stepper
.stepper-timeline {
    padding: 0 12%;
    *,
    *:after,
    *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    a {
        color: #acb7c0;
        background-color: #e9f0f5;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
    }
    .status-container {
        /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
        width: 93%;
        // max-width: 1170px;
        margin: 0 auto;
    }
    .status-container::after {
        /* clearfix */
        content: "";
        display: table;
        clear: both;
    }
    #status-timeline {
        position: relative;
        padding: 2em 0;
        // margin-top: 2em;
        // margin-bottom: 2em;
    }
    #status-timeline::before {
        /* this is the vertical line */
        content: "";
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #f2ebff;
    }
    @media only screen and (min-width: 1170px) {
        #status-timeline {
            // margin-top: 3em;
            // margin-bottom: 3em;
        }
        #status-timeline::before {
            left: 0;
            // margin-left: -2px;
        }
    }
    .status-timeline-block {
        position: relative;
        margin: 2em 0;
    }
    .status-timeline-block:after {
        content: "";
        display: table;
        clear: both;
    }
    .status-timeline-block:first-child {
        margin-top: 0;
    }
    .status-timeline-block:last-child {
        margin-bottom: 0;
    }
    @media only screen and (min-width: 1170px) {
        .status-timeline-block {
            margin: 2em 0;
        }
        .status-timeline-block:first-child {
            margin-top: 0;
        }
        .status-timeline-block:last-child {
            margin-bottom: 0;
        }
    }
    .status-timeline-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: none;
    }
    .status-timeline-img img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }
    .status-timeline-img.status-call {
        background: #fff3e0;
        background-image: url(../../../assets/img/add-calls.png);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: contain;
    }
    .status-timeline-img.status-event {
        background: #f0f9f9;
        background-image: url(../../../assets/img/add-events.png);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: contain;
    }
    .status-timeline-img.status-Tasks {
        background: #e3f2fd;
        background-image: url(../../../assets/img/add-task.png);
        background-repeat: no-repeat;
        background-position: center;
        // background-size: contain;
    }
    @media only screen and (min-width: 1170px) {
        .status-timeline-img {
            width: 40px;
            height: 40px;
            left: 0;
            margin-left: -21px;
            /* Force Hardware Acceleration in WebKit */
            -webkit-transform: translateZ(0);
            -webkit-backface-visibility: hidden;
        }
        .cssanimations .status-timeline-img.is-hidden {
            visibility: hidden;
        }
        .cssanimations .status-timeline-img.bounce-in {
            visibility: visible;
            -webkit-animation: status-bounce-1 0.6s;
            -moz-animation: status-bounce-1 0.6s;
            animation: status-bounce-1 0.6s;
        }
    }
    @-webkit-keyframes status-bounce-1 {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.5);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(1.2);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }
    @-moz-keyframes status-bounce-1 {
        0% {
            opacity: 0;
            -moz-transform: scale(0.5);
        }
        60% {
            opacity: 1;
            -moz-transform: scale(1.2);
        }
        100% {
            -moz-transform: scale(1);
        }
    }
    @keyframes status-bounce-1 {
        0% {
            opacity: 0;
            -webkit-transform: scale(0.5);
            -moz-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            transform: scale(0.5);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
        100% {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
    }
    .status-timeline-content {
        position: relative;
        margin-left: 60px;
        background: #f2ebff;
        border-radius: 0.25em;
        padding: 1em;
        box-shadow: 0 3px 0 #9e38fb;
    }
    .background-call {
        position: relative;
        margin-left: 60px;
        background: #fff3e0 !important;
        border-radius: 0.25em;
        padding: 1em;
        box-shadow: 0 3px 0 #ff9800 !important;
    }
    .background-event {
        position: relative;
        margin-left: 60px;
        background: #f0f9f9 !important;
        border-radius: 0.25em;
        padding: 1em;
        box-shadow: 0 3px 0 #65c8c6 !important;
    }
    .background-task {
        position: relative;
        margin-left: 60px;
        background: #e3f2fd !important;
        border-radius: 0.25em;
        padding: 1em;
        box-shadow: 0 3px 0 #2196f3 !important;
    }
    .status-timeline-content:after {
        content: "";
        display: table;
        clear: both;
    }
    .status-timeline-content h2 {
        color: #303e49;
    }
    .status-timeline-content p,
    .status-timeline-content ul,
    .status-timeline-content .status-read-more,
    .status-timeline-content .status-date {
        font-size: 13px;
        font-size: 0.8125rem;
    }
    .status-timeline-content .status-read-more,
    .status-timeline-content .status-date {
        display: inline-block;
    }
    .status-timeline-content p {
        margin: 1em 0;
        line-height: 1.6;
    }
    .status-timeline-content ul {
        margin: 1em 0;
        line-height: 1.6;
        padding: 0;
        list-style: none;
    }
    .status-timeline-content .status-read-more {
        float: left;
        padding: 0.8em 0 0;
        background: transparent;
        color: #039be5;
        border-radius: 0.25em;
        text-decoration: underline;
    }
    .no-touch .status-timeline-content .status-read-more:hover {
        background-color: #f2ebff;
    }
    .status-timeline-content .status-date {
        float: left;
        padding: 0.8em 0;
        opacity: 0.7;
    }
    .status-timeline-content::before {
        content: "";
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid #f2ebff;
    }
    @media only screen and (min-width: 768px) {
        .status-timeline-content h2 {
            margin-top: 0;
            font-weight: 400;
            line-height: 22px;
            font-size: 18px;
            font-family: "Poppins", sans-serif;
        }
        .status-timeline-content p {
            font-size: 14px;
            font-size: 1rem;
        }
        .status-timeline-content .status-read-more,
        .status-timeline-content .status-date {
            font-size: 14px;
            font-size: 0.875rem;
        }
    }
    @media only screen and (min-width: 1170px) {
        .status-timeline-content {
            margin-left: 0;
            padding: 1.6em;
            width: 95%;
        }
        .status-timeline-content::before {
            top: 13px;
            left: 100%;
            border-color: transparent;
            border-left-color: #f2ebff;
        }
        .status-timeline-block .status-timeline-content {
            float: right;
        }
        .status-timeline-block .status-timeline-content::before {
            top: 13px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #f2ebff;
        }
        .status-timeline-block .background-call::before {
            top: 13px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #fff3e0 !important;
        }
        .status-timeline-block .background-event::before {
            top: 13px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #f0f9f9 !important;
        }
        .status-timeline-block .background-task::before {
            top: 13px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #e3f2fd !important;
        }
        .status-timeline-block .status-timeline-content .status-read-more {
            float: left;
        }
        .status-timeline-block .status-timeline-content .status-date {
            left: auto;
            right: 122%;
            text-align: right;
        }
        .cssanimations .status-timeline-content.is-hidden {
            visibility: hidden;
        }
        .cssanimations .status-timeline-content.bounce-in {
            visibility: visible;
            -webkit-animation: status-bounce-2 0.6s;
            -moz-animation: status-bounce-2 0.6s;
            animation: status-bounce-2 0.6s;
        }
    }
    @media only screen and (min-width: 1170px) {
        /* inverse bounce effect on even content blocks */
        .cssanimations .status-timeline-block:nth-child(even) .status-timeline-content.bounce-in {
            -webkit-animation: status-bounce-2-inverse 0.6s;
            -moz-animation: status-bounce-2-inverse 0.6s;
            animation: status-bounce-2-inverse 0.6s;
        }
    }
    @-webkit-keyframes status-bounce-2 {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(20px);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }
    @-moz-keyframes status-bounce-2 {
        0% {
            opacity: 0;
            -moz-transform: translateX(-100px);
        }
        60% {
            opacity: 1;
            -moz-transform: translateX(20px);
        }
        100% {
            -moz-transform: translateX(0);
        }
    }
    @keyframes status-bounce-2 {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-100px);
            -moz-transform: translateX(-100px);
            -ms-transform: translateX(-100px);
            -o-transform: translateX(-100px);
            transform: translateX(-100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            -ms-transform: translateX(20px);
            -o-transform: translateX(20px);
            transform: translateX(20px);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-webkit-keyframes status-bounce-2-inverse {
        0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }
    @-moz-keyframes status-bounce-2-inverse {
        0% {
            opacity: 0;
            -moz-transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -moz-transform: translateX(-20px);
        }
        100% {
            -moz-transform: translateX(0);
        }
    }
    @keyframes status-bounce-2-inverse {
        0% {
            opacity: 0;
            -webkit-transform: translateX(100px);
            -moz-transform: translateX(100px);
            -ms-transform: translateX(100px);
            -o-transform: translateX(100px);
            transform: translateX(100px);
        }
        60% {
            opacity: 1;
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            -ms-transform: translateX(-20px);
            -o-transform: translateX(-20px);
            transform: translateX(-20px);
        }
        100% {
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
    }
    .timeline-inner {
        display: flex;
        flex-direction: column;
        .status-read-more {
            font-size: 14px;
        }
        li {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .stepper-timeline {
        padding: 0 0%;
    }
}

@media only screen and (min-width: 1601px) {
    .stepper-timeline {
        padding: 0 0%;
    }
}
.img-wrapper {
    height: 43px;
    min-width: 56px;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    color:#fff;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}