<mat-card class="mt-4">
    <div class="row mb-4">
        <div class="col-md-12 text-right">
            <div class="row align-items-center flex-wrap">
                <div class="col-lg-8 mat-select-wrapper d-flex">
                    <mat-form-field appearance="outline">
                        <!-- <mat-label>Status</mat-label> -->
                        <mat-select [(ngModel)]="selectedView">
                            <!-- <mat-option value="Recent Activities">
                                <div (click)="viewRecentActivity()" [class.active]="view == 'Recent Activities'">
                                    Recent Activities
                                </div>
                            </mat-option> -->
                            <mat-option value="Agenda">
                                <div (click)="viewAgenda()" [class.active]="view == 'Agenda'">
                                    Agenda
                                </div>
                            </mat-option>
                            <mat-option value="Month">
                                <div (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                                    Month
                                </div>
                            </mat-option>
                            <mat-option value="Week">
                                <div (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                                    Week
                                </div>
                            </mat-option>
                            <mat-option value="Working Weeks">
                                <div (click)="setView(CalendarView.Week,'Working Weeks')"
                                    [class.active]="view === CalendarView.Week">
                                    Working Week
                                </div>
                            </mat-option>
                            <mat-option value="Day">
                                <div (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                                    Day
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <button mat-stroked-button class="me-2 c-event-btn" [ngClass]="{'active-btn': view ==
                    'Agenda','in-active-btn': view != 'Agenda'}">
                        <div (click)="viewAgenda()" [class.active]="view
                        == 'Agenda'">
                            Agenda
                        </div>
                    </button>
                    <button mat-stroked-button class="me-2 c-event-btn" [ngClass]="{'active-btn': view ===
                    CalendarView.Day,'in-active-btn': view !=
                    CalendarView.Day}">
                        <div (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                            Day
                        </div>
                    </button>
                    <button mat-stroked-button class="me-2 c-event-btn" [ngClass]="{'active-btn': (view ===
                    CalendarView.Week && !showWorkingWeeksOnly),'in-active-btn': (view !=
                    CalendarView.Week && showWorkingWeeksOnly)}">
                        <div (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                            Week
                        </div>
                    </button>
                    <button mat-stroked-button class="me-2 c-event-btn" [ngClass]="{'active-btn': (view ===
                CalendarView.Week && showWorkingWeeksOnly),'in-active-btn': (view !=
                CalendarView.Week && !showWorkingWeeksOnly)}">
                        <div (click)="setView(CalendarView.Week,'Working Weeks')"
                            [class.active]="view === CalendarView.Week">
                            Working Weeks
                        </div>
                    </button>
                    <button mat-stroked-button class="me-2 c-event-btn" [ngClass]="{'active-btn': view ===
                    CalendarView.Month,'in-active-btn': view !=
                    CalendarView.Month}">
                        <div (click)="setView(CalendarView.Month)" [class.active]="view ===
                        CalendarView.Month">
                            Month
                        </div>
                    </button> -->
                    <!-- <mat-form-field appearance="outline" class="w-100
                    me-2">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="inputEvent($event)" [(ngModel)]="searchText" />
                    <mat-icon matSuffix (click)="clear()">close</mat-icon>
                </mat-form-field> -->
                    <div class="search-wrapper w-50">
                        <input matInput type="text" placeholder="Search..." (keyup)="onFilter(searchText)"
                            [(ngModel)]="searchText" class="w-100" autocomplete="off">
                        <span class="material-icons secondry-light-text search-icon">search</span>
                        <span class="material-icons secondry-light-text close-icon" *ngIf="searchText"
                            (click)="clear()">close</span>
                    </div>
                </div>
                <div class="col-lg-4 align-items-center d-flex
                justify-content-end">
                    <span class="f-12" [ngClass]="{'me-2': (actList && actList.length==0)}">Total :
                        {{ actList && actList.length ? actList.length : '0' }}</span>
                    <button mat-mini-fab class="custom-filter-btn-size me-2 ms-2" matTooltip="Filter"
                        (click)="viewFilterField()">
                        <span class="material-icons"> filter_list
                        </span>
                    </button>
                    <app-speed-dial-fab class="speed-dial-container
                    " [ngClass]="speedDialFabPosition"
                        [reverse-column-direction]="speedDialFabPosition===SpeedDialFabPosition.Bottom"
                        (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
                    </app-speed-dial-fab>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="container-fluid p-0">
            <div class="row" *ngIf="showFilter">
                <div class="col-lg-8 input-cc">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Type</mat-label>
                                <mat-select [(ngModel)]="eventType" [ngModelOptions]="{ standalone: true
                                }">
                                    <mat-option *ngFor="let obj of
                                    eventList" [value]="obj.value" (click)="filterTypeChange(obj)">
                                        {{ obj.value }}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix (click)="clearIndividualFilter($event,'eventType')"
                                    *ngIf="eventType">close
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100 c-searchbar">
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="statusType" [ngModelOptions]="{ standalone: true
                                }">
                                    <mat-option *ngFor="let obj of
                                    statusTypeList" [value]="obj.value" (click)="filterTypeChange(obj)">
                                        {{ obj.value }}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix (click)="clearIndividualFilter($event,'statusType')"
                                    *ngIf="statusType">
                                    close
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row input-cc">
                        <div class="col-md-10">
                            <mat-form-field appearance="outline" class="w-100 c-searchbar">
                                <mat-label class="secondary-text">Sales Rep
                                </mat-label>
                                <mat-select [(ngModel)]="salesRepId || defaultSalesRepId" [disabled]="!userIsAdmin">
                                    <mat-option *ngFor="let lookups of
                                    listLookups?.opportunity?.salesRep" [value]="lookups.id"
                                        (click)="filterTypeChange(lookups)">
                                        {{ lookups.salesRepDescription }}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix (click)="clearIndividualFilter($event,'salesRep')"
                                    *ngIf="(salesRepId || defaultSalesRepId) && userIsAdmin">close
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <button mat-mini-fab color="warn" class="custom-close-btn-size mtop-23"
                                matTooltip="Clear All" (click)="clearSearch()">
                                <span class="material-icons"> clear
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode" [value]="value"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="d-flex align-items-center pt-2 pb-4
                flex-wrap" *ngIf="view != 'Agenda' && view != 'Recent Activities'">
                    <h3 class="m-0 d-flex align-items-center">
                        <span class="material-icons me-2
                        secondary-text"> date_range
                        </span>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}
                    </h3>
                    <div class="calendar-btn-group ms-4">
                        <button mat-stroked-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()">
                            <div class="material-icons">
                                chevron_left
                            </div>
                        </button>
                        <button mat-stroked-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                            class="ml-1" (viewDateChange)="closeOpenMonthViewDay()">
                            <div class="material-icons">
                                chevron_right
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #customCellTemplate let-day="day" let-locale="locale" mwldraggable>
        <div class="cal-cell-top cal-drag-active" id="eventdivparent">
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <small
            [ngClass]="{'orange-cal-badge': (item.type?.toLowerCase().includes('phone') || item.type?.toLowerCase().includes('call')),'green-cal-badge': item.type?.includes('event'),'blue-cal-badge': item.type?.includes('task')}"
            *ngFor="let item of day.events">
            <div class="d-flex c-event-card">
                <div id="eventdiv_{{item.id}}">{{item.title}}</div>
                <div class="custom-cal-icons">
                    <i class="fa fa-pencil c-edit me-1" id="edit_{{item.id}}" aria-hidden="true" title="Edit"></i>
                    <i class="fa fa-eye c-view" id="view_{{item.id}}" aria-hidden="true" title="View"></i>
                </div>
            </div>
            <!-- (click)="dayClicked('expand-Activity',day.events)" -->
        </small>
    </ng-template>
    <div [ngSwitch]="view">
        <div class="custom-dashboard-table" [ngClass]="{'c-custom-dashboard-calender': showFilter }">
            <!-- <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked('add-Activity',$event.day,$event)" (eventClicked)="handleEvent('add-Activity', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view> -->
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [weekStartsOn]="weekStartsOn" [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked('add-Activity',$event.day,$event)"
                (eventClicked)="handleEvent('add-Activity', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="customCellTemplate">
            </mwl-calendar-month-view>
            <div *ngIf="!showWorkingWeeksOnly">
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" [weekStartsOn]="weekStartsOn"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)"
                    (dayHeaderClicked)="dayHeaderClicked($event.day.date)"
                    (hourSegmentClicked)="hourSegmentClicked($event.date)">
                </mwl-calendar-week-view>
            </div>
            <div *ngIf="showWorkingWeeksOnly">
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                    [refresh]="refresh" [weekStartsOn]="weekStartsOn"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)" [excludeDays]="excludeDays"
                    (dayHeaderClicked)="dayHeaderClicked($event.day.date)"
                    (hourSegmentClicked)="hourSegmentClicked($event.date)">
                </mwl-calendar-week-view>
            </div>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [weekStartsOn]="weekStartsOn" [viewDate]="viewDate"
                [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="hourSegmentClicked($event.date)">
            </mwl-calendar-day-view>
        </div>
        <div *ngSwitchCase="'Agenda'">
            <div class="custom-dashboard-table" [ngClass]="{'c-custom-dashboard-table': showFilter }">
                <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 companies-table w-100" matSort style="cursor:
                pointer">
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Type
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.type=='Phone' ||
                            element.type=='Phone'" class="call-color
                            d-flex">
                                <div matTooltip="Call" class="btn-call">
                                    <mat-icon>phone</mat-icon>
                                </div>
                            </div>
                            <div *ngIf="element.type=='Event'" class="event-color d-flex">
                                <div matTooltip="Event" class="btn-event">
                                    <mat-icon>event</mat-icon>
                                </div>
                            </div>
                            <div *ngIf="element.type=='Task'" class="task-color d-flex">
                                <div matTooltip="Task" class="btn-task">
                                    <mat-icon>view_headline</mat-icon>
                                </div>
                            </div>
                            <div *ngIf="element.type!='Phone'&&
                            element.type!='Event' &&
                            element.type!='Phone' &&
                            element.type!='Task'">
                                {{ element.type || "-" }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Title
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="custom-link" (click)="showdetails(element)">
                                {{ element.title }}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Start Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.startDate | date: "dd MMM YYYY" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            End Date
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.endDate | date: "dd MMM YYYY" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef>
                            Duration
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.startTime | date: "hh:mm a" }} - {{ element.endTime | date: "hh:mm a" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="statusId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ common.getStatusNameFromId( element.statusId) }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="salesRep">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Sales Rep
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ getSalesRep(element.salesRepId) || "-" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="relatedCustomer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Company
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.relatedCustomer }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="relatedTransaction">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Transaction
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span *ngIf="element.relatedTransaction != null && element.relatedTransaction != ''">
                                {{ element.relatedTransaction }}</span>
                            <span *ngIf="((element.relatedTransaction == null || element.relatedTransaction == '')) && element.relatedTransactionId != 0">
                                <span *ngIf="element.transactionType?.toLowerCase().includes('quote')">
                                    Quo{{element.relatedTransactionId}}
                                </span>
                            <span *ngIf="element.transactionType?.toLowerCase().includes('opp')">
                                    Opp{{element.relatedTransactionId}}
                                </span>
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="relatedContact">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Contact
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.relatedContact }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Phone
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.phone || "-" }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:
                    true"></tr>
                    <tr mat-row *matRowDef="let row; columns:
                    displayedColumns; let element"></tr>
                </table> -->
                <!-- <div *ngIf="!dataSource" style="display: flex; justify-content: center; align-items: center; background: white;">
                    <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                    </mat-progress-spinner>
                </div> -->
                <kendo-grid [data]="mainDataSource" kendoGridSelectBy="id" [sortable]="true" [sort]="sort"
                    [loading]="showProgressBar" [sortable]="{allowUnsort: false,mode: 'single' }"
                    (sortChange)="sortActivityList($event)" [groupable]="false" [reorderable]="true" [resizable]="true"
                    [height]="tableHeight" [columnMenuOptions]="{ columnChooser: false }" #grid="kendoGrid">
                    <ng-template kendoGridNoRecordsTemplate>
                        No activities found!. <a (click)="refreshTable()">Click here to refresh</a>.
                    </ng-template>
                    <ng-template kendoGridToolbarTemplate style="padding-left: 660px;">

                        <kendo-grid-spacer></kendo-grid-spacer>
                        <!-- <div class="exportIcon" *ngIf="showExportIcons" matTooltip="Excel" kendoGridExcelCommand>
                            <mat-icon>description</mat-icon>
                        </div>
                        <div class="exportIcon" *ngIf="showExportIcons" matTooltip="CSV">
                            <mat-icon (click)="exportToCsv()">article</mat-icon>
                        </div> -->
                        <kendo-grid-column-chooser></kendo-grid-column-chooser>
                    </ng-template>
                    <kendo-grid-column class="custom-link" field="type" [width]="100" title="Type">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.type?.toLowerCase().includes('phone') || dataItem.type?.toLowerCase().includes('call')"
                                class="call-color d-flex">
                                <div matTooltip="Call" class="btn-call">
                                    <mat-icon>phone</mat-icon>
                                </div>
                            </div>
                            <div *ngIf="dataItem.type?.toLowerCase().includes('event')" class="event-color d-flex">
                                <div matTooltip="Event" class="btn-event">
                                    <mat-icon>event</mat-icon>
                                </div>
                            </div>
                            <div *ngIf="dataItem.type?.toLowerCase().includes('task')" class="task-color d-flex">
                                <div matTooltip="Task" class="btn-task">
                                    <mat-icon>view_headline</mat-icon>
                                </div>
                            </div>
                            <!-- <div *ngIf="dataItem.type!='Phone'&&
                                        dataItem.type!='Event' &&
                                        dataItem.type!='Phone' &&
                                        dataItem.type!='Task'">
                                {{ dataItem.type || "-" }}
                            </div> -->
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column class="custom-link" field="title" [width]="555" title="Title">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span (click)="showdetails(dataItem)">
                                {{dataItem.title || '-'}}
                            </span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [width]="150" field="startDate" title="Start Date">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.startDate | date: 'dd MMM YYYY' || '-'}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="endDate" [width]="150" title="End Date">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.endDate | date: 'dd MMM YYYY' || '-'}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="duration" [width]="200" title="Duration">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.startTime | date: "hh:mm a" }} - {{ dataItem.endTime | date: "hh:mm a" }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="status" [width]="150" title="Status">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.status}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="salesRep" [width]="200" title="Sales Rep">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{ dataItem.salesRep || "-" }}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="relatedCustomer" [width]="200" title="Company">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.relatedCustomer || "-"}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="relatedTransaction" [width]="200" title="Transaction">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>{{ dataItem.relatedTransaction || '-' }}</span>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="relatedContact" [width]="200" title="Contact">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.relatedContact || '-'}}
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="phone" [width]="200" title="Phone">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            {{dataItem.phone || '-'}}
                        </ng-template>
                    </kendo-grid-column>
                    <!-- <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                    <kendo-grid-excel fileName="Activities.xlsx"></kendo-grid-excel>
                </kendo-grid>
            </div>
            <!-- <div style="text-align: center;" class="f-12"
                *ngIf="(!mainDataSource || !mainDataSource.length) && !showProgressBar">
                Activities not found
            </div> -->
        </div>
        <!-- <div *ngSwitchCase="'Recent Activities'">
            <h2 class="header-title f-12">This Week</h2>
            <div class="stepper-timeline">
                <section id="status-timeline" class="status-container">
                    <div class="status-timeline-block" *ngFor="let item of recentActiVities">
                        <div class="status-timeline-img status-call" *ngIf="item.ActivityType == 'Phone'">
                        </div>
                        <div class="status-timeline-img status-event" *ngIf="item.ActivityType == 'Event'">
                        </div>
                        <div class="status-timeline-img status-Tasks" *ngIf="item.ActivityType == 'Task'">
                        </div>
                        <div class="status-timeline-content f-12"
                            [ngClass]="{'background-call': item.ActivityType == 'Phone','background-event': item.ActivityType == 'Event','background-task': item.ActivityType == 'Task'}">
                            <h2 class="f-12 m-0 p-0 fw-600">{{item.ActivityDescription}}
                            </h2>
                            <h2 class="f-12 m-0">{{item.CreatedOn | date:"dd MMM YYYY"}}</h2>
                            <div class="timeline-inner">
                                <div>
                                    <ul>
                                        <li class="f-12">Appointment Description : {{item.ActivityDescription}}</li>
                                        <li class="f-12">Appointment Start Date : {{item.StartDate | date:"dd-MM-yyyy hh:mm a"}}
                                        </li>
                                        <li class="f-12">Appointment End Date : {{item.EndDate | date:"dd-MM-yyyy hh:mm a"}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <h2 class="header-title f-12">This Month</h2>
            <div class="stepper-timeline">
                <section id="status-timeline" class="status-container">
                    <div class="status-timeline-block" *ngFor="let item of recentActiVities">
                        <div class="status-timeline-img status-call" *ngIf="item.ActivityType == 'Phone'">
                        </div>
                        <div class="status-timeline-img status-event" *ngIf="item.ActivityType == 'Event'">
                        </div>
                        <div class="status-timeline-img status-Tasks" *ngIf="item.ActivityType == 'Task'">
                        </div>
                        <div class="status-timeline-content f-12"
                            [ngClass]="{'background-call': item.ActivityType == 'Phone','background-event': item.ActivityType == 'Event','background-task': item.ActivityType == 'Task'}">
                            <h2 class="f-12 m-0 p-0 fw-600">{{item.ActivityDescription}}
                            </h2>
                            <h2 class="f-12 m-0">{{item.CreatedOn | date:"dd MMM YYYY"}}</h2>
                          
                        </div>
                    </div>

                </section>
            </div>
           
        </div> -->
    </div>
</mat-card>

<div *ngIf="view == 'Agenda' && dataSource?.filteredData?.length != 0">
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 50,75,100]" [pageSize]="pageLength" showFirstLastButtons
        aria-label="Select page of periodic elements" [length]="actList.length" (page)="onChangePage($event)">
    </mat-paginator>
</div>
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h2 class="m-0">{{headerTitle}}</h2>
        <button class="me-2 c-close-btn" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode" [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
        <div class="d-flex mb-2" *ngIf="headerTitle == 'Add Activity'">
            <div *ngFor="let btn of speedDialFabButtons" [ngClass]="btn.class">
                <!-- <div class="btn-name-tooltip" (click)="onClickFab(btn)">{{btn.tooltip}}</div> -->
                <button mat-mini-fab class="fab-secondary"
                    [ngClass]="{'active-selected-btn': activeBtn == btn.tooltip,'not-active-selected-btn': (activeBtn != btn.tooltip && activeBtn != null)}"
                    color="secondary" (click)="onClickFab(btn)">
                    <i class="material-icons">{{btn.icon}}</i>
                </button>
            </div>
        </div>
        <form [formGroup]="subActivityForm" fxLayout="column" novalidate="novalidate" *ngIf="showForm">
            <div class="row">
                <div class="col-lg-12">
                    <div class="w-100">
                        <!-- *ngIf="showDetailFields" -->
                        <div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <!-- <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Company
                                        </mat-label>
                                        <mat-select (click)="clearCompanyDetails()" formControlName="companyId">
                                            <div style="padding:15px">
                                                <input type="text" [(ngModel)]="searchdropdown" matInput (keyup)="searchCompany($event)" (keydown)="$event.stopPropagation()" [ngModelOptions]="{ standalone: true }" autofocus placeholder="Search" autocomplete="off" required />
                                            </div>
                                            <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyId" (click)="setCompany(obj);">
                                                {{ obj.companyName }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="subActivityForm.controls.companyId.invalid || subActivityForm.controls.companyId.touched">
                                            This field is required</mat-error>
                                    </mat-form-field> -->
                                    <ng-select placeholder="Company" [items]="companyListSearch" [virtualScroll]="true"
                                        [formControlName]="'companyId'" bindLabel="companyName" bindValue="companyId"
                                        (change)="setCompany($event)">
                                    </ng-select>
                                    <mat-error class="f-10"
                                        *ngIf="subActivityForm.controls.companyId.invalid && subActivityForm.controls.companyId.touched">
                                        This field is required</mat-error>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Related Transaction </mat-label>
                                        <mat-select placeholder="Select Transaction"
                                            formControlName="relatedTransactionId">
                                            <mat-option *ngFor="let transaction of listTransactions"
                                                [value]="transaction.id" (click)="selectedTransectionType(transaction)">
                                                {{transaction.typeval}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Related Contact </mat-label>
                                        <mat-select placeholder="Select Contact" formControlName="contact">
                                            <mat-option *ngFor="let contact of listMainContacts" [value]="contact.id">
                                                {{contact.firstName}} {{contact?.middleName?.slice(0,1).toUpperCase() }}
                                                {{contact.lastName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label class="secondary-text">Sales Rep</mat-label>
                                        <mat-select formControlName="salesRepId">
                                            <mat-option *ngFor="let lookups of listLookups?.opportunity?.salesRep"
                                                [value]="lookups.id">
                                                {{ lookups.salesRepDescription }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row" *ngIf="listContacts.length != 0">
                            <div class="mb-3">
                                <mat-label style="color: grey;">Participants : </mat-label>
                                <div class="col-md-12">
                                    <mat-chip-list class="w-100">
                                        <ng-container *ngFor="let contact of listContacts">
                                            <mat-basic-chip (click)="SelectParticipant(contact)" [ngClass]="{ 'activetParticipents': contact.isSelect,'noActivetParticipents' :!contact.isSelect}">
                                                {{contact.firstName}} {{contact.middleName}} {{contact.lastName}}
                                            </mat-basic-chip>
                                        </ng-container>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </div> -->
                        <div class="row" *ngIf="listContacts.length != 0 ">
                            <div class="mb-3">
                                <mat-label style="color: grey;">Participants : </mat-label>
                                <div class="col-md-12">
                                    <mat-chip-list class="w-100">
                                        <ng-container *ngFor="let contact of listContacts">
                                            <mat-basic-chip (click)="SelectParticipant(contact)"
                                                [ngClass]="{ 'activetParticipents': contact.isPrimary == true,'noActivetParticipents' : contact.isPrimary == false,'disable': ViewFlag ,'enable': !ViewFlag}">
                                                {{contact.firstName}} {{contact?.middleName?.slice(0,1).toUpperCase() }}
                                                {{contact.lastName}}
                                            </mat-basic-chip>
                                        </ng-container>
                                    </mat-chip-list>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Title</mat-label>
                                    <input matInput name="title" id="title" formControlName="title" maxlength="1000"
                                        required size="30" autocomplete="off">
                                    <mat-error
                                        *ngIf="subActivityForm.controls.title.invalid || subActivityForm.controls.title.touched">
                                        This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12"
                                *ngIf="selectedActivityType?.toLowerCase().includes('phone')">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Phone number</mat-label>
                                    <input matInput name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"
                                        type="text" size="30" required autocomplete="off">
                                    <mat-error class="pl-1"
                                        *ngIf="subActivityForm.get('phoneNumber')?.hasError('pattern')">
                                        Please enter valid Phone Number</mat-error>
                                    <mat-error class="pl-1"
                                        *ngIf="subActivityForm.get('phoneNumber')?.hasError('required')">
                                        This field is required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput autocomplete="off" formControlName="startDate"
                                        [matDatepicker]="picker1" (click)="picker1.open()" required
                                        (dateChange)="datechange($event.value,'startDate')">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                    <mat-error
                                        *ngIf="subActivityForm.controls['startDate'].hasError('required') && subActivityForm.controls['startDate'].touched">
                                        This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>End Date</mat-label>
                                    <input matInput autocomplete="off" formControlName="endDate"
                                        [matDatepicker]="picker2" (click)="picker2.open()" required
                                        (dateChange)="datechange($event.value,'endDate')">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                    <mat-error
                                        *ngIf="subActivityForm.controls['endDate'].hasError('required') && subActivityForm.controls['endDate'].touched">
                                        This field is required</mat-error>
                                    <!-- <mat-error *ngIf="endDateError">
                                        Please enter valid End Date</mat-error> -->
                                </mat-form-field>
                                <span *ngIf="endDateError" class="message-error">
                                    Please Enter valid End Date</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Start Time * </mat-label>
                                    <input matInput formControlName="startTime" matTimepicker mode="12h"
                                        (timeChange)="timeChange('startTime')" autocomplete="off">
                                    <mat-error
                                        *ngIf="subActivityForm.controls['startTime'].hasError('required') && subActivityForm.controls['startTime'].touched">
                                        This field is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>End Time * </mat-label>
                                    <input formControlName="endTime" matTimepicker mode="12h"
                                        (timeChange)="timeChange('endTime')" autocomplete="off">
                                    <mat-error
                                        *ngIf="subActivityForm.controls['endTime'].hasError('required') && subActivityForm.controls['endTime'].touched">
                                        This field is required</mat-error>
                                </mat-form-field>
                                <span *ngIf="endTimeError" class="message-error">
                                    Please Enter valid End Time</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <mat-form-field appearance="legacy" class="w-100">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput name="description" formControlName="description" maxlength="2000"
                                        style="height:100px">
                              </textarea>
                                    <mat-error
                                        *ngIf="subActivityForm.controls.description.invalid || subActivityForm.controls.description.touched">
                                        Description should not be Empty</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <div mat-dialog-actions>
                                        <button mat-raised-button class="c-btn" [ngClass]="{ 'img-wrapper': isSheduled}"
                                            (click)="setActivityStatus('2')">Scheduled</button>
                                        <button mat-raised-button class="c-btn"
                                            [ngClass]="{ 'img-wrapper': isCompleted}" style="margin-left: 1em;"
                                            (click)="setActivityStatus('1')">Completed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- <button *ngIf="!showDetailFields" mat-stroked-button class="me-2 c-event-btn btn" (click)="showDetailRecord()">
            Show Details...
        </button>
        <button *ngIf="showDetailFields" mat-stroked-button class="me-2 c-event-btn btn" (click)="hideDetailRecord()">
            Hide Details... </button> -->
        <button mat-stroked-button class="c-event-btn btn"
            [disabled]="subActivityForm.invalid || endTimeError || endDateError" (click)="addActivity()"
            *ngIf="showForm && (headerTitle == 'Add Activity' || headerTitle == 'Edit Activity')">
            <span *ngIf="headerTitle == 'Add Activity'"> Add </span>
            <span *ngIf="headerTitle == 'Edit Activity'"> Update </span>
        </button>
        <button mat-stroked-button class="c-event-btn btn"
            [disabled]="subActivityForm.invalid || endTimeError || endDateError" (click)="editActivity(true)"
            *ngIf="showForm && (headerTitle == 'View Activity')">
            <span> Edit </span>
        </button>
    </div>
</ng-template>