<div class="content-header d-flex col-lg-12 col-md-12">
  <div class="col-lg-6 col-md-6">
    <div class="d-flex align-items-center">
      <div>
        <h1 *ngIf="editflag">Edit / New {{ type }}</h1>
        <h1 *ngIf="!editflag">Add / New {{ type }}</h1>
      </div>
      <div *ngIf="showOptionBtn" class="d-flex ms-4">
        <div *ngFor="let btn of speedDialFabButtons" [ngClass]="btn.class">
          <!-- <div class="btn-name-tooltip" (click)="onClickFab(btn)">{{btn.tooltip}}</div> -->
          <button mat-mini-fab class="fab-secondary" [ngClass]="{
              'active-selected-btn': activeBtn == btn.tooltip,
              'not-active-selected-btn':
                activeBtn != btn.tooltip && activeBtn != null
            }" color="secondary" (click)="onClickFab(btn)">
            <i class="material-icons">{{ btn.icon }}</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 text-right">
    <div class="d-flex align-items-center justify-content-between">
      <div></div>
      <div mat-dialog-actions>
        <button mat-mini-fab class="custom-save-btn-size me-2" [disabled]="subActivityForm.invalid" matTooltip="Save"
          (click)="SaveData()">
          <span class="material-icons">
            save
          </span>
        </button>
        <button mat-mini-fab class="custom-cancel-btn-size" matTooltip="Cancel" (click)="ViewActivity()">
          <span class="material-icons">
            close
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="activity-content">
  <mat-card>
    <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode" [value]="value"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
    <form [formGroup]="subActivityForm" fxLayout="column" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="w-100">
            <!-- *ngIf="showDetailFields" -->
            <div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <!-- <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Company
                                        </mat-label>
                                        <mat-select (click)="clearCompanyDetails()" formControlName="companyId">
                                            <div style="padding:15px">
                                                <input type="text" [(ngModel)]="searchdropdown" matInput
                                                    (keyup)="searchCompany($event)" (keydown)="$event.stopPropagation()"
                                                    [ngModelOptions]="{ standalone: true }" autofocus
                                                    placeholder="Search" autocomplete="off" required />
                                            </div>
                                            <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyId"
                                                (click)="setCompany(obj);">
                                                {{ obj.companyName }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="subActivityForm.controls.companyId.invalid || subActivityForm.controls.companyId.touched">
                                            This field is required</mat-error>
                                    </mat-form-field> -->
                  <ng-select placeholder="Company" [items]="companyListSearch" [virtualScroll]="true"
                    [formControlName]="'companyId'" bindLabel="companyName" bindValue="companyId"
                    (change)="setCompany($event)"></ng-select>
                  <mat-error class="f-10" *ngIf="
                      subActivityForm.controls.companyId.invalid &&
                      subActivityForm.controls.companyId.touched
                    ">
                    This field is required</mat-error>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Related Transaction </mat-label>
                    <mat-select placeholder="Select Transaction" formControlName="relatedTransactionId">
                      <mat-option *ngFor="let transaction of listTransactions" [value]="transaction.id"
                        (click)="selectedTransectionType(transaction)">
                        {{ transaction.typeval }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="legacy" class="w-100">
                    <mat-label>Related Contact </mat-label>
                    <mat-select placeholder="Select Contact" formControlName="contact">
                      <mat-option *ngFor="let contact of listMainContacts" [value]="contact.id">
                        {{ contact.firstName }}
                        {{ contact?.middleName?.slice(0, 1).toUpperCase() }}
                        {{ contact.lastName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="legacy" class="w-100">
                    <mat-label class="secondary-text">Sales Rep</mat-label>
                    <mat-select formControlName="salesRepId" [disabled]="!userDetails.isAdmin">
                      <mat-option *ngFor="
                          let lookups of listLookups?.opportunity?.salesRep
                        " [value]="lookups.id">
                        {{ lookups.salesRepDescription }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="listContacts.length != 0">
              <div class="mb-3">
                <mat-label style="color: grey;">Participants : </mat-label>
                <div class="col-md-12">
                  <mat-chip-list class="w-100">
                    <ng-container *ngFor="let contact of listContacts">
                      <mat-basic-chip (click)="SelectParticipant(contact)" [ngClass]="{
                          activetParticipents: contact.isPrimary == true,
                          noActivetParticipents: contact.isPrimary == false
                        }">
                        {{ contact.firstName }}
                        {{ contact?.middleName?.slice(0, 1).toUpperCase() }}
                        {{ contact.lastName }}
                      </mat-basic-chip>
                    </ng-container>
                  </mat-chip-list>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                  <mat-label>Title</mat-label>
                  <input matInput name="title" id="title" formControlName="title" maxlength="1000" required size="30"
                    autocomplete="off" />
                  <mat-error *ngIf="
                      subActivityForm.controls.title.invalid ||
                      subActivityForm.controls.title.touched
                    ">
                    This field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="
                  type.toLowerCase().includes('phone') ||
                  type.toLowerCase().includes('call')
                ">
                <mat-form-field appearance="legacy" class="w-100">
                  <mat-label>Phone number</mat-label>
                  <input matInput name="phoneNumber" (input)="commonService.keyPressNumbers($event)" id="phoneNumber"
                    formControlName="phoneNumber" type="text" size="30" required autocomplete="off" />
                  <mat-error class="pl-1" *ngIf="
                      subActivityForm.get('phoneNumber')?.hasError('pattern')
                    ">
                    Please enter valid Phone Number</mat-error>
                  <mat-error class="pl-1" *ngIf="
                      subActivityForm.get('phoneNumber')?.hasError('required')
                    ">
                    This field is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                  <mat-label>Start Date</mat-label>
                  <input matInput autocomplete="off" formControlName="startDate" [matDatepicker]="picker1"
                    (click)="picker1.open()" required (dateChange)="datechange($event.value, 'startDate')" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply>
                        Apply
                      </button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                  <mat-error *ngIf="
                      subActivityForm.controls['startDate'].hasError(
                        'required'
                      ) && subActivityForm.controls['startDate'].touched
                    ">
                    This field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="legacy" class="w-100 ">
                  <mat-label>End Date</mat-label>
                  <input matInput autocomplete="off" formControlName="endDate" [matDatepicker]="picker2"
                    (click)="picker2.open()" required (dateChange)="datechange($event.value, 'endDate')" />
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply>
                        Apply
                      </button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                  <mat-error *ngIf="
                      subActivityForm.controls['endDate'].hasError(
                        'required'
                      ) && subActivityForm.controls['endDate'].touched
                    ">
                    This field is required</mat-error>
                  <!-- <mat-error *ngIf="endDateError">
                                        Please enter valid End Date</mat-error> -->
                </mat-form-field>
                <span *ngIf="endDateError" class="message-error">
                  Please Enter valid End Date</span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                  <mat-label>Start Time * </mat-label>
                  <input matInput formControlName="startTime" matTimepicker mode="12h"
                    (timeChange)="timeChange('startTime')" autocomplete="off" />
                  <mat-error *ngIf="
                      subActivityForm.controls['startTime'].hasError(
                        'required'
                      ) && subActivityForm.controls['startTime'].touched
                    ">
                    This field is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                  <mat-label>End Time * </mat-label>
                  <input formControlName="endTime" matTimepicker mode="12h" (timeChange)="timeChange('endTime')"
                    autocomplete="off" />
                  <mat-error *ngIf="
                      subActivityForm.controls['endTime'].hasError(
                        'required'
                      ) && subActivityForm.controls['endTime'].touched
                    ">
                    This field is required</mat-error>
                </mat-form-field>
                <span *ngIf="endTimeError" class="message-error">
                  Please Enter valid End Time</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field appearance="legacy" class="w-100">
                  <mat-label>Description</mat-label>
                  <textarea matInput name="description" formControlName="description" maxlength="2000"
                    style="height:100px">
                  </textarea>
                  <mat-error *ngIf="
                      subActivityForm.controls.description.invalid ||
                      subActivityForm.controls.description.touched
                    ">
                    Description should not be Empty</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <div mat-dialog-actions>
                    <button mat-raised-button class="c-btn" [ngClass]="{ 'img-wrapper': isSheduled }"
                      (click)="setActivityStatus('2')">
                      Scheduled
                    </button>
                    <button mat-raised-button class="c-btn" [ngClass]="{ 'img-wrapper': isCompleted }"
                      style="margin-left: 1em;" (click)="setActivityStatus('1')">
                      Completed
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>