.white-bg {
    background-color: #ffffff !important;
}

.md-whiteframe-4dp {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.md-padding {
    padding: 8px;
}

.activetParticipents {
    background-color: #c8acfa;
    margin-top: 5px;
}

.noActivetParticipents {
    margin-top: 5px;
    background-color: #dcdcdc;
}

.activity-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}

.card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

::ng-deep .header {
    background: #7e38fb !important;
    .placeholder {
        background: #7e38fb !important;
    }
}

.img-wrapper {
    height: 43px;
    min-width: 56px;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    border-radius: 6px;
    align-items: center;
    color:#fff;
    justify-content: center;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}