.mat-drawer-container {
    min-height: 100vh;
}

.sidenav {
    background: #ffffff;
    width: 260px;
}

.sidenavmini {
    width: 70px;
    max-width: 70px;
    overflow-x: hidden !important;
}

.contentmini {
    margin-left: 70px !important;
    max-height: 100vh;
}

.contentfull {
    // margin-left: 260px !important;
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    background: #f5f6f8;
    // height: 100vh;
}