<div *ngIf="activeRoute != '/'">
    <!-- <app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header> -->
</div>
<mat-drawer-container *ngIf=" activeRoute != '/login'">
    <mat-drawer style="max-width:210px" mode="side" [opened]="sideBarOpen"
        [ngClass]="{'sidenavmini': miniSidemenu == true, 'sidenav': miniSidemenu == false}">
        <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content [ngClass]="{'contentmini': miniSidemenu == true, 'contentfull': miniSidemenu == false}">
        <router-outlet></router-outlet>
        <div *ngIf="activeRoute == '/' || activeRoute == '/login'">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>