.quote-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}

.mat-expansion-panel-spacing {
    margin: 0px 0;
}

.border-bottom {
    border-bottom: 1px solid #e5ebf0;
}

.c-h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.related-contact-card {
    .btn-link {
        background: rgba(126, 56, 251, 0.1);
        border-radius: 6px;
        width: 48px;
        height: 54px;
        box-shadow: none;
        span {
            color: #7e38fb;
        }
    }
    .img-wrapper {
        height: 56px;
        min-width: 56px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
    }
    .blue {
        background: #ebf7ff;
    }
    .orange {
        background: #fff2eb;
    }
}

.summry-card {
    .summery-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.save-btn {
    border: 0 !important;
}

.add-discount {
    .active {
        background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
        border-radius: 6px;
        color: #ffffff;
    }
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.opp-c-table {
    max-height: 400px;
    overflow-y: auto;
}

.noRecordFound{
    text-align: center;
    padding-top: 20px;
    color: red;
    font-size: 12px;
    padding-bottom: 5px;
}