<div class="content-header">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <!-- <h1 class="m-0">{{rowData?.companyName ? rowData?.companyName : 'Quotes'}}</h1> -->
    <h1 class="m-0">{{ rowData?.documentId }}</h1>
    <p class="m-0" *ngIf="rowData?.documentId">
      {{ TodayDate | date: "dd MMM YYYY" }}
    </p>
    <mat-label *ngIf="!isShowData && quotesForm.controls['documentNumber'].value">Quote Number : {{
      quotesForm.controls["documentNumber"].value }}
    </mat-label>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-right">
    <!-- [disabled]="!showDisCountPage" -->
    <button mat-mini-fab class="custom-save-btn-size me-2" matTooltip="Save" *ngIf="!isShowData"
      (click)="saveAndContinue()">
      <span class="material-icons">
        save
      </span>
    </button>
    <button mat-mini-fab class="custom-edit-btn-size me-2" matTooltip="Edit" *ngIf="isShowData" (click)="editQuotes()">
      <span class="material-icons"> edit </span>
    </button>
    <button mat-mini-fab class="custom-cancel-btn-size" matTooltip="Cancel" *ngIf="!isShowData"
      (click)="cancelEditing()">
      <span class="material-icons">
        close
      </span>
    </button>
    <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add Quotes" *ngIf="isShowData" (click)="addQuotes()">
      <span class="material-icons">
        add
      </span>
    </button>
  </div>
</div>
<div class="quote-content" *ngIf="isShowData">
  <div class="row">
    <div class="col-lg-8">
      <div class="w-100">
        <mat-card class="w-100 p-0">
          <mat-tab-group mat-align-tabs="start" class="content table-space" [selectedIndex]="selectedIndex">
            <mat-tab label="Primary Information">
              <table class="mat-elevation-z8 companies-table w-100 c-companies-table" *ngIf="rowData">
                <tr style="font-size: small;color: grey;">
                  <td>
                    <mat-label class="c-purple">Customer</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Title</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Date</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Due Date</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Status</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Probability</mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:void(0)" style="cursor: pointer;color: #ff4081;" (click)="gotoCompany(rowData)">
                      <mat-label>{{ rowData?.companyName }}</mat-label>
                    </a>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.title }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.date | date: "dd MMM YYYY" }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.dueDate | date: "dd MMM YYYY" }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.status }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.probability }}%</mat-label>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td>
                    <mat-label class="c-purple">Sales Rep</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Expected Close</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Memo</mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label>{{ rowData?.salesRep }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.expectedClose | date: "dd MMM YYYY" }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.memo }}</mat-label>
                  </td>
                </tr>
              </table>

              <div *ngIf="!rowData"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </mat-tab>
            <mat-tab label="Classification">
              <table class="mat-elevation-z8 companies-table w-100 c-companies-table">
                <tr style="font-size: small;color: grey;">
                  <td *ngIf="rowData?.opportunity">
                    <mat-label class="c-purple">Opportunity</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Lead source</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Forecast Type</mat-label>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="rowData?.opportunity">
                    <mat-label>OPP{{ rowData?.opportunity }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ rowData?.leadSource }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ forcastTypeName }}</mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
      <div class="quotes-content">
        <mat-card class="w-100 mt-4 p-0">
          <mat-progress-bar *ngIf="!quoteItems?.length && quoteItems?.length == 0" class="example-margin"
            [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
          </mat-progress-bar>

          <div class="custom-table">
            <!-- <div *ngIf="!quoteItems" class="loader">Loading...</div> -->
            <table mat-table [dataSource]="quoteItems" class="mat-elevation-z8 w-100 quote-edit-table">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.quantity }}
                </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.segmentId === 3">
                    ${{ element.amount | number: "1.2-2" }}/wk
                  </span>
                  <span *ngIf="element.segmentId !== 3">
                    ${{ element.amount | number: "1.2-2" }}
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayQuoteItemsInEdit"></tr>
              <tr mat-row *matRowDef="let row; columns: displayQuoteItemsInEdit" (click)="selection.toggle(row)"></tr>
            </table>

            <div *ngIf="!quoteItems?.length && showProgressBar"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div *ngIf="!quoteItems?.length && !showProgressBar"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-label>No records found!</mat-label>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="w-100">
        <mat-card class=" summry-card pb-0">
          <h1 class="primary-text card-heading m-0 mb-3"><b>Summary</b></h1>
          <div class="border-bottom">
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Services</p>
              <p class="primary-text m-0 f-12">
                ${{ totalServiceAmount | number: "1.2-2" || 0.0 }}
              </p>
            </div>
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Hardware</p>
              <p class="primary-text m-0 f-12">
                ${{ totalHardwareAmount | number: "1.2-2" || 0.0 }}
              </p>
            </div>
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Discount</p>
              <p class="primary-text m-0 f-12">
                ${{
                quotesForm.controls["discountAmount"].value
                | number: "1.2-2" || 0.0
                }}
              </p>
            </div>
          </div>
          <div class="pt-2 pb-2 ">
            <div class="summery-content">
              <p class="primary-text m-0 f-12"><b>GRAND TOTAL</b></p>
              <p class="c-purple m-0 f-12">
                <b>${{
                  quotesForm.controls["amountAfterDiscount"].value
                  | number: "1.2-2" || 0.0
                  }}</b>
              </p>
            </div>
            <div class="summery-content">
              <p class="secondry-light-text m-0 f-12">Subscription</p>
              <p class="primary-text m-0 f-12">
                ${{ totalSubscriptionAmount | number: "1.2-2" || 0.0 }}/wk
              </p>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="w-100 mt-4">
        <mat-card class=" related-contact-card ">
          <div class=" d-flex justify-content-between align-items-center ">
            <h1 class=" primary-text card-heading m-0"><b> Contacts</b></h1>
            <div class="d-flex align-items-center justify-content-end
                                                flex-wrap">
              <div *ngIf="contactData && contactData.length" class="me-2">
                <h5 class="m-0 f-12">
                  Total :
                  {{
                  contactData && contactData.length ? contactData.length : "0"
                  }}
                </h5>
              </div>
              <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add Contacts" (click)="addContact()">
                <span class="material-icons">
                  add
                </span>
              </button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12 input-cc">
              <!-- <mat-form-field appearance="outline" class="w-100">
                                <mat-icon matPrefix>search</mat-icon>
                                <mat-label>Add Contacts</mat-label>
                                <mat-select>
                                    <div style="padding:15px">
                                        <input matInput (keyup)="searchParent($event)"
                                            (keydown)="$event.stopPropagation()" autofocus placeholder="Search"
                                            autocomplete="off" />
                                    </div>
                                    <mat-option *ngFor="let obj of contactListSearch; let i = index"
                                        (click)="updateContacts(obj)" [value]="obj.name">
                                        {{ obj.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
              <ng-select class="custom" placeholder="Search Contacts" appearance="outline" #ngSelectComponent
                [items]="contactListSearch" [virtualScroll]="true" bindLabel="name" bindValue="name"
                (change)="updateContacts($event)">
              </ng-select>
            </div>
          </div>
          <div *ngIf="showContactsLoader"
            style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div class="no-content" *ngIf="showContactsNoRecMsg">
            <h4 class="primary-text c-h2 f-12">No Contact found!</h4>
            <!-- <p class="secondry-light-text">
                                Please add data to see the Opportunities
                            </p> -->
          </div>
          <div class="contact-height" *ngIf="contactData.length > 0">
            <div class="row d-flex justify-content-between align-items-center border-bottom pb-2 pt-4 c-pointer"
              (click)="gotoContact(contact)" *ngFor="let contact of contactData">
              <div class="col-lg-10 row">
                <div class="col-lg-5">
                  <h5 class="primary-text c-h2 m-0 c-purple" style="font-size: 12px">
                    {{ contact.name }}
                  </h5>
                  <h5 class="grey-color f-12">
                    {{ contact.phone || "No Phone" }}
                  </h5>
                </div>
                <div class="col-lg-5">
                  <h5 class="grey-color m-0 c-h2  f-12">
                    {{ contact?.jobTitle || "No Job title" }}
                  </h5>
                  <h5 class="grey-color f-12">
                    {{ contact?.email || "No Email" }}
                  </h5>
                </div>
              </div>
              <div class="col-lg-2" style="margin-bottom: auto;">
                <h5 *ngIf="contact?.role" style="width: fit-content;float: right;" class="blue-badge ">
                  {{ contact?.role }}
                </h5>
                <h5 *ngIf="contact?.role == '' || !contact?.role" class="m-0 f-12"
                  style="width: fit-content;float: right;">
                  No Role
                </h5>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="mt-4">
        <mat-card class="related-contact-card ">
          <!-- <div class="d-flex justify-content-between align-items-center ">
                        <h1 class="primary-text card-heading m-0"><b>Recent Activities
                            </b></h1>
                        <div class="d-flex align-items-center justify-content-end flex-wrap">
                            <div *ngIf="relatedActivityArray && relatedActivityArray.length" class="me-2">
                                <h5 class="m-0 f-12"> Total : {{relatedActivityArray && relatedActivityArray.length ?
                                    relatedActivityArray.length : '0'}}
                                </h5>
                            </div>
                            <app-speed-dial-fab class="speed-dial-container me-2 ms-2" [ngClass]="speedDialFabPosition"
                                [reverse-column-direction]="speedDialFabPosition===SpeedDialFabPosition.Bottom"
                                (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
                            </app-speed-dial-fab>
                        </div>


                    </div> -->
          <div class="d-flex justify-content-between align-items-center ">
            <h1 class="primary-text card-heading m-0">
              <b>Recent Activities</b>
            </h1>
            <div class="d-flex align-items-center justify-content-end
                        flex-wrap">
              <div class="me-2">
                <h5 class="m-0 f-12">
                  Total :
                  {{
                  relatedActivityArray && relatedActivityArray.length
                  ? relatedActivityArray.length
                  : "0"
                  }}
                </h5>
              </div>
              <app-speed-dial-fab class="speed-dial-container me-2" [ngClass]="speedDialFabPosition"
                [reverse-column-direction]="
                  speedDialFabPosition === SpeedDialFabPosition.Bottom
                " (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
              </app-speed-dial-fab>
            </div>
          </div>
          <div class="contact-height" *ngIf="relatedActivityArray.length > 0">
            <div class="d-flex align-items-center border-bottom pb-2 pt-2 c-pointer"
              *ngFor="let activity of relatedActivityArray">
              <div class="img-wrapper blue">
                <img src="../../../assets/img/list_icon.svg" />
              </div>
              <div (click)="showdetails(activity)">
                <h4 class="primary-text c-h2 m-0 mb-2 c-purple f-12 ">
                  {{ activity.title }}
                </h4>
                <p class="secondry-light-text f-12 ">
                  {{ activity.startDate | date: "dd MMM YYYY hh:mm a" }}
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="showActivitiesLoader"
            style="display: flex; justify-content: center; align-items: center; background: white;">
            <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div *ngIf="showActivitiesNoRecMsg" class="no-content ">
            <h4 class="primary-text c-h2 f-12">No Activity Found</h4>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="quote-content" *ngIf="!isShowData">
  <form [formGroup]="quotesForm" (ngSubmit)="onSubmit(quotesForm)">
    <div class="row">
      <div class="col-lg-8">
        <div class="w-100">
          <mat-card class="summry-card w-100 p-0">
            <mat-tab-group mat-align-tabs="start" class="content example-headers-align"
              (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedIndex">
              <mat-tab label="Primary Information">
                <div class="row" style="margin:10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label>Company</mat-label>

                                            <mat-select formControlName="customerId" (click)="clearCompanyDetails()"
                                                (change)="setCompany($event)" required>
                                                <div style="padding:15px">
                                                    <input type="text" matInput (keyup)="searchCompany($event)"
                                                        (keydown)="$event.stopPropagation()" autofocus
                                                        placeholder="Search" autocomplete="off" />
                                                </div>

                                                <mat-option *ngFor="let company of companyListSearch"
                                                    [value]="company.companyId" (click)="setCompany(company)">
                                                    {{ company.companyName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="
                          quotesForm.controls.customerId.invalid ||
                          quotesForm.controls.customerId.touched
                        ">
                                                This field is required</mat-error>
                                        </mat-form-field> -->
                    <ng-select placeholder="Company" [items]="companyListSearch" [virtualScroll]="true"
                      [formControlName]="'customerId'" bindLabel="companyName" bindValue="companyId"
                      (change)="setCompany($event)">
                    </ng-select>
                    <mat-error class="f-10" *ngIf="
                        quotesForm.controls.customerId.invalid &&
                        quotesForm.controls.customerId.touched
                      ">
                      This field is required</mat-error>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Title</mat-label>
                      <input formControlName="title" matInput type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label>Quote Number</mat-label>
                                            <input formControlName="documentNumber" matInput type="text">
                                        </mat-form-field>
                                    </div> -->
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Date</mat-label>
                      <input formControlName="date" matInput [matDatepicker]="picker" (focus)="picker.open()" readonly
                        autocomplete="off" />
                      <mat-icon matSuffix>close</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Due Date</mat-label>
                      <input formControlName="dueDateRecieveBy" matInput [matDatepicker]="picker1"
                        (focus)="picker1.open()" readonly autocomplete="off" />
                      <mat-icon matSuffix>close</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Status</mat-label>
                      <mat-select formControlName="statusId">
                        <mat-option *ngFor="
                            let lookup of listLookups?.quotes?.quotesStatus
                          " [value]="lookup?.id">
                          {{ lookup?.statusDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          quotesForm.controls.statusId.invalid ||
                          quotesForm.controls.statusId.touched
                        ">
                        Please Select Status</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Probability</mat-label>
                      <input formControlName="probability" matInput type="number" autocomplete="off" />
                      <mat-icon matSuffix>%</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Sales Rep</mat-label>
                      <mat-select formControlName="salesRepId" required [disabled]="!userDetails.isAdmin">
                        <mat-option *ngFor="let lookups of listLookups?.quotes?.salesRep" [value]="lookups.id">
                          {{ lookups.salesRepDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          quotesForm.controls.salesRepId.invalid ||
                          quotesForm.controls.salesRepId.touched
                        ">
                        This field is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Expected Close</mat-label>
                      <input formControlName="expectedClose" matInput [matDatepicker]="picker2" (focus)="picker2.open()"
                        readonly autocomplete="off" />
                      <mat-icon matSuffix>close</mat-icon>
                    </mat-form-field>
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Memo</mat-label>
                      <input formControlName="memo" matInput type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Subsidary</mat-label>
                      <mat-select formControlName="subsidiaryId" required readonly [disabled]="true">
                        <mat-option *ngFor="
                            let lookups of listLookups?.quotes?.subsidiaries
                          " [value]="lookups.id">
                          {{ lookups.subsidiaryDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          quotesForm.controls.subsidiaryId.invalid ||
                          quotesForm.controls.subsidiaryId.touched
                        ">This field is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Classification">
                <div class="row" style="margin:10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Opportunity</mat-label>
                      <mat-select formControlName="opportunity">
                        <mat-option *ngFor="let oppprotunity of listopportunities" [value]="oppprotunity.id">
                          {{
                          oppprotunity.documentNumber ||
                          "OPP#" + oppprotunity.id
                          }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Lead Source</mat-label>
                      <mat-select formControlName="leadSourceId" required>
                        <mat-option *ngFor="
                            let lookups of listLookups?.company?.leadSource
                          " [value]="lookups.id">
                          {{ lookups.leadTypeDescription }}
                        </mat-option>
                        <mat-error *ngIf="
                            quotesForm.controls.leadSourceId.invalid ||
                            quotesForm.controls.leadSourceId.touched
                          ">
                          This field is required</mat-error>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Forecast Type</mat-label>
                      <mat-select formControlName="forecastTypeId">
                        <mat-option *ngFor="
                            let lookups of listLookups?.quotes?.forecastType
                          " [value]="lookups.id">
                          {{ lookups.forecastTypeDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          quotesForm.controls.forecastTypeId.invalid ||
                          quotesForm.controls.forecastTypeId.touched
                        ">
                        Please Select Forecast</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
        <div class="mt-4" *ngIf="showItemList">
          <mat-card class="item-card p-0">
            <div class="border-bottom w-100 d-flex justify-content-between align-items-center p-3">
              <h1 class="primary-text card-heading m-0">
                <b>Items</b>
              </h1>
              <div class="tab-list-wrapper" *ngIf="!showDisCountPage">
                <button mat-stroked-button (click)="goBackToSelectionList()"
                  [ngClass]="{ active: !showSavedItemsList }">
                  All Items
                </button>
                <button mat-stroked-button (click)="saveAndNext()" [ngClass]="{ active: showSavedItemsList }"
                  [disabled]="quoteItems?.length == 0">
                  Selected Items ({{ quoteItems?.length }})
                </button>
              </div>
              <div *ngIf="showDisCountPage">
                <button mat-stroked-button (click)="goBackToSavedItemsList()" class="green-btn">
                  <mat-icon matPrefix>chevron_left</mat-icon>
                  Back
                </button>
              </div>
            </div>
            <mat-progress-bar *ngIf="!hideSpinnerofTemplate" class="example-margin" [color]="color" [mode]="mode"
              [value]="value" [bufferValue]="bufferValue">
            </mat-progress-bar>
            <div class="w-100 ">
              <div class="border-bottom w-100 pb-3 pt-3 ps-3 d-flex justify-content-between"
                *ngIf="!showSavedItemsList && !showDisCountPage">
                <div class="d-flex align-items-center flex-wrap w-90">
                  <div class="tab-list-wrapper">
                    <button mat-stroked-button (click)="goTo('templates')"
                      [ngClass]="{ active: activeTab === 'templates' }">
                      Templates
                    </button>
                    <button mat-stroked-button (click)="goTo('hardware')"
                      [ngClass]="{ active: activeTab === 'hardware' }">
                      Hardware
                    </button>
                    <button mat-stroked-button (click)="goTo('services')"
                      [ngClass]="{ active: activeTab === 'services' }">
                      Services
                    </button>
                    <button mat-stroked-button (click)="goTo('subscriptions')"
                      [ngClass]="{ active: activeTab === 'subscriptions' }">
                      Subscriptions
                    </button>
                  </div>
                  <!-- <div class="c-mat-select-wrapper mb-2">
                                        <mat-form-field appearance="outline">
                                            <mat-icon matPrefix>search</mat-icon>
                                            <mat-label>Search</mat-label>
                                            <input #searchInputElement matInput (keyup)="seach($event, activeTab)" />
                                            <mat-icon matSuffix (click)="clearSearchInput()">close</mat-icon>
                                        </mat-form-field>
                                    </div> -->
                  <div class="search-wrapper-for-list w-39">
                    <input type="text" matInput [placeholder]="
                        activeTab === 'templates'
                          ? 'Search templates...'
                          : 'Search items...'
                      " #searchInputElement (keyup)="seach($event, activeTab)" class="w-100" style="top: 0px;"
                      autocomplete="off" />
                    <span class="material-icons secondry-light-text search-icon">search</span>
                    <span class="material-icons secondry-light-text close-icon"
                      (click)="clearSearchInput()">close</span>
                  </div>
                </div>
                <!-- <div class="me-3">
                                    <button mat-raised-button
                                        [disabled]="!quoteItems.length && !rowData?.quoteItems?.length"
                                        (click)="saveAndNext()" class="theme-bg c-btn border-none">
                                        <mat-icon matPrefix>chevron_right</mat-icon>
                                        Save & Continue
                                    </button>
                                </div> -->
              </div>
              <div class="border-bottom w-100 pt-3 ps-3 d-flex justify-content-end"
                *ngIf="!showDisCountPage && showSavedItemsList">
                <div class="w-50" style="margin-right: 1.5rem;">
                  <!-- <div class="w-100 mb-3">
                                        <h1 class="primary-text card-heading m-0">
                                            <b>Add Discount</b>
                                        </h1>
                                    </div> -->
                  <div class="w-100 d-flex  d-flex justify-content-between align-items-center  mb-3">
                    <mat-form-field appearance="outline" class="w-100 discount-field" style="margin-right: 1rem">
                      <mat-label>Discount</mat-label>
                      <input *ngIf="discountType == 'dollar'" formControlName="dollarDiscount" matInput type="number"
                        (input)="addDiscount(discountType)" placeholder="0.00" autocomplete="off" />
                      <input *ngIf="discountType == 'percent'" placeholder="0" formControlName="percentageDiscount"
                        matInput type="number" (input)="addDiscount(discountType)" autocomplete="off" />
                    </mat-form-field>
                    <div class="d-flex add-discount">
                      <button mat-raised-button (click)="selectDiscountType('dollar')" class="me-2"
                        [ngClass]="{ active: discountType == 'dollar' }">
                        <mat-icon>attach_money</mat-icon>
                      </button>
                      <button mat-raised-button (click)="selectDiscountType('percent')"
                        [ngClass]="{ active: discountType == 'percent' }">
                        <span style="font-size: 2em !important;">%</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- *ngIf="showSavedItemsList || showDisCountPage" -->
                <!-- <button mat-mini-fab class="green-btn me-2 " matTooltip="Back"
                                    *ngIf="showSavedItemsList && !showDisCountPage" (click)="goBackToSelectionList()">
                                    <mat-icon matPrefix style="margin-left: 8px;">arrow_back_ios</mat-icon>
                                </button> -->

                <!-- <button mat-stroked-button *ngIf="showSavedItemsList && !showDisCountPage"
                                    (click)="goBackToSelectionList()" class="green-btn">
                                    <mat-icon matPrefix>chevron_left</mat-icon>
                                    Back
                                </button> -->

                <!-- <button mat-stroked-button *ngIf="showDisCountPage" (click)="goBackToSavedItemsList()"
                                    class="green-btn mx-2">
                                    <mat-icon matPrefix>chevron_left</mat-icon>
                                    Back
                                </button> -->

                <!-- <button mat-raised-button color="primary" *ngIf="!showDisCountPage"
                                    (click)="saveOppItems()" class="theme-bg c-btn border-none me-2"
                                    [disabled]="!quoteItems.length && !rowData?.quoteItems?.length">
                                    <mat-icon matPrefix>chevron_right</mat-icon>
                                    Next
                                </button> -->
              </div>

              <div class="ms-3 me-3" *ngIf="
                  activeTab === 'templates' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <mat-accordion class="example-headers-align c-accordian" multi>
                  <mat-expansion-panel *ngFor="let templates of listTemplates">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="primary-text">
                        <mat-checkbox [checked]="templates.selected" matPrefix (change)="calculateTotalValue(templates)"
                          (click)="$event.stopPropagation()" class="px-4">
                        </mat-checkbox>
                        {{ templates.templateName }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container p-0">
                      <mat-list class="p-0">
                        <mat-list-item *ngFor="let item of templates.items" class="c-mat-list-item">
                          <div>{{ item.quantity }} x {{ item.itemName }}</div>
                          <div>${{ item.amount | number: "1.2-2" || 0.0 }}</div>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <div *ngIf="listTemplates?.length == 0" class="noRecordFound">
                  No Templates Found!
                </div>
              </div>
              <div class="" *ngIf="
                  activeTab === 'hardware' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <div *ngIf="!listItems" class="loader">Loading...</div>
                <table *ngIf="listItems?.length != 0" mat-table [dataSource]="listItems" class=" quote-tab w-100">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="
                          selection.toggle(row); calculateHardwareItems(row)
                        " (click)="$event.stopPropagation()" [checked]="selection.isSelected(row) || row.selected"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="basePrice">
                    <th mat-header-cell *matHeaderCellDef>Base Price</th>
                    <td mat-cell *matCellDef="let element">
                      ${{ element.basePrice | number: "1.2-2" }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
                </table>

                <div *ngIf="listItems?.length == 0" class="noRecordFound">
                  No Hardwares Found!
                </div>
              </div>
              <div class="" *ngIf="
                  activeTab === 'services' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <!-- <div *ngIf="!listItems" class="loader">Loading...</div> -->
                <table *ngIf="listItems?.length != 0" mat-table [dataSource]="listItems" class=" quote-tab w-100">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="
                          selection.toggle(row); calculateServiceItems(row)
                        " (click)="$event.stopPropagation()" [checked]="selection.isSelected(row) || row.selected"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.quantity }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="basePrice">
                    <th mat-header-cell *matHeaderCellDef>Base Price</th>
                    <td mat-cell *matCellDef="let element">
                      ${{ element.basePrice | number: "1.2-2" }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
                </table>

                <div *ngIf="listItems?.length == 0" class="noRecordFound">
                  No Services Found!
                </div>
                <!-- <div *ngIf="listItems.length==0"
                                    style="display: flex; justify-content: center; align-items: center; background: white;">
                                    <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50"
                                        mode="indeterminate">
                                    </mat-progress-spinner>
                                </div> -->
              </div>
              <div class="" *ngIf="
                  activeTab === 'subscriptions' &&
                  !showSavedItemsList &&
                  !showDisCountPage
                ">
                <div *ngIf="!listItems" class="loader">Loading...</div>
                <table *ngIf="listItems?.length != 0" mat-table [dataSource]="listItems" class="quote-tab w-100">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                          selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="
                          selection.toggle(row); calculateSubscriptionItems(row)
                        " (click)="$event.stopPropagation()" [checked]="selection.isSelected(row) || row.selected"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <!-- <ng-container matColumnDef="quantity">
                                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                                    </ng-container> -->
                  <ng-container matColumnDef="basePrice">
                    <th mat-header-cell *matHeaderCellDef>Base Price</th>
                    <td mat-cell *matCellDef="let element">
                      ${{ 7 * element.basePrice | number: "1.2-2" }}/wk
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedSubscriptionColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedSubscriptionColumns"
                    (click)="selection.toggle(row)"></tr>
                </table>

                <div *ngIf="listItems?.length == 0" class="noRecordFound">
                  No Subscriptions Found!
                </div>
              </div>
            </div>
            <div class="" *ngIf="showSavedItemsList && !showDisCountPage">
              <!-- <div *ngIf="!quoteItems" class="loader">Loading...</div> -->
              <table mat-table [dataSource]="quoteItems" class=" w-100">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class="primary-text">
                    <b>Item</b>
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="rate">
                  <th mat-header-cell *matHeaderCellDef class="text-end ps-3 pe-3 primary-text">
                    <b>Base Price</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-end ps-3 pe-3">
                    ${{ element.rate | number: "1.2-2" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef class="text-end ps-3 pe-3 primary-text">
                    <b>Amount</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-end ps-3 pe-3">
                    <span *ngIf="element.segmentId === 3">
                      ${{ element.amount | number: "1.2-2" }}/wk
                    </span>
                    <span *ngIf="element.segmentId !== 3">
                      ${{ element.amount | number: "1.2-2" }}
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef class="text-end primary-text">
                    <b>Quantity</b>
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-end">
                    <button mat-stroked-button (click)="decreaseItemQuantity(element)" class="me-3">
                      <mat-icon class="secondary-text">remove</mat-icon>
                    </button>
                    {{ element.quantity }}
                    <button mat-stroked-button [disabled]="element.segmentId === 3"
                      (click)="increaseItemQuantity(element)" class="ms-3">
                      <mat-icon class="secondary-text">add</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayQuoteItems"></tr>
                <tr mat-row *matRowDef="let row; columns: displayQuoteItems" (click)="selection.toggle(row)"></tr>
              </table>

              <div *ngIf="!quoteItems?.length"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </div>
            <div *ngIf="showDisCountPage" class="col-lg-12">
              <div class="row m-0 pt-5 pb-5">
                <div class="col-lg-8 border-right">
                  <div class="summry-card">
                    <h1 class="primary-text card-heading m-0 mb-3">
                      <b>Summary</b>
                    </h1>
                    <div class="border-bottom">
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Services</p>
                        <p class="primary-text m-0">
                          ${{ totalServiceAmount | number: "1.2-2" || 0.0 }}
                        </p>
                      </div>
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Hardware</p>
                        <p class="primary-text m-0">
                          ${{ totalHardwareAmount | number: "1.2-2" || 0.0 }}
                        </p>
                      </div>
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Discount</p>
                        <p class="primary-text m-0">
                          ${{
                          quotesForm.controls["discountAmount"].value
                          | number: "1.2-2" || 0.0
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="pt-2 pb-2 ">
                      <div class="summery-content">
                        <p class="primary-text m-0"><b>GRAND TOTAL</b></p>
                        <p class="primary-text m-0">
                          <b>
                            ${{
                            quotesForm.value.amountAfterDiscount
                            | number: "1.2-2" || 0.0
                            }}</b>
                        </p>
                      </div>
                      <div class="summery-content">
                        <p class="secondry-light-text m-0">Subscription</p>
                        <p class="primary-text m-0">
                          ${{
                          totalSubscriptionAmount | number: "1.2-2" || 0.0
                          }}/wk
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="w-100">
                    <div class="w-100 d-flex justify-content-between align-items-center mb-3">
                      <h1 class="primary-text card-heading m-0">
                        <b>Add Discount</b>
                      </h1>
                      <div class="d-flex add-discount">
                        <button mat-raised-button (click)="selectDiscountType('dollar')" class="me-2"
                          [ngClass]="{ active: discountType == 'dollar' }">
                          <mat-icon>attach_money</mat-icon>
                        </button>
                        <button mat-raised-button (click)="selectDiscountType('percent')"
                          [ngClass]="{ active: discountType == 'percent' }">
                          <mat-icon>%</mat-icon>
                        </button>
                      </div>
                    </div>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Discount</mat-label>
                      <input *ngIf="discountType == 'dollar'" formControlName="dollarDiscount" matInput type="number"
                        (input)="addDiscount(discountType)" placeholder="0.00" autocomplete="off" />
                      <input *ngIf="discountType == 'percent'" placeholder="0" formControlName="percentageDiscount"
                        matInput type="number" (input)="addDiscount(discountType)" autocomplete="off" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div style="box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.08);" *ngIf="
                activeTab === 'templates' &&
                !showDisCountPage &&
                !showSavedItemsList
              ">
              <div *ngIf="!hideSpinnerofTemplate"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>

              <mat-card class="">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="w-100">
                    <p class="m-0">
                      {{ totalSelectedCheckBox }} items Selected
                    </p>
                  </div>
                </div>
              </mat-card>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="w-100">
          <mat-card class="summry-card pb-0">
            <h1 class="primary-text card-heading m-0 mb-3"><b>Summary</b></h1>
            <div class="border-bottom">
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Services</p>
                <p class="primary-text m-0 f-12">
                  ${{ totalServiceAmount | number: "1.2-2" || 0.0 }}
                </p>
              </div>
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Hardware</p>
                <p class="primary-text m-0 f-12">
                  ${{ totalHardwareAmount | number: "1.2-2" || 0.0 }}
                </p>
              </div>
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Discount</p>
                <p class="primary-text m-0 f-12">
                  ${{
                  quotesForm.controls["discountAmount"].value
                  | number: "1.2-2" || 0.0
                  }}
                </p>
              </div>
            </div>
            <div class="pt-2 pb-2 ">
              <div class="summery-content">
                <p class="primary-text m-0 f-12"><b>GRAND TOTAL</b></p>
                <p class="green-text m-0 f-12">
                  <b>${{
                    quotesForm.value.amountAfterDiscount
                    | number: "1.2-2" || 0.0
                    }}</b>
                </p>
              </div>
              <div class="summery-content">
                <p class="secondry-light-text m-0 f-12">Subscription</p>
                <p class="primary-text m-0 f-12">
                  ${{ totalSubscriptionAmount | number: "1.2-2" || 0.0 }}/wk
                </p>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="w-100 mt-4" *ngIf="showExtras">
          <mat-card class=" related-contact-card ">
            <div class=" d-flex justify-content-between align-items-center ">
              <h1 class=" primary-text card-heading m-0"><b> Contacts</b></h1>
              <div class="d-flex align-items-center justify-content-end
                                                    flex-wrap">
                <div *ngIf="contactData && contactData.length" class="me-2">
                  <h5 class="m-0 f-12">
                    Total :
                    {{
                    contactData && contactData.length
                    ? contactData.length
                    : "0"
                    }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-12 input-cc">
                <!-- <mat-form-field appearance="outline" class="w-100">
                                    <mat-icon matPrefix>search</mat-icon>
                                    <mat-label>Add Contacts</mat-label>
                                    <mat-select>
                                        <div style="padding:15px">
                                            <input matInput (keyup)="searchParent($event)"
                                                (keydown)="$event.stopPropagation()" autofocus placeholder="Search"
                                                autocomplete="off" />
                                        </div>
                                        <mat-option *ngFor="let obj of contactListSearch; let i = index"
                                            (click)="updateContacts(obj)" [value]="obj.name">
                                            {{ obj.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                <ng-select class="custom" placeholder="Search Contacts" appearance="outline" #ngSelectComponent
                  [items]="contactListSearch" [virtualScroll]="true" bindLabel="name" bindValue="name"
                  (change)="updateContacts($event)">
                </ng-select>
              </div>
            </div>
            <div *ngIf="showContactsLoader"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div class="no-content" *ngIf="showContactsNoRecMsg">
              <h4 class="primary-text c-h2 f-12">No Contact found!</h4>
            </div>
            <div class="contact-height" *ngIf="contactData.length > 0">
              <div class="row d-flex justify-content-between align-items-center border-bottom pb-2 pt-4 c-pointer"
                (click)="gotoContact(contact)" *ngFor="let contact of contactData">
                <div class="col-lg-10 row">
                  <div class="col-lg-5">
                    <h5 class="primary-text c-h2 m-0 c-purple" style="font-size: 12px">
                      {{ contact.name }}
                    </h5>
                    <h5 class="grey-color f-12">
                      {{ contact.phone || "No Phone" }}
                    </h5>
                  </div>
                  <div class="col-lg-5">
                    <h5 class="grey-color m-0 c-h2  f-12">
                      {{ contact?.jobTitle || "No Job title" }}
                    </h5>
                    <h5 class="grey-color f-12">
                      {{ contact?.email || "No Email" }}
                    </h5>
                  </div>
                </div>
                <div class="col-lg-2" style="margin-bottom: auto;">
                  <h5 *ngIf="contact?.role" style="width: fit-content;float: right;" class="blue-badge ">
                    {{ contact?.role }}
                  </h5>
                  <h5 *ngIf="contact?.role == '' || !contact?.role" class="m-0 f-12"
                    style="width: fit-content;float: right;">
                    No Role
                  </h5>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="w-100 mt-4" *ngIf="showExtras">
          <mat-card class="related-contact-card  mt-4">
            <div class="d-flex justify-content-between align-items-center ">
              <h1 class="primary-text card-heading m-0">
                <b>Recent Activities </b>
              </h1>
              <div class="d-flex align-items-center justify-content-end flex-wrap">
                <div class="me-2">
                  <h5 class="m-0 f-12">
                    Total :
                    {{
                    relatedActivityArray && relatedActivityArray.length
                    ? relatedActivityArray.length
                    : "0"
                    }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="contact-height" *ngIf="relatedActivityArray.length > 0">
              <div class="d-flex align-items-center border-bottom pb-2 pt-2 c-pointer"
                *ngFor="let activity of relatedActivityArray">
                <div class="img-wrapper blue">
                  <img src="../../../assets/img/list_icon.svg" />
                </div>
                <div (click)="showdetails(activity)">
                  <h4 class="primary-text c-h2 m-0 mb-2 c-purple f-12 ">
                    {{ activity.title }}
                  </h4>
                  <p class="secondry-light-text f-12 ">
                    {{ activity.startDate | date: "dd MMM YYYY hh:mm a" }}
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf="showActivitiesLoader"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div *ngIf="showActivitiesNoRecMsg" class="no-content ">
              <h4 class="primary-text c-h2 f-12">No Activity Found</h4>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>