<div class="content-header ptb-10">
  <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="ContactId == 0">
    <h1 class="m-0">Add Contact</h1>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="ContactId != 0">
    <!-- <h1 class="m-0">
            {{ companyDetails.firstName }} {{ companyDetails.lastName }}
            <span class="p-0" *ngIf="companyDetails?.email">
                <mat-icon class="custom-icon">email</mat-icon>
                <span class="blue-badge">{{ companyDetails.email }}</span>
            </span>
            <span class="p-0" *ngIf="companyDetails?.phone">
                <mat-icon class="custom-icon">phone</mat-icon>
                <span class="blue-badge">{{ companyDetails.phone }}</span>
            </span>
        </h1> -->
    <div class="d-flex align-items-center">
      <h1 class="p-0 d-flex align-items-center">
        <div>
          {{ companyDetails?.firstName }}
          {{ companyDetails?.middleName?.slice(0, 1) }}
          {{ companyDetails?.lastName }}
        </div>
        <div class="orange-badge ml-5" *ngIf="companyDetails.role">
          {{ companyDetails.role }}
        </div>
      </h1>
      <div class="common-button-email d-flex align-items-center ms-2" *ngIf="companyDetails?.email">
        <mat-icon class="custom-icon-email">email</mat-icon>
        <div class="f-12 cust-title">{{ companyDetails.email }}</div>
      </div>
      <div class="common-button-phone d-flex align-items-center ms-2" *ngIf="companyDetails?.phone">
        <mat-icon class="custom-icon-phone">phone</mat-icon>
        <div class="f-12 cust-title">{{ companyDetails.phone }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-right" *ngIf="!IsEditClick">
    <!-- <button mat-raised-button class="green-btn   c-btn" (click)="EditClick()">
      <span class="material-icons">
        edit
      </span>
      Edit
    </button> -->
    <button mat-mini-fab class="custom-edit-btn-size me-2" matTooltip="Edit" (click)="EditClick()">
      <span class="material-icons"> edit </span>
    </button>
    <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add Company" (click)="AddNewContact()">
      <span class="material-icons">
        add
      </span>
    </button>
    <!-- <button mat-raised-button class="theme-bg c-btn" style="margin-left: 1em;" (click)="AddNewContact()">
      <span class="material-icons add-btn">
        add
      </span>
      Add Contacts
    </button> -->
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-right" *ngIf="!IsEditClick"></div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-right" *ngIf="IsEditClick">
    <!-- <button mat-raised-button class="green-btn c-btn" (click)="submitbtnClick()">
      <span class="material-icons me-2"> save </span>Save
    </button>
        <button mat-raised-button class="green-btn c-btn" style="margin-left: 1em;" (click)="ViewContact()">
      <span class="material-icons me-2"> cancel </span>Cancel
    </button> -->

    <button mat-mini-fab class="custom-save-btn-size me-2" matTooltip="Save" (click)="submitbtnClick()">
      <span class="material-icons">
        save
      </span>
    </button>
    <button mat-mini-fab class="custom-cancel-btn-size" matTooltip="Cancel" (click)="ViewContact()">
      <span class="material-icons">
        close
      </span>
    </button>
  </div>
</div>

<div class="opportunities-content">
  <div class="row" *ngIf="!IsEditClick">
    <div class="col-lg-8">
      <div class="w-100">
        <mat-card class="w-100 p-0">
          <mat-tab-group mat-align-tabs="start" class="content table-space" [selectedIndex]="selectedIndex">
            <mat-tab label="Primary Information">
              <table class="mat-elevation-z8 companies-table w-100 c-companies-table" *ngIf="companyDetails.firstName">
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">First Name</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Middle Name</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Last Name</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Company Name</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{
                      companyDetails.firstName || "N/A"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      companyDetails.middleName || "N/A"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      companyDetails.lastName || "N/A"
                      }}</mat-label>
                  </td>
                  <td>
                    <a href="javascript:void(0)" style="cursor: pointer;color: #ff4081;"
                      (click)="gotoCompany(companyDetails, true)">
                      <mat-label>{{
                        companyDetails.companyName || "N/A"
                        }}</mat-label>
                    </a>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Phone</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple"> Main Phone</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple"> Email</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple"> Job Title</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companyDetails.phone || "N/A" }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      companyDetails.mainPhone || "N/A"
                      }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companyDetails.email || "N/A" }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      companyDetails.jobTitle || "N/A"
                      }}</mat-label>
                  </td>
                </tr>
              </table>

              <div *ngIf="!companyDetails.firstName"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
              </div>
            </mat-tab>
            <mat-tab label="Classification">
              <table class="mat-elevation-z8 companies-table w-100 c-companies-table">
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Role</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Subsisdiary</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{ companyDetails.role }}</mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companyDetails.subsisdiary }}</mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>
            <mat-tab label="Address">
              <table class="mat-elevation-z8 companies-table w-100 c-companies-table">
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Address Line 1</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Address Line 2</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">City or Suburb</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">State</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{
                      companyDetails.residentialAddress?.addressLine1 || "N/A"
                      }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      companyDetails.residentialAddress?.addressLine2 || "N/A"
                      }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{ companyDetails.residentialAddress?.city || "N/A" }}
                    </mat-label>
                  </td>

                  <td>
                    <mat-label>{{
                      getState(companyDetails.residentialAddress?.stateId)
                      }}
                    </mat-label>
                  </td>
                </tr>
                <br />
                <tr style="font-size: small;color: grey;">
                  <td class="td">
                    <mat-label class="c-purple">Post Code</mat-label>
                  </td>
                  <td>
                    <mat-label class="c-purple">Country</mat-label>
                  </td>
                </tr>
                <tr>
                  <td class="td">
                    <mat-label>{{
                      companyDetails.residentialAddress?.postCode || "N/A"
                      }}
                    </mat-label>
                  </td>
                  <td>
                    <mat-label>{{
                      getCountry(companyDetails.residentialAddress?.countryId)
                      }}
                    </mat-label>
                  </td>
                </tr>
              </table>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>

      <div class="mt-4" *ngIf="listLookups.length != 0 && showCal">
        <app-calendar [tableHeight]="550" [pageLength]="10" [showExportIcons]="false" [listLookups]="listLookups"
          [subActivityForm]="subActivityForm" [from]="'Contact'" [InitialView]="'Agenda'"
          [CompanyId]="ContactForm.controls['companyId'].value" [ContactId]="ContactId"
          [contactDetails]="companyDetails" [salesRepIdContact]="salesRepIdContact.salesRepId">
        </app-calendar>
      </div>
    </div>

    <div class="col-lg-4">
      <mat-card class="related_oppo-card">
        <div class="d-flex justify-content-between align-items-center ">
          <h1 class="primary-text card-heading m-0">
            Companies
            <!-- <p *ngIf="quoteData && quoteData.length" class="m-0" style="font-size:12px">Total : {{quoteData.length}}
                                    </p> -->
          </h1>
          <div class="d-flex align-items-center justify-content-end
                        flex-wrap">
            <div *ngIf="relatedCompany && relatedCompany?.length" class="me-2">
              <h5 class="m-0 f-12">
                Total :
                {{
                relatedCompany && relatedCompany?.length
                ? relatedCompany?.length
                : "0"
                }}
              </h5>
            </div>
            <button mat-mini-fab class="custom-add-btn-size" matTooltip=" Add Company" (click)="goToPage()">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
        </div>

        <!-- <button mat-raised-button class="theme-bg c-btn" (click)="goToPage()">
            + Add Company
          </button> -->

        <div class="mt-3">
          <div class="col-lg-12 input-cc">
            <!-- <mat-form-field appearance="outline" class="w-100 c-searchbar">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>Add Company</mat-label>
                            <mat-select (click)="clearCompanyDetails()" formControlName="company">
                                <div style="padding:15px">
                                    <input matInput [(ngModel)]="searchedInput" [ngModelOptions]="{ standalone: true }"
                                        (keyup)="searchParent($event)" (keydown)="$event.stopPropagation()" autofocus
                                        placeholder="Search" autocomplete="off" />
                                </div>
                                <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyName"
                                    (click)="setSelectedcompany(obj)">
                                    {{ obj.companyName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
            <ng-select class="custom" placeholder="Search Company" appearance="outline" #ngSelectComponent
              appendTo="body" style="overflow: auto;" [items]="companyListSearch" [virtualScroll]="true"
              bindLabel="companyName" bindValue="companyName" (change)="setSelectedcompany($event)">
            </ng-select>
            <div *ngIf="showCompaniesLoader"
              style="display: flex; justify-content: center; align-items: center; background: white;">
              <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
              </mat-progress-spinner>
            </div>
            <div class="no-content" *ngIf="showCompaniesNoRecMsg">
              <h2 class="primary-text c-h2 f-12">No Company Found!</h2>
            </div>
            <div class="contact-height" style=" overflow-x: hidden;">
              <div class="row d-flex justify-content-between align-items-center border-bottom pb-2 pt-4 c-pointer"
                *ngFor="let item of relatedCompany" (click)="gotoCompany(item, false)">
                <div class="col-lg-10 row">
                  <div class="col-lg-5">
                    <h5 class="primary-text c-h2 m-0 c-purple">
                      {{ item?.tradingName }}
                    </h5>
                    <h5 class="grey-color">{{ item?.phone || "No Phone" }}</h5>
                  </div>
                  <div class="col-lg-5" style="margin-bottom: auto;">
                    <h5 class="grey-color">{{ item?.email || "No Email" }}</h5>
                  </div>
                </div>
                <div class="col-lg-2" style="margin-bottom: auto;">
                  <span class="orange-badge" style="width: fit-content;float: right;" *ngIf="item?.stageType == 'Lead'">
                    {{ item?.stageType }}
                  </span>
                  <span class="green-badge" style="width: fit-content;float: right;"
                    *ngIf="item?.stageType == 'Prospect'">
                    {{ item?.stageType }}
                  </span>
                  <span class="blue-badge" style="width: fit-content;float: right;"
                    *ngIf="item?.stageType == 'Customer'">
                    {{ item?.stageType }}
                  </span>
                  <!-- <h5 *ngIf="item?.role" style="width: fit-content;float: right;" class="blue-badge ">{{item?.role }}</h5> -->
                  <!-- <h5 class="blue-badge m-0" style="width: fit-content;float: right;">{{item?.role || "No role"}}</h5> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <!-- 
          Developer :- sumit meghrajani 
          Date :- 06-06-2022 11:50 AM
          hidden the Opportunities part for new changes Phase 1 
        -->
      <mat-card class="related_oppo-card mt-4" hidden="true">
        <div class="d-flex justify-content-between align-items-center ">
          <h1 class="primary-text card-heading m-0">
            Opportunities
          </h1>
          <div class="d-flex align-items-center justify-content-end flex-wrap">
            <div class="me-2 ">
              <h5 class="m-0 f-12">
                Total :
                {{ oppertunityData.length ? oppertunityData.length : "0" }}
              </h5>
            </div>
            <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add" (click)="setRedirctopportunity()">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="showOppertunitiesLoader"
          style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
          </mat-progress-spinner>
        </div>
        <div class="no-content" *ngIf="showOppertunitiesNoRecMsg">
          <h4 class="primary-text c-h2 f-12">No Opportunities Found!</h4>
        </div>
        <div class="contact-height" style="margin-top: 10px; overflow-x: hidden;" *ngIf="oppertunityData.length != 0">
          <div class="row d-flex justify-content-between align-items-center border-bottom pt-3 c-pointer"
            *ngFor="let item of oppertunityData" (click)="gotoOpportunity(item)">
            <div class="row col-lg-10">
              <div class="row col-lg-5">
                <h5 class="primary-text c-h2 m-0 c-purple" style="font-size:12px">
                  {{ item.opp }}
                </h5>
                <h5 class="grey-color">
                  {{ item.date | date: "dd MMM YYYY" }}
                </h5>
              </div>
              <div class="row col-lg-5">
                <h5 class="grey-color c-h2" style="font-size:12px">
                  {{ item.title }}
                </h5>
              </div>
            </div>
            <div class="col-lg-2" style="margin-bottom: auto;">
              <div style="float:right;">
                <!-- <span class="blue-badge" *ngIf="dataSource[0].stage == 'Customer'">
                                                        {{ dataSource[0].stage }}
                                                    </span> -->
                <h5 class="m-0">
                  <span class="blue-badge" *ngIf="item?.opportunityStatus" style="width: fit-content;font-size:12px">{{
                    item?.opportunityStatus }}</span>
                </h5>
                <h5 class="c-purple" style="float:right">
                  ${{ item.amountAfterDiscount | number: "1.2-2" }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <!-- 
          Developer :- sumit meghrajani 
          Date :- 06-06-2022 11:50 AM
          hidden the Quotes part for new changes Phase 1 
        -->
      <mat-card class="related_oppo-card mt-4" hidden="true">
        <div class="d-flex justify-content-between align-items-center ">
          <h1 class="primary-text card-heading m-0">
            Quotes
            <!-- <p *ngIf="quoteData && quoteData.length" class="m-0" style="font-size:12px">Total : {{quoteData.length}}
                            </p> -->
          </h1>
          <div class="d-flex align-items-center justify-content-end flex-wrap">
            <div class="me-2 ">
              <h5 class="m-0 f-12">
                Total : {{ quoteData.length ? quoteData.length : "0" }}
              </h5>
            </div>
            <button mat-mini-fab matTooltip="Add" class="custom-add-btn-size" (click)="setRedirctQuote()">
              <span class="material-icons">
                add
              </span>
            </button>
          </div>
        </div>
        <div *ngIf="showQuoteLoader"
          style="display: flex; justify-content: center; align-items: center; background: white;">
          <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
          </mat-progress-spinner>
        </div>

        <div class="no-content" *ngIf="showQuoteNoRecMsg">
          <h4 class="primary-text c-h2 f-12">No Quotes Found!</h4>
        </div>
        <div class="contact-height" style="margin-top: 10px; overflow-x: hidden;" *ngIf="quoteData.length > 0">
          <div class="row d-flex justify-content-between align-items-center border-bottom  pt-3 c-pointer"
            *ngFor="let item of quoteData" (click)="gotoQuote(item)">
            <div class="row col-lg-10">
              <div class=" col-lg-5">
                <h5 class="primary-text c-h2 m-0 c-purple">{{ item.opp }}</h5>
                <h5 class="grey-color">
                  {{ item.date | date: "dd MMM YYYY" }}
                </h5>
              </div>
              <div class=" col-lg-5">
                <h5 class="grey-color c-h2" style="font-size:12px">
                  {{ item.title }}
                </h5>
              </div>
            </div>

            <div class="col-lg-2">
              <div style="float:right;">
                <h5 class="m-0">
                  <span class="blue-badge" *ngIf="item?.status" style="width: fit-content;font-size:12px">{{
                    item?.status }}</span>
                </h5>
                <!-- <h5 class="blue-badge" *ngIf="item?.status">{{item?.status}}</h5> -->
                <h5 class="c-purple" style="float:right">
                  ${{ item.amountAfterDiscount | number: "1.2-2" }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <mat-card *ngIf="IsEditClick" class="p-0">
    <form [formGroup]="ContactForm" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="w-100" style="width: 100px">
            <mat-tab-group mat-align-tabs="start" class="content example-headers-align"
              (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedIndex">
              <!-- #enddocregion align-start -->
              <mat-tab label="Primary Information">
                <div class="row" style="margin:10px">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Name<span *ngIf="isRequired('firstName')" style="color: #e30513;">&nbsp;*</span>
                      </mat-label>
                      <input type="text" matInput placeholder="First Name" formControlName="firstName" maxlength="400"
                        autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['firstName'].hasError('required')
                        ">
                        This field is required</mat-error>
                      <mat-error *ngIf="
                          ContactForm.controls['firstName'].hasError('pattern')
                        ">
                        Digits are not allowed</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <!-- <mat-label>Middle Name<span *ngIf="isRequired('lastName')" style="color: #e30513;">&nbsp;*</span>
                      </mat-label> -->
                      <input type="text" matInput placeholder="Middle Name" formControlName="middlename"
                        autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['middlename'].hasError(
                            'required'
                          )
                        ">
                        This field is required</mat-error>
                      <mat-error *ngIf="
                          ContactForm.controls['middlename'].hasError('pattern')
                        ">
                        Digits are not allowed</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <!-- <mat-label>LastName<span *ngIf="isRequired('lastName')" style="color: #e30513;">&nbsp;*</span>
                      </mat-label> -->
                      <input type="text" matInput placeholder="Last Name" formControlName="lastName" maxlength="400"
                        autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['lastName'].hasError('required')
                        ">
                        This field is required</mat-error>
                      <mat-error *ngIf="
                          ContactForm.controls['lastName'].hasError('pattern')
                        ">
                        Digits are not allowed</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label>Company
                                                <span *ngIf="isRequired('companyId')"
                                                    style="color: #e30513;">&nbsp;*</span>
                                            </mat-label>

                                            <mat-select (click)="clearCompanyDetails()" formControlName="companyId">
                                                <div style="padding:15px">
                                                    <input type="text" [(ngModel)]="searchdropdown"
                                                        [ngModelOptions]="{ standalone: true }" matInput
                                                        (keyup)="searchCompany($event)"
                                                        (keydown)="$event.stopPropagation()" autofocus
                                                        placeholder="Search" autocomplete="off" />
                                                </div>

                                                <mat-option *ngFor="let obj of companyListSearch"
                                                    [value]="obj.companyId" (click)="setCompany(obj)">
                                                    {{ obj.companyName }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="     ContactForm.controls['companyType'].hasError(  'required'  ) || ContactForm.controls['companyType'].touched     ">
                                                This field is required</mat-error>
                                        </mat-form-field> -->

                    <ng-select placeholder="Company" [items]="companyListSearch" [virtualScroll]="true"
                      [formControlName]="'companyId'" bindLabel="companyName" bindValue="companyId"
                      (change)="FillDropDowns($event)">
                    </ng-select>
                    <mat-error class="f-10" *ngIf="
                        ContactForm.controls.companyId.invalid &&
                        ContactForm.controls.companyId.touched
                      ">
                      This field is required</mat-error>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Phone </mat-label>
                      <input type="text" matInput placeholder="Phone" formControlName="phone"
                        (keyup)="search($event, 'phone')" autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['phone'].hasError('pattern') &&
                          ContactForm.controls['phone'].touched
                        ">
                        Please Enter valid phone number.</mat-error>
                      <!-- <mat-hint align="end"> {{ phoneLength }} / 10</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Main Phone </mat-label>
                      <input type="text" matInput placeholder="Main Phone" formControlName="mainphone"
                        (keyup)="search($event, 'mainphone')" autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['mainphone'].hasError(
                            'pattern'
                          ) && ContactForm.controls['mainphone'].touched
                        ">
                        Please Enter valid phone number.</mat-error>
                      <!-- <mat-hint align="end"> {{ phoneLength }} / 10</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Email </mat-label>
                      <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['email'].hasError('email') &&
                          ContactForm.controls['email'].touched
                        ">
                        Please Enter valid E-mail</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label> Job title </mat-label>
                      <input type="text" matInput placeholder="job title" formControlName="jobTitle"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Classification Information">
                <div class="row" style="margin:10px">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Role</mat-label>
                      <mat-select formControlName="roleId">
                        <mat-option *ngFor="let obj of RoleList" [value]="obj.id">
                          {{ obj.roleDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label> Subsidiary</mat-label>
                      <mat-select formControlName="subsidiaryId" [disabled]="true">
                        <mat-option *ngFor="let obj of SubsidiariesList" [value]="obj.id">
                          {{ obj.subsidiaryDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Address">
                <div class="row" style="margin:10px">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label> Address line1 </mat-label>
                      <input #searchAdress formControlName="addressLine1" placeholder="Address Line1" matInput
                        autocorrect="off" autocapitalize="off" spellcheck="off" type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Address line2</mat-label>
                      <input type="text" matInput placeholder="Address Line2" formControlName="addressLine2"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>City or Suburb</mat-label>
                      <input type="text" matInput placeholder="City" formControlName="city" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>State</mat-label>
                      <mat-select formControlName="stateId">
                        <mat-option *ngFor="let obj of StateList" [value]="obj.id">
                          {{ obj.stateDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Post Code</mat-label>
                      <input type="number" matInput placeholder="PostCode" maxlength="6" minlength="6"
                        formControlName="postCode" (keyup)="search($event, 'postCode')" autocomplete="off" />
                      <mat-error *ngIf="
                          ContactForm.controls['postCode'].hasError(
                            'pattern'
                          ) || ContactForm.controls['postCode'].touched
                        ">
                        Allows only numbers</mat-error>
                      <mat-hint>{{ postCodeLength || 0 }} / 6</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label> Country</mat-label>
                      <mat-select formControlName="countryId">
                        <mat-option *ngFor="let obj of CountryList" [value]="obj.id">
                          {{ obj.countryDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </form>

    <!-- <div align="center">
            <button mat-raised-button class="theme-bg c-btn" type="button" [disabled]="ContactForm.invalid"
                (click)="submitbtnClick()">Save</button>
        </div> -->
  </mat-card>
</div>