.opportunities-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}

.mat-expansion-panel-spacing {
    margin: 0px 0;
}

.border-bottom {
    border-bottom: 1px solid #e5ebf0;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.c-h2 {
    font-weight: 500;
    // font-size: 16px;
    line-height: 22px;
}

.card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.related-contact-card {
    .btn-link {
        background: rgba(126, 56, 251, 0.1);
        border-radius: 6px;
        width: 48px;
        height: 54px;
        box-shadow: none;
        span {
            color: #7e38fb;
        }
    }
    .img-wrapper {
        height: 56px;
        min-width: 56px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
    }
    .blue {
        background: #ebf7ff;
    }
    .orange {
        background: #fff2eb;
    }
}

.summry-card {
    .summery-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.purplecolor {
    color: #7e38fb;
}

.agenda-div {
    text-align: center;
}

.cc-btn {
    background-color: orange;
    border: none;
    opacity: 0.4;
    border-radius: 9px;
}

.td {
    padding-left: 12px;
}

.c-label {
    color: black;
    padding: 5px 5px 0px 5px;
}

.c-event-btn {
    // min-width: unset;
    width: auto;
    height: 35px;
    min-width: unset;
    border-radius: 27px;
    align-items: center;
    justify-content: center;
}

.active-btn {
    // color: white;
    // background-image: linear-gradient(39.59deg, #7E38FB  13.19%, #151050  110.57%);
    // border: none;
    color: white;
    height: 35px;
    min-width: unset;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    border-radius: 27px;
    align-items: center;
    justify-content: center;
    border: none;
}

.in-active-btn {
    background-color: white;
}

.related_oppo-card {
    .summery-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.card-view {
    width: 700px;
    margin-top: 50px;
}

.dashbord-contnet {
    position: relative;
    .content-header {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        background: #fafafa;
        // padding: 20px;
        padding: 2px 25px 0px 21px;
        border-bottom: 1px solid #eeeeee;
        h1 {
            font-size: 24px;
            color: #394085;
            font-weight: 400;
            margin: 0;
        }
        .secondary-text {
            color: #394085;
        }
        .c-mat-form-field {
            max-height: 54px;
            .mat-form-field-wrapper {
                padding-bottom: 0;
                margin: 0;
            }
            .text-right {
                text-align: right;
            }
        }
        .text-right {
            text-align: right;
        }
    }
    .c-card {
        margin: 20px;
        width: 20% !important;
    }
    #apexchartsywch3snzk {
        width: 100%;
        // max-width: 650px;
        // margin: 35px auto;
    }
    .chart-card {
        margin: 20px;
        width: 33.33%;
    }
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
}

.custom-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.form-field {
    min-width: 60px;
    flex: 1 auto;
}

.demo-table {
    width: 100%;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.c-btn {
    border-radius: 6px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Companies-detail-content {
    background: #f5f6f8;
    height: 100%;
    padding: 2px 12px 0px 13px;
}

.related_oppo-card {
    .summery-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

td {
    padding-left: 12px;
    font-size: 12px;
}

.c-email-wrap {
    padding-top: 7px;
    color: gray;
}

.search-wrapper {
    width: 50%;
    margin-left: 15px;
    padding: 0 29px;
    // background: #f6f7f9;
    border-radius: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    input {
        // background: #f6f7f9;
        top: 7px;
        border-radius: 6px;
        color: black !important;
        border: none;
        font-size: 15px;
        font-weight: 400;
        margin-top: 6px;
        margin-left: 10px;
        &:focus-visible {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
    .search-icon {
        position: absolute;
        left: 10px;
        top: 7px;
        font-size: 22px;
        color: inherit !important;
    }
    .close-icon {
        position: absolute;
        // left: 10px;
        top: 6px;
        font-size: 22px;
        color: inherit !important;
        cursor: pointer;
    }
}