@import "~bootstrap/dist/css/bootstrap.css";

/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ng-wizard/themes/ng_wizard.min.css";

/* Optional */


/* If a theme other than default is used, the css file for that theme is required. */

@import "~ng-wizard/themes/ng_wizard_theme_arrows.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_circles.min.css";
@import "~ng-wizard/themes/ng_wizard_theme_dots.min.css";
@import "~@ng-select/ng-select/themes/material.theme";
html,
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-3 {
    toolbar {
        height: 100px !important;
    }
}

.bg {
    animation: slide 25s ease-in-out infinite alternate;
    background-image: linear-gradient( -60deg, rgba(74, 188, 241, 0.322) 50%, rgba(0, 153, 255, 0.39) 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.4;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: 1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 15s;
}

.bg3 {
    animation-duration: 15s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}


/*
    .##........#######...######...####.##....##
    .##.......##.....##.##....##...##..###...##
    .##.......##.....##.##.........##..####..##
    .##.......##.....##.##...####..##..##.##.##
    .##.......##.....##.##....##...##..##..####
    .##.......##.....##.##....##...##..##...###
    .########..#######...######...####.##....##
    */

::placeholder {
    color: rgba(255, 255, 255, 0.541);
}

.form-box {
    width: 380px;
    height: 450px;
    position: relative;
    margin: 2% auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    z-index: 2;
}

.button-box {
    width: 100%;
    margin: 35px auto;
    position: relative;
    // box-shadow: 0 0 15px 5px rgba(14, 117, 235, 0.212);
    border-radius: 30px;
    text-align: center;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #7e38fb;
    border-radius: 30px;
    transition: 0.5s;
    color: #ffffff;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.507);
    outline: none;
    background: transparent;
    font-size: 17px;
}

.input-field:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.submit-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #7e38fb;
    color: #ffffff;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 34px 0;
}

#login {
    left: 50px;
}

#login input {
    color: white;
    font-size: 20;
}

#register {
    left: 450px;
}

#register input {
    color: white;
    font-size: 15;
}

.c-dropdown {
    span {
        color: #000000 !important;
    }
}

.logo {
    img {
        width: 200px;
    }
}

#c-tab-bar {
    width: 100%;
    margin: 24px;
    #ngwizard {
        margin: 24px;
        width: auto;
        ul {
            display: flex;
            li {
                width: 100%;
            }
        }
        .btn-toolbar {
            display: flex;
        }
    }
    .ng-wizard-btn-prev {
        background: #7e38fb;
        color: white;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 2px solid #7e38fb;
        cursor: pointer;
        width: 75px;
    }
    .ng-wizard-btn-next {
        background: #7e38fb;
        color: white;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 2px solid #7e38fb;
        cursor: pointer;
        width: 75px;
    }
    .btn-info {
        background: #7e38fb;
        color: white;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 2px solid #7e38fb;
        cursor: pointer;
        width: 75px;
    }
    .ng-wizard-theme-arrows .step-content {
        padding: 10px 10px;
        border: 0 solid #d4d4d4;
        background-color: transparent;
        text-align: left;
    }
    .ng-wizard-theme-arrows>ul.step-anchor>li.active>a {
        border-color: #a18bd6 !important;
        color: #fff !important;
        background: #a18bd6 !important;
    }
    .ng-wizard-theme-arrows>ul.step-anchor>li.active>a:after {
        border-left: 30px solid #a18bd6 !important;
    }
    .ng-wizard-theme-arrows>ul.step-anchor>li.done>a:after {
        border-left: 30px solid #cab9f3;
    }
    .ng-wizard-theme-arrows>ul.step-anchor>li.done>a {
        border-color: #cab9f3 !important;
        color: #fff !important;
        background: #cab9f3 !important;
    }
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
    color: #6d7d93 !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

.mat-toolbar.mat-primary {
    background: #7e38fb;
    color: white;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #7e38fb;
    color: white;
}

.placeholder {
    background: transparent;
}

// serach-component
.c-mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0 !important;
}

.c-mat-form-field .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
}

.c-mat-form-field .mat-form-field-infix {
    border-top: 0.3em solid transparent;
    width: 250px !important;
}

.content-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 12;
    background: #f6f7f9;
    min-height: 70px;
    padding: 5px 20px 5px 20px;
    h1 {
        font-size: 18px;
        color: #262e4a;
        // font-weight: 500;
        margin: 0;
        line-height: 24px;
    }
    p {
        // font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: capitalize;
        color: #96a0b5;
    }
}

.text-right {
    text-align: right;
}

.c-t-head {
    thead {
        background: #f6f7f9;
    }
}

.primary-text {
    color: #262e4a;
}

.secondary-text {
    color: #6d7d93;
}

.secondry-light-text {
    color: #96a0b5;
}

.green-text {
    color: #65c8c6;
}

.theme-bg {
    background: #7e38fb !important;
    color: #ffffff;
}

.orange-btn {
    background: #fba638;
    color: #ffffff;
}

.red-btn {
    background: #f44336;
    color: #ffffff;
}

.theme-outline-bg {
    background: #ffffff;
    color: #7e38fb;
    border: 1px solid #7e38fb;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.orange-badge {
    color: #fb7f37;
    font-size: 12px;
    background: #fff2eb;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
}

.green-badge {
    color: #65c8c6;
    font-size: 12px;
    background: #e6f6f6;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
}

.blue-badge {
    color: #37b3fb;
    font-size: 12px;
    background: #d0ecff;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
}

.purple-badge {
    color: #7e38fb;
    font-size: 12px;
    background: #f2ebff;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
}

.btn-height {
    height: 54px !important;
}

.no-content {
    text-align: center;
    padding: 15px 0;
}

.border-bottom {
    border-bottom: 1px solid #e5ebf0;
}

.border-right {
    border-right: 1px solid #e5ebf0;
}

.tab-list-wrapper {
    .active {
        background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
        color: #ffffff;
        border-radius: 25px;
        margin-right: 7px;
    }
    button {
        border-radius: 25px !important;
        margin-right: 7px !important;
        border: 1px solid #e5ebf0 !important;
        min-height: 40px;
        padding: 0 10px !important;
        font-size: 12px !important;
    }
}

.c-accordian {
    mat-expansion-panel {
        border: 1px solid #e5ebf0;
        border-radius: 15px !important;
        margin-top: 20px;
        margin-bottom: 20px;
        mat-panel-title {
            font-size: 16px !important;
            font-weight: 500 !important;
        }
        .c-mat-list-item {
            height: 30px !important;
            font-size: 12px !important;
            .mat-list-item-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
    }
}

.h-100 {
    height: 100%;
}

.serchbar-wrapper {
    mat-form-field {
        .mat-form-field-wrapper {
            padding: 0;
            margin: 0;
        }
    }
}

.mat-select-wrapper {
    mat-form-field {
        .mat-form-field-wrapper {
            padding: 0 !important;
            margin: 0 !important;
        }
        .mat-form-field-flex {
            height: 36px !important;
        }
        .mat-select-arrow-wrapper {
            padding-top: 5px !important;
        }
        .mat-form-field-infix {
            padding: 6px 0 1em 0 !important;
        }
    }
}

.c-mat-select-wrapper {
    mat-form-field {
        .mat-form-field-wrapper {
            padding: 0 !important;
            margin: 0 !important;
        }
        .mat-form-field-flex {
            height: 48px !important;
        }
        .mat-select-arrow-wrapper {
            padding-top: 5px !important;
        }
        .mat-form-field-infix {
            padding: 6px 0 1em 0 !important;
        }
        .mat-form-field-prefix,
        .mat-form-field-suffix {
            top: 8px !important;
        }
    }
}

.c-btn {
    border-radius: 6px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 12px !important;
}

.add-btn {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
}

.cal-week-view .cal-all-day-events .cal-event {
    background-color: #ffffff !important;
    border-color: transparent !important;
    border-left: 4px solid #7e38fb !important;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    border-radius: 6px;
    padding: 10px;
}

.cal-week-view .cal-ends-within-day .cal-event {
    background-color: #ffffff !important;
    border-color: transparent !important;
    border-left: 4px solid #7e38fb !important;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    border-radius: 6px;
    padding: 10px;
}

.cal-week-view .cal-event {
    color: #262e4a !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.cal-week-view .cal-header.cal-today {
    background-color: #f2ebff !important;
}

.cal-month-view .cal-day-cell.cal-today {
    background-color: #f2ebff !important;
}

.cal-month-view .cal-open-day-events {
    color: #262e4a !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.cal-month-view .cal-open-day-events {
    background-color: #ffffff !important;
    box-shadow: none !important;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15)) !important;
}

.contact_list-table {
    tbody {
        tr {
            cursor: pointer !important;
        }
    }
}

.swal2-cancel {
    margin-right: 30px;
    width: 20%;
}

.swal2-confirm {
    width: 20%;
}

.contact-list_main-table {
    thead {
        th {
            &:nth-child(2) {
                padding: 0 10px !important;
            }
            &:nth-child(4) {
                padding: 0 10px !important;
            }
            &:nth-child(6) {
                padding: 0 10px !important;
            }
        }
    }
    tbody {
        td {
            &:nth-child(2) {
                padding: 0 10px !important;
            }
            &:nth-child(4) {
                padding: 0 10px !important;
            }
            &:nth-child(6) {
                padding: 0 10px !important;
            }
        }
    }
}

.companies-table {
    box-shadow: none;
    tbody {
        td {
            font-size: 12px !important;
        }
    }
}

.custom-add-agenda-btn {
    border-radius: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 12px !important;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #7e38fb !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #7e38fb !important;
}

.quote-tab {
    thead {
        th {
            &:nth-child(2) {
                padding-left: 15px !important;
            }
        }
    }
    tbody {
        td {
            &:nth-child(2) {
                padding-left: 15px !important;
            }
        }
    }
}

mat-icon {
    cursor: pointer;
}

.sidebar-icon {
    height: calc(100vh - 126px) !important;
    overflow-y: auto !important;
    a {
        .mat-list-item-content {
            justify-content: center !important;
        }
    }
}

.sidebar-footer-icon {
    text-align: center;
    padding: 0 !important;
}

.sidebar-header-logo {
    width: 69px !important;
    padding: 0px !important;
    justify-content: center !important;
}

.calendar-text {
    white-space: nowrap !important;
    font-size: 14px !important;
    span {
        font-size: 20px !important;
    }
}

.calendar-btn-group {
    button {
        padding: 0 !important;
        min-width: 36px !important;
    }
}


/* Scroll Design Start */

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar:hover {
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(216, 213, 213);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(88, 87, 87);
}

div:hover::-webkit-scrollbar-corner {
    width: 7px;
}

.btn-danger {
    //align-items: right;
    color: #fff !important;
    background-color: #f44336 !important;
    border-color: #f44336 !important;
}

.btn-success {
    color: #fff !important;
    margin: 5px;
    background-color: #65c8c6 !important;
    border-color: #65c8c6 !important;
}

// .swal2-actions {
//     justify-content: flex-end !important;
// }
.mat-row:hover .mat-cell {
    background-color: #f9fbfc;
}

// .mat-header-cell:hover {
//     background-color: #dbc7ff !important;
// }
.mat-header-cell {
    background-color: #f0ebf9;
}

.mat-cell {
    font-size: 12px;
}

.fw-500 {
    font-weight: 500;
}

.f-12 {
    font-size: 12px !important;
    word-break: break-all !important;
}

.f-10 {
    font-size: 10px !important;
}

.f-11 {
    font-size: 11px !important;
}

.f-14 {
    font-size: 14px !important;
    word-break: break-all !important;
}

.mtop-23 {
    margin-top: 23% !important;
}

.ptb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.justify-content-space-between {
    justify-content: space-between;
}

//fab component start
.fab-container {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    >div.column {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        button {
            margin-top: 17px;
        }
    }
    >div.column-reverse {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5px;
        button {
            margin-bottom: 17px;
        }
    }
}

.fab-toggler {
    float: right;
    z-index: 999;
}

#fab-dismiss {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

//fab component end
//table scroll
.custom-table {
    cursor: pointer;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    display: block;
}

.c-custom-table {
    // max-height: calc(100vh - 201px);
    max-height: calc(100vh - 280px);
}

.custom-sub-table {
    // cursor: pointer;
    // max-height: calc(100vh - 812px);
    max-height: calc(100vh - 740px);
    overflow-y: auto;
    display: block;
}

.custom-sub-table-activity {
    // cursor: pointer;
    // max-height: calc(100vh - 50px);
    max-height: calc(100vh - 640px);
    overflow-y: auto;
    display: block;
}

.c-custom-sub-table {
    max-height: calc(100vh - 812px);
    overflow-y: auto;
    display: block;
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    box-shadow: none;
}

.btn-check:checked+.btn-success:focus,
.btn-check:active+.btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.mat-fab .mat-button-wrapper {
    padding: 0 !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
}

//Event type data
.btn-call {
    padding: 2px;
    background: #fff3e0;
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

.call-color {
    color: #ff9800;
}

.btn-event {
    // padding: 2px;
    background: #f0f9f9;
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

.event-color {
    color: #65c8c6;
}

.btn-task {
    padding: 2px;
    background: #e3f2fd;
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

.task-color {
    color: #2196f3;
}

.contact-height {
    // max-height: 200px;
    max-height: 250px;
    overflow-y: auto;
}

.contact-height :hover {
    background-color: #f2ebff !important;
}

.c-contact-height:hover {
    background-color: #f2ebff !important;
}

.c-searchbar {
    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
}

.grey-color {
    color: grey;
}

// .mat-select-wrapper {
//     .mat-form-field-appearance-outline .mat-form-field-prefix,
//     .mat-form-field-appearance-outline .mat-form-field-suffix {
//         top: 0.47em;
//     }
//     .mat-form-field-label-wrapper {
//         top: -1em !important;
//     }
// }
// input field start//
.mat-focused {
    color: #7e38fb !important;
    border-color: #7e38fb !important;
}

.mat-focused .mat-form-field-label {
    color: #7e38fb !important;
}

.mat-input-element {
    color: #262e4a !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
    color: #c83427 !important;
}

.ng-invalid .mat-form-field-outline-thick {
    color: #7e38fb !important;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #c83427 !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #7e38fb !important;
}

.mat-form-field-appearance-legacy.mat-focused {
    color: #7e38fb !important;
}

.mat-form-field-invalid {
    border-color: #c83427 !important;
    margin-bottom: 12px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #96a0b5;
}

.mat-form-field-appearance-legacy .mat-form-field-legacy {
    color: #7e38fb;
}

// input field end//
.mat-stroked-button {
    border: 0px solid;
}

.cc-header-wrapper {
    display: flex;
    align-items: center;
}

table {
    tr:nth-child(even) {
        background-color: #f9fbfc;
    }
}

.c-companies-table {
    tr:nth-child(even) {
        background-color: transparent;
    }
}

.c-oppprotunity-table {
    tr:nth-child(even) {
        background-color: transparent;
    }
}

.c-quote-table {
    tr:nth-child(even) {
        background-color: transparent;
    }
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-color: transparent;
}

.c-purple {
    color: #7e38fb !important;
}

.custom-link {
    color: #7e38fb !important;
}

.table-space {
    .mat-tab-body-wrapper {
        padding: 15px 10px;
    }
    .mat-tab-label-active {
        color: #7e38fb !important;
    }
}

mat-ink-bar {
    background-color: #7e38fb !important;
}

.green-text {
    color: #65c8c6;
}

.mat-paginator {
    background: transparent;
}

.c-pointer {
    cursor: pointer;
    padding: 0px 20px 0px 10px;
}

.custom-filter-btn-size {
    background: #65c8c6 !important;
    height: 28px !important;
    width: 28px !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        font-size: 18px !important;
    }
}

.custom-add-btn-size {
    background: #7e38fb !important;
    height: 28px !important;
    width: 28px !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        font-size: 18px !important;
    }
}

.custom-close-btn-size {
    height: 28px !important;
    width: 28px !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        font-size: 18px !important;
    }
}

.custom-edit-btn-size {
    background: #65c8c6 !important;
    height: 28px !important;
    width: 28px !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        font-size: 18px !important;
    }
}

.custom-save-btn-size {
    background: #65c8c6 !important;
    height: 28px !important;
    width: 28px !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        font-size: 18px !important;
    }
}

.custom-cancel-btn-size {
    height: 28px !important;
    width: 28px !important;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
        font-size: 18px !important;
    }
}

mat-label {
    font-size: 12px;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 10px auto;
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.5em solid rgb(240 235 249);
    border-right: 0.5em solid rgb(240 235 249);
    border-bottom: 0.5em solid rgb(240 235 249);
    border-left: 0.5em solid #a284d7;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hideLoader {
    display: none;
}

.mat-progress-spinner,
.mat-spinner {
    circle {
        stroke: #7e38fb;
    }
}

.custom-add-btn-size .mat-button-wrapper {
    display: flex !important;
}

.mat-mini-fab .mat-button-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.search-wrapper {
    width: 50%;
    margin-left: 15px;
    padding: 0px 29px;
    // background: #f6f7f9;
    border-radius: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    input {
        background: transparent;
        top: 7px;
        text-align: left;
        border-radius: 6px;
        color: black !important;
        border: none;
        font-size: 15px;
        font-weight: 400;
        margin-top: 6px;
        // margin-left: 10px;
        padding-left: 10px;
        &:focus-visible {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
    .search-icon {
        position: absolute;
        left: 10px;
        top: 6px;
        font-size: 22px;
        color: inherit !important;
    }
    .close-icon {
        position: absolute;
        // left: 10px;
        top: 5px;
        font-size: 22px;
        color: inherit !important;
        cursor: pointer;
    }
}

.search-wrapper-for-list {
    width: 50%;
    margin-left: 15px;
    padding: 3px 29px;
    // background: #f6f7f9;
    border-radius: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    input {
        background: transparent;
        top: 7px;
        text-align: left;
        border-radius: 6px;
        color: black !important;
        border: none;
        font-size: 15px;
        font-weight: 400;
        margin-top: 4px;
        // margin-left: 10px;
        padding-left: 10px;
      &:focus-visible {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
   .search-icon {
        position: absolute;
        left: 10px;
        top: 6px;
        font-size: 22px;
        color: inherit !important;
    }
    .close-icon {
         position: absolute;
    top: 4px;
    font-size: 22px;
    color: inherit !important;
    cursor: pointer;
    right: 10px;
    }
}

//calender
.orange-cal-badge {
    color: #fb7f37;
    font-size: 12px;
    background: #fff2eb;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
    border-left: 5px solid;
    margin: 0px 2px 2px 2px;
}

.green-cal-badge {
    color: #65c8c6;
    font-size: 12px;
    background: #e6f6f6;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
    border-left: 5px solid;
    margin: 0px 2px 2px 2px;
}

.blue-cal-badge {
    color: #37b3fb;
    font-size: 12px;
    background: #d0ecff;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
    border-left: 5px solid;
    margin: 0px 2px 2px 2px;
}

.purple-cal-badge {
    color: #7e38fb;
    font-size: 12px;
    background: #f2ebff;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 6px;
    border-left: 5px solid;
    margin: 0px 2px 2px 2px;
}

.cal-event-action {
    .c-edit {
        // color: #15b923 !important;
        color: #4e504e96 !important;
        text-decoration: underline;
        padding-left: 10px !important;
        font-size: 16px;
        cursor: pointer;
    }
    .c-trash {
        // color: #c83427 !important;
        color: #4e504e96 !important;
        text-decoration: underline;
        padding-left: 5px !important;
        font-size: 16px;
        cursor: pointer;
    }
    .c-view {
        // color: #7E38FB  !important;
        color: #4e504e96 !important;
        text-decoration: underline;
        padding-left: 5px !important;
        font-size: 16px;
        cursor: pointer;
    }
}

.custom-cal-icons {
    .c-edit {
        // color: #15b923 !important;
        color: #4e504e96 !important;
        cursor: pointer;
        font-size: 16px;
    }
    .c-trash {
        // color: #c83427 !important;
        color: #4e504e96 !important;
        cursor: pointer;
        font-size: 16px;
    }
    .c-view {
        // color: #7E38FB  !important;
        color: #4e504e96 !important;
        cursor: pointer;
        font-size: 16px;
    }
}

.cal-event-title {
    font-size: 12px !important;
}

.c-close-btn {
    width: 35px;
    height: 35px;
    min-width: unset;
    border-radius: 34px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7e38fb;
    border: none;
    background: #e0d5f3;
}

//fab icons
.note-color {
    text-align: center;
    margin-right: 30px;
    .btn-name-tooltip {
        padding: 5px 10px;
        border-radius: 6px;
        background-color: #37b3fb;
        color: #ffffff;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    button {
        background-color: #ffffff;
        background: #b1e2ff;
        margin-top: 6px !important;
        i {
            color: #37b3fb;
        }
    }
    .active-selected-btn {
        border: 2px solid #37b3fb;
    }
    .not-active-selected-btn {
        opacity: 0.6;
    }
}

.event-color {
    text-align: center;
    margin-right: 30px;
    .btn-name-tooltip {
        padding: 5px 10px;
        border-radius: 6px;
        background-color: #65c8c6;
        color: #ffffff;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    button {
        background-color: #ffffff;
        background: #c6fffe;
        margin-top: 6px !important;
        i {
            color: #65c8c6;
        }
    }
    .active-selected-btn {
        border: 2px solid #65c8c6;
    }
    .not-active-selected-btn {
        opacity: 0.6;
    }
}

.phone-color {
    text-align: center;
    margin-right: 0px;
    .btn-name-tooltip {
        padding: 5px 10px;
        border-radius: 6px;
        background-color: #fb7f37;
        color: #ffffff;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    }
    button {
        background-color: #ffffff;
        background: #ffdac4fd;
        margin-top: 6px !important;
        i {
            color: #fb7f37;
        }
    }
    .active-selected-btn {
        border: 2px solid #fb7f37;
    }
    .not-active-selected-btn {
        opacity: 0.6;
    }
}

//fab icons end
.cdk-overlay-container {
    z-index: 1056;
}

.activetParticipents {
    background-color: #c8acfa;
    margin-top: 5px;
}

.noActivetParticipents {
    margin-top: 5px;
    background-color: #dcdcdc;
}

mat-basic-chip {
    display: inline-flex;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    opacity: 1;
    margin-left: 10px;
    font: Medium 14px/16px Roboto;
    mat-chip-list:focus {
        outline: 0;
    }
}

// .search-radius {
//     .mat-form-field-appearance-outline .mat-form-field-outline-start {
//         border-radius: 30px 0 0 30px !important;
//     }
//     .mat-form-field-appearance-outline .mat-form-field-outline-end {
//         border-radius: 0 30px 30px 0 !important;
//     }
//     .mat-form-field-flex {
//         height: 36px !important;
//     }
//     .mat-form-field-prefix {
//         top: 1px !important;
//     }
// }
.message-error {
    color: #c83427 !important;
    font-size: 12px;
}

.mb-0 {
    .mat-form-field-wrapper {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

.mat-select-wrapper mat-form-field .mat-form-field-infix {
    padding: 2px 0 1em 0 !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.c-input .mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: -0.95em !important;
    top: 2.5em;
}

.input-cc {
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0 0 !important;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 0 0.75em 0 0.75em !important;
        margin-top: -0.25em !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        top: 0.8em !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 1em 0 1em 0 !important;
    }
    .mat-form-field-infix {
        border-top: 0.84375em solid transparent !important;
    }
    .mat-form-field-label-wrapper {
        top: -1.275em !important;
        padding-top: 0.4375em !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
        top: 2.4em !important;
        margin-top: -0.1em !important;
    }
    .mat-select-arrow {
        position: relative;
        top: 4px;
    }
    .mat-form-field-appearance-outline .mat-form-field-prefix,
    .mat-form-field-appearance-outline .mat-form-field-suffix {
        top: 0.4em;
    }
}

.custom-icon-email {
    font-size: 12px;
    text-align: center;
    display: flex !important;
    align-items: center;
    width: 16px !important;
}

.custom-icon-phone {
    font-size: 12px;
    text-align: center;
    display: flex !important;
    align-items: center;
    width: 16px !important;
}

.common-button-email {
    font-size: 12px !important;
    background: #eee !important;
    padding: 5px 10px !important;
    border-radius: 15px !important;
    min-height: 34px;
    &:hover {
        background: #f2ebff !important;
        cursor: pointer;
    }
}

.common-button-phone {
    border-radius: 15px !important;
    background: #eee !important;
    padding: 5px 10px;
    min-height: 34px;
    font-size: 12px !important;
    &:hover {
        background: #f2ebff !important;
        cursor: pointer;
    }
}

.cust-title {
    color: #4c4648;
}

.mat-tab-label {
    opacity: 1 !important;
    font-weight: 400 !important;
}

.mat-tab-label-active {
    opacity: 1 !important;
    font-weight: 400 !important;
    color: #7e38fb !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.w-39 {
    width: 39% !important;
}

.w-90 {
    width: 90% !important;
}

.disable {
    pointer-events: none;
}

.enable {
    pointer-events: unset;
}

.ng-select.custom .ng-select-container {
    min-height: 50px;
    padding-left: 1rem;
    .ng-input {
        padding-left: 1rem;
    }
}

.ng-select .ng-select-container.ng-appearance-outline {
    padding: 0 0.5em;
    min-height: 52px;
    .ng-input {
        padding-left: 1rem;
    }
    .ng-placeholder {
        background-color: #f6f7f9;
    }
}

mat-tab-body {
    overflow: visible !important;
    .mat-tab-body-content {
        overflow: visible !important;
    }
}
.mat-tab-body-wrapper{
    overflow: visible !important;
}
// .toast-success{
//     background: gray !important;
// }

    .k-grid-table{
        tbody{
            tr{
                    &:nth-child(even){
                        background-color: #f5f5f5 !important;
                    }
            }
        }
    }
    .k-grid-aria-root {
        .k-grid-header{
            colgroup {
                background-color: #f2ebff !important
            }
        }
    }
    .k-grid-content-locked,.k-grid .k-grid-header-locked {
    border-color: rgba(0, 0, 0, 0.12) !important;
    }
    .k-grid-header {
        border-color: transparent !important;
    }
    .k-grid .k-grid-content-locked td {
            border-top-color: transparent;
    border-bottom-color: transparent;
    }
    // .k-grid td {
    //         border-color: rgb(224 224 224);
    //     border-right-width: 1px;
    // }
    .k-grid th {
            border-color: rgb(224 224 224);
        border-right-width: 1px;
    }
    .k-grid th:hover {
            border-color: rgb(224 224 224);
        border-right-width: 1px;
    }
    .k-grid .k-grid-header-locked .k-header{
            border-color: transparent !important;
    }
    thead tr:hover{
    background-color: transparent !important;
    }
    .k-grid td {
        border-width: 0 0px 0px 1px !important;
    }
    .k-grid-content-locked td{
border-width: 0 0px 0px 0px !important;
    }

    // input start
.discount-field .mat-form-field-wrapper{
padding-bottom: 0 !important;
    margin: 0 !important;
}
.discount-field .mat-form-field-infix{
    padding: 0.5em 0 0.5em 0 !important;
}
.hdpi.pac-logo::after{
    display:none !important;
}
.c-desc {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}