.c-btn {
  margin-top: 15px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  width: 80%;
  background: #61aa58;
  border-radius: 30px;
  color: #ffffff;
  margin: 0 auto;
  button{
    width: 100%;
  }
}
.profile-wrapper {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0efef;
  margin: 0 auto;
  margin-bottom: 40px;
  img {
    height: 60px;
  }
}
.version-info {
  margin-top: 20px;
  text-align: center;
}
mat-card {
  width: 300px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
mat-card-title {
  img {
    height: 36px;
  }
}
