<!-- <div class="login_wrapper">
    <div class="Form_Conatiner">
        <div id="login-form" class="login-page">
            <mat-card>
                <mat-card-title>
                    <img src="../../../assets/img/Bepoz_logo.svg">
                </mat-card-title>
                <div>
                    <div class="profile-wrapper">
                        <img src="../../../assets/img/user_icon.svg">
                    </div>
                    <div class="button">
                        <button type="button" mat-button (click)="Authlogin()">Login</button>
                    </div>
                    <p class="version-info">version: {{currentApplicationVersion}}</p>
                </div>
            </mat-card>
        </div>
    </div>
</div> -->