<!-- <div style="background: linear-gradient(
    39.59deg
    , #7E38FB  13.19%, #151050  110.57%);"> -->
<div class="header-logo" [ngClass]="{'sidebar-header-logo': sideMenuToggle}">
    <div class=" sidebar-logo" *ngIf="!sideMenuToggle">
        <img src="../../../assets/img/Bepoz_logo.svg" />
    </div>
    <button mat-icon-button class="header-menu" (click)="onSidenavToggle()">
        <mat-icon style="color: #000000;" *ngIf="!sideMenuToggle">menu</mat-icon>
        <mat-icon style="color: #000000;" *ngIf="sideMenuToggle">menu_open</mat-icon>
    </button>
</div>
<mat-nav-list class="sidebar-inner" [ngClass]="{'sidebar-icon': sideMenuToggle}">
    <a mat-list-item routerLinkActive="list-item-active" (click)="gotoPage('dashboard')"
        [ngClass]="{ active: activeRoute == '/dashboard','toggled-margin': sideMenuToggle ==true }">
        <div>
            <img matTooltip="Dashboard" [matTooltipDisabled]="!sideMenuToggle"
                [ngClass]="{'icon-display': sideMenuToggle}" [src]="
                    activeRoute != '/dashboard'
                      ? '../../../assets/img/dashboard.svg'
                      : '../../../assets/img/dashboard_active.svg'
                  " />
            <!-- <span *ngIf="sideMenuToggle" class="f-11">Dashboard</span> -->
            <span class="p-left f-14" *ngIf="!sideMenuToggle">Dashboard</span>
        </div>
    </a>
    <div>
        <div class="name-warpper" *ngIf="!sideMenuToggle">LISTS</div>
        <a mat-list-item
            [ngClass]="{ active: (activeRoute == '/companies'  || activeRoute.includes('/companies-details') || activeRoute == '/add-company'),'toggled-margin': sideMenuToggle ==true }"
            (click)="gotoPage('companies')">
            <div>
                <img matTooltip="Companies" [matTooltipDisabled]="!sideMenuToggle" [src]="
              activeRoute == '/companies'
                ? '../../../assets/img/companies_active.svg'
                : '../../../assets/img/companies.svg'
            " [ngClass]="{ 'icon-display': sideMenuToggle}" />
                <!-- <span *ngIf="sideMenuToggle" class="f-11">Companies</span> -->
                <span class="p-left f-14" *ngIf="!sideMenuToggle">Companies</span>
            </div>
        </a>

        <a mat-list-item [ngClass]="{
            active: activeRoute == '/contacts-list' || activeRoute == '/contacts','toggled-margin': sideMenuToggle ==true
          }" (click)="gotoPage('contacts-list')">
            <div>
                <img matTooltip="Contacts" [matTooltipDisabled]="!sideMenuToggle"
                    [ngClass]="{'icon-display': sideMenuToggle}" [src]="
                activeRoute == '/contacts-list'
                  ? '../../../assets/img/contact_active.svg'
                  : '../../../assets/img/contact.svg'
              " />
                <!-- <span *ngIf="sideMenuToggle" class="f-11">Contacts</span> -->
                <span class="p-left f-14" *ngIf="!sideMenuToggle">Contacts</span>
            </div>

        </a>
    </div>
    <!-- 
              Developer :- sumit meghrajani 
              Date :- 06-06-2022 11:50 AM
              hidden the Opportunities and Quotes for new changes Phase 1 
            -->
    <div hidden="true">
        <div class="name-warpper" *ngIf="!sideMenuToggle">
            TRANSACTION
        </div>

        <a mat-list-item [ngClass]="{
            active:
              activeRoute == '/opportunities' || activeRoute == '/add-opportunities','toggled-margin': sideMenuToggle ==true
          }" (click)="gotoPage('opportunities')">
            <div>
                <img matTooltip="Opportunities" [matTooltipDisabled]="!sideMenuToggle"
                    [ngClass]="{'icon-display': sideMenuToggle}" [src]="
                activeRoute == '/opportunities'
                  ? '../../../assets/img/opp_active.svg'
                  : '../../../assets/img/opp.svg'
              " />
                <!-- <span *ngIf="sideMenuToggle" class="f-11">Opportunities</span> -->
                <span class="p-left f-14" *ngIf="!sideMenuToggle">Opportunities
                </span>
            </div>

        </a>
        <a mat-list-item [ngClass]="{
                active: activeRoute == '/quotes' || activeRoute == '/add-quotes','toggled-margin': sideMenuToggle ==true
              }" (click)="gotoPage('quotes')">
            <div>
                <img matTooltip="Quotes" [matTooltipDisabled]="!sideMenuToggle"
                    [ngClass]="{'icon-display': sideMenuToggle}" [src]="
                    activeRoute == '/quotes'
                      ? '../../../assets/img/quotes_active.svg'
                      : '../../../assets/img/quotes.svg'
                  " />
                <!-- <span *ngIf="sideMenuToggle" class="f-11">Quotes</span> -->
                <span class="p-left f-14" *ngIf="!sideMenuToggle">Quotes</span>
            </div>

        </a>
    </div>
    <div>
        <div class="name-warpper" *ngIf="!sideMenuToggle">
            ACTIVITIES
        </div>
        <a mat-list-item
            [ngClass]="{ active: activeRoute == '/activities' || activeRoute == '/sub-activity' || activeRoute.includes('activity'),'toggled-margin': sideMenuToggle ==true }"
            (click)="gotoPage('activities')">
            <div>
                <img matTooltip="Activities" [matTooltipDisabled]="!sideMenuToggle"
                    [ngClass]="{'icon-display': sideMenuToggle}" [src]="
                    activeRoute == '/activities'
                      ? '../../../assets/img/activity_active.svg'
                      : '../../../assets/img/activity.svg'
                  " />
                <!-- <span *ngIf="sideMenuToggle" class="f-11">Activities</span> -->
                <span class="p-left f-14" *ngIf="!sideMenuToggle">Activities</span>
            </div>

        </a>
    </div>
</mat-nav-list>
<div class="sidebar-footer" [ngClass]="{'sidebar-footer-icon': sideMenuToggle}">
    <!-- <p class="m-0  " (click)="LogOut()" *ngIf="!sideMenuToggle">Sign Out</p> -->
    <a mat-list-item (click)="LogOut()" *ngIf="!sideMenuToggle" style="text-decoration: none;">
        <div class="d-flex w-100 align-items-center">
            <div class="material-icons">
                logout
            </div>
            <div class="p-left  " *ngIf="!sideMenuToggle">Sign Out</div>
        </div>
    </a>
    <div matTooltip="LogOut" [matTooltipDisabled]="!sideMenuToggle" class="material-icons" *ngIf="sideMenuToggle"
        style="cursor:pointer">
        logout
    </div>
    <div style="display: flex;">
        <div>
            <img src="../../../assets/img/Text-Copyright.svg" class="pt-3 pb-2" *ngIf="!sideMenuToggle" />
        </div>
        <div style="align-self: center;padding-left: 10px;margin-top: 8px;">
            {{currentApplicationVersion}}
        </div>
    </div>
</div>
<!-- </div> -->