a {
    color: #3c4858 !important;
    cursor: pointer;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    display: block;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding: 0;
}

.active {
    background-color: #f2ebff !important;
    color: #7e38fb !important;
    border-right: 2px solid #7e38fb;
    .primary-text {
        color: #7e38fb !important;
    }
}

.primary-text {
    // color: #fff;
    color: #262e4a;
    font-weight: normal;
}

.in-active {
    background-color: transparent !important;
    color: #dfe3f1 !important;
}

.p-left {
    padding-left: 10px;
}

.custom-expansion-panel {
    background-color: #ffffff !important;
    color: white !important;
}

.mat-expansion-panel {
    background-color: transparent;
    color: white;
}

.mat-expansion-panel-header-title {
    color: white;
}

.sidebar-inner {
    // background-color: #ffffff;
    padding-top: 40px;
    height: calc(100vh - 159px);
    overflow-y: hidden;
}

.name-warpper {
    padding: 15px;
    font-size: 12px;
    color: #262e4a;
    // color: #dfe3f1;
    font-weight: 500;
}

.header-logo {
    background-color: #ffffff;
    max-width: 210px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar-footer {
    padding: 14px 16px;
}

.icon-display {
    display: block;
    margin: auto;
}

.toggled-margin {
    margin-bottom: 10px;
}