.c-mat-toolbar-row {
    padding: 0;
    .top-bar-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .header-menu {
            margin-left: 10px;
            background: transparent;
            border: 0;
            color: #000000;
        }
        .header-profile {
            list-style: none;
            margin: 0;
            .profile-wrapper {
                display: flex;
                margin-right: 16px;
                .header-profile-img {
                    background: transparent;
                    border: 0;
                    color: #333333;
                    img {
                        height: 24px;
                        width: 24px;
                        border-radius: 24px;
                        object-fit: cover;
                    }
                }
                .header-profile-name {
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                }
            }
        }
    }
    .sidebar-logo {
        display: flex;
    }
    .profile-menu {
        background: #E6E7EB;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search-wrapper {
    margin-left: 15px;
    padding: 0 40px;
    background: #F6F7F9;
    border-radius: 6px;
    position: relative;
    input {
        background: #F6F7F9;
        border-radius: 6px;
        color: #96A0B5 !important;
        border: none;
        font-size: 15px;
        font-weight: 400;
        &:focus-visible {
            box-shadow: none;
            border: none;
            outline: none;
        }
    }
    .search-icon {
        position: absolute;
        left: 10px;
        top: 7px;
        font-size: 22px;
    }
}

.header-profile-name {
    h6 {
        font-size: 18px;
        line-height: 20px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
}

::placeholder {
    color: #96A0B5 !important;
    opacity: 1;
    font-size: 15px;
    font-weight: 400;
}