table {
    width: 100%;
}

.activity-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}

.cc-header-wrapper {
    display: flex;
    align-items: center;
}

.c-cad {
    padding: 0px 0px 0px 11px;
}

.pl-17 {
    padding-left: 17px;
}

.mr-24 {
    margin: 24px;
}

.btn-call {
    background: #fff3e0;
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

.call-color {
    color: #ff9800;
}

.btn-event {
    background: #f0f9f9;
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

.event-color {
    color: #65c8c6;
}

.btn-task {
    background: #e3f2fd;
    margin-right: 5px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
}

.task-color {
    color: #2196f3;
}

.active-btn {
    // color: white;
    // height: 43px;
    // min-width: unset;
    // background: linear-gradient(39.59deg, #7E38FB  13.19%, #151050  110.57%);
    // border-radius: 6px;
    // align-items: center;
    // justify-content: center;
    // border: none;
    color: white;
    height: 35px;
    min-width: unset;
    background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
    border-radius: 27px;
    align-items: center;
    justify-content: center;
    border: none;
}

.in-active-btn {
    background-color: white;
}

.c-event-btn {
    width: auto;
    height: 35px;
    min-width: unset;
    border-radius: 27px;
    align-items: center;
    justify-content: center;
}

.custom-activity-table {
    cursor: pointer;
    max-height: calc(100vh - 260px);
    overflow-y: auto;
    display: block;
}

.custom-activity-calendar {
    cursor: pointer;
    max-height: calc(100vh - 280px);
    overflow-y: auto;
    display: block;
}

.cc-custom-calendar {
    max-height: calc(100vh - 340px);
}

.cc-custom-table {
    max-height: calc(100vh - 320px);
}