<div class="content-header d-block">
    <!-- <div class="col-lg-8 col-md-8 col-sm-12"> -->
    <div class="cc-header-wrapper">
        <div>
            <h2 class="m-0">Activities</h2>
            <!-- <p class="m-0 f-12">
                Total: {{ dataSource?.filteredData?.length ? dataSource.filteredData.length : "0" }}
            </p> -->
        </div>
    </div>
    <!-- </div> -->

    <div *ngIf="listLookups.length != 0" class="mr--4">
        <app-calendar [tableHeight]="813" [showExportIcons]="true" [pageLength]="100" [listLookups]="listLookups"
            [from]="'Activity'" [InitialView]="'Agenda'">
        </app-calendar>
    </div>
    <!-- <div class="search-wrapper-for-list w-50">
                <input type="text" placeholder="Search" [(ngModel)]="searchText" (keyup)="inputEvent($event)" class="w-100" style="top: 0px;">
                <span class="material-icons secondry-light-text search-icon">search</span>
                <span class="material-icons secondry-light-text close-icon" (click)="clear()">close</span>
            </div>
             <div class="d-flex ml-1">
                <button *ngIf="mainDataSouce && mainDataSouce.length != 0" mat-mini-fab class="custom-filter-btn-size me-2" (click)="openFilter()" matTooltip="Filter">
                    <span class="material-icons">
                        filter_list
                    </span>
                </button>
                <app-speed-dial-fab [ngClass]="speedDialFabPosition" (fabClick)="onSpeedDialFabClicked($event)" [buttons]="speedDialFabButtons">
                </app-speed-dial-fab>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-right f-12">
        <div class="d-flex align-items-center justify-content-end">
            <mat-paginator *ngIf="view == 'Agenda'" [pageSizeOptions]="[500, 1000, 2000, 5000, 10000]" [pageSize]="pageSize" showFirstLastButtons [length]="mainDataSouce.length">
            </mat-paginator>
        </div>
    </div>
</div>
<div>
    <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
        <div class="row input-cc" *ngIf="showFilter">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 c-searchbar">
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="Type" [ngModelOptions]="{ standalone: true }" (selectionChange)="filterTypeChange('Type')">
                                <mat-option value="Phone">Phone</mat-option>
                                <mat-option value="Event">Event</mat-option>
                                <mat-option value="Task">Task</mat-option>
                            </mat-select>
                            <mat-icon matSuffix (click)="clearFilterType($event)" *ngIf="Type">close</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 c-searchbar">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="Status" [ngModelOptions]="{ standalone: true }" (selectionChange)="filterTypeChange('Status')">
                                <mat-option value="1">Completed</mat-option>
                                <mat-option value="2">Scheduled</mat-option>
                            </mat-select>
                            <mat-icon matSuffix (click)="clearFilterStatus($event)" *ngIf="Status">close</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-10">
                        <mat-form-field appearance="outline" class="w-100 c-searchbar">
                            <mat-label class="secondary-text">Sales Rep</mat-label>
                            <mat-select [(ngModel)]="salesRepId" (selectionChange)="filterTypeChange('SalesRepo')">
                                <mat-option *ngFor="let lookups of listLookups?.opportunity?.salesRep" [value]="lookups.id">
                                    {{ lookups.salesRepDescription }}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix (click)="clearFilterSalesRep($event)" *ngIf="salesRepId">close
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-mini-fab color="warn" class="custom-close-btn-size mtop-23" matTooltip="Clear All" (click)="clearSearch()">
                            <span class="material-icons"> clear </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>