<div class="content-header">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h1 class="m-0">Company</h1>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 text-right">
    <button mat-mini-fab class="custom-save-btn-size me-2" matTooltip="Save" (click)="saveCustomer()">
      <span class="material-icons">
        save
      </span>
    </button>
    <button mat-mini-fab class="custom-cancel-btn-size" matTooltip="Cancel" (click)="goBackToListing()">
      <span class="material-icons">
        close
      </span>
    </button>
  </div>
</div>

<div class="company-content hidden">
  <form [formGroup]="addCompanyForm">
    <div class="row">
      <div class="col-lg-12">
        <div class="w-100" style="width: 100px">
          <mat-card class="p-0">
            <mat-tab-group mat-align-tabs="start" class="content" (selectedTabChange)="onTabChanged($event)"
              [selectedIndex]="selectedIndex">
              <!-- 1 Primary Information -->
              <mat-tab label="Primary Information" style="margin: 10px;">
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Company Name </mat-label>
                      <input #search formControlName="companyName" placeholder="Company Name" matInput required
                        (keyup)="inputCompanyName($event)" autocorrect="off" autocapitalize="off" spellcheck="off"
                        type="text" autocomplete="off" />
                      <mat-error *ngIf="
                          addCompanyForm.controls['companyName'].hasError(
                            'required'
                          ) &&
                          (addCompanyForm.controls['companyName'].touched ||
                            submitted)
                        ">
                        This field is required.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Trading Name</mat-label>
                      <input formControlName="tradingName" placeholder="Trading Name" matInput type="text"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- <mat-form-field appearance="legacy" class="w-100">
                                            <mat-label>Parent Name</mat-label>

                                            <mat-select (click)="clearCompanyDetails()" formControlName="parentId" [ngModelOptions]="{ standalone: true }">
                                                <div style="padding:15px">
                                                    <input type="text" [(ngModel)]="searchdropdown" matInput (keyup)="searchParent($event)" (keydown)="$event.stopPropagation()" autofocus placeholder="Search" autocomplete="off" />
                                                </div>

                                                <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyId" (click)="setPatient(obj)">
                                                    {{ obj.companyName }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                    <ng-select placeholder="Parent Name" [items]="companyListSearch" [virtualScroll]="true"
                      [formControlName]="'parentId'" bindLabel="companyName" bindValue="companyId"
                      (change)="setPatient($event)">
                    </ng-select>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Stage </mat-label>
                      <mat-select formControlName="stageTypeId" required>
                        <mat-option *ngFor="let obj of listLookups?.stage?.stage" [value]="obj.id">
                          {{ obj.stageDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          addCompanyForm.controls['stageTypeId'].hasError(
                            'required'
                          ) &&
                          (addCompanyForm.controls['stageTypeId'].touched ||
                            submitted)
                        ">
                        This field is required.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Lead Status</mat-label>
                      <mat-select formControlName="leadStatusId">
                        <mat-option *ngFor="let obj of listLookups?.company?.leadStatus" [value]="obj.id">
                          {{ obj.leadStatusDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-64 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Lead Source</mat-label>
                      <mat-select formControlName="leadSourceId">
                        <mat-option *ngFor="let obj of listLookups?.company?.leadSource" [value]="obj.id">
                          {{ obj.leadTypeDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Sales Rep</mat-label>
                      <mat-select formControlName="salesRepId" [disabled]="!userDetails.isAdmin">
                        <mat-option *ngFor="
                            let lookups of listLookups?.opportunity?.salesRep
                          " [value]="lookups.id">
                          {{ lookups.salesRepDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100" aria-disabled="true">
                      <mat-label>Subsidiary</mat-label>
                      <mat-select formControlName="subsidiaryId" [disabled]="true">
                        <mat-option *ngFor="
                            let obj of listLookups?.opportunity?.subsidiaries
                          " [value]="obj.id">
                          {{ obj.subsidiaryDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Comments</mat-label>
                      <textarea matInput rows="5" formControlName="comments"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <!--  Communication -->
              <mat-tab label="Communication">
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Phone</mat-label>
                      <input formControlName="phone" placeholder="Phone" matInput type="tel"
                        (keyup)="searchPhoneNumber($event, 'phone')" autocomplete="off" />
                      <mat-error *ngIf="
                          addCompanyForm.controls['phone'].hasError(
                            'pattern'
                          ) || addCompanyForm.controls['phone'].touched
                        ">
                        Please enter valid phone number</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Alternate Number</mat-label>
                      <input formControlName="alternateNumber" placeholder="Alternate Number" matInput type="tel"
                        (keyup)="searchPhoneNumber($event, 'alternateNumber')" autocomplete="off" />
                      <mat-error *ngIf="
                          addCompanyForm.controls['alternateNumber'].hasError(
                            'pattern'
                          ) ||
                          addCompanyForm.controls['alternateNumber'].touched
                        ">
                        Please enter valid Alternate phone number</mat-error>
                      <!-- <mat-hint align="end"> {{ alternateNumberLength }} / 10</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Fax Number</mat-label>
                      <input formControlName="faxNumber" placeholder="FAX Number" matInput type="tel"
                        (keyup)="searchPhoneNumber($event, 'faxNumber')" autocomplete="off" />
                      <mat-error *ngIf="
                          addCompanyForm.controls['faxNumber'].hasError(
                            'pattern'
                          ) || addCompanyForm.controls['faxNumber'].touched
                        ">
                        Please enter valid Fax</mat-error>
                      <mat-hint align="end">
                        {{ faxNumberLength }} / 10</mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Email</mat-label>
                      <input formControlName="email" placeholder="E-mail" matInput type="text" autocomplete="off" />
                      <mat-error *ngIf="
                          addCompanyForm.controls['email'].hasError('email') ||
                          addCompanyForm.controls['email'].touched
                        ">
                        Please Enter valid E-mail</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Web</mat-label>
                      <input formControlName="web" placeholder="Web" matInput type="text" (keyup)="webAdd($event)"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>LinkedIn</mat-label>
                      <input formControlName="linkedIn" placeholder="LinkedIn" matInput type="text"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Facebook</mat-label>
                      <input formControlName="facebook" placeholder="Facebook" matInput type="text"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Google</mat-label>
                      <input formControlName="google" placeholder="Google" matInput type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <!-- 3 Classifiation -->
              <mat-tab label="Classification">
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Market / Indusrty </mat-label>
                      <mat-select formControlName="marketId" required>
                        <mat-option *ngFor="
                            let obj of listLookups?.company?.marketIndustry
                          " [value]="obj.id">
                          {{ obj.marketIndustryDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          addCompanyForm.controls['marketId'].hasError(
                            'required'
                          ) &&
                          (addCompanyForm.controls['marketId'].touched ||
                            submitted)
                        ">
                        This field is required.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Tier </mat-label>
                      <mat-select formControlName="tierId" required>
                        <mat-option *ngFor="let obj of listLookups?.company?.tiers" [value]="obj.id">
                          {{ obj.tierDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          addCompanyForm.controls['tierId'].hasError(
                            'required'
                          ) &&
                          (addCompanyForm.controls['tierId'].touched ||
                            submitted)
                        ">
                        This field is required.</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Product Category </mat-label>
                      <mat-select formControlName="productCategoryId" required>
                        <mat-option *ngFor="
                            let obj of listLookups?.company?.productCategory
                          " [value]="obj.id">
                          {{ obj.productCategoryDescription }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="
                          addCompanyForm.controls['productCategoryId'].hasError(
                            'required'
                          ) &&
                          (addCompanyForm.controls['productCategoryId']
                            .touched ||
                            submitted)
                        ">
                        This field is required.</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Software</mat-label>
                      <mat-select formControlName="softwareId">
                        <mat-option *ngFor="let obj of listLookups?.company?.softwares" [value]="obj.id">
                          {{ obj.softwareDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <!-- 4 Product Information -->
              <!-- <mat-tab label="Product Information">

                            </mat-tab> -->
              <!-- 5 Billing Address -->
              <mat-tab label="Billing Address">
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Billing Address Line 1</mat-label>
                      <input #searchBillingAdress formControlName="billingAddressLine1"
                        placeholder="Billing Address Line 1" matInput autocorrect="off" autocapitalize="off"
                        spellcheck="off" type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Billing Address Line 2</mat-label>
                      <input formControlName="billingAddressLine2" placeholder="Billing Address Line 2" matInput
                        type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Billing City or Suburb</mat-label>
                      <input formControlName="billingCity" placeholder="Billing City or Suburb" matInput type="text"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Billing Post Code</mat-label>
                      <input formControlName="billingPostCode" placeholder="Billing Post Code" matInput type="number"
                        (keyup)="searchPhoneNumber($event, 'billing')" autocomplete="off" />
                      <mat-hint align="end">
                        {{ billingPostCodeLength }} / 6
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>State</mat-label>
                      <mat-select formControlName="billingState">
                        <mat-option *ngFor="let obj of listLookups?.address?.states" [value]="obj.id">
                          {{ obj.stateDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="billingCountry">
                        <mat-option *ngFor="let obj of listLookups?.address?.countries" [value]="obj.id">
                          {{ obj.countryDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
              <!-- 6 Shipping Address -->
              <mat-tab label="Shipping Address">
                <!-- <div class="row" style="margin: 10px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <mat-checkbox class="example-margin" [(ngModel)]="checked"
                                            [labelPosition]="'after'" (click)="setCompaniesShippingAddress(checked)">
                                            Same as Billing Address.
                                        </mat-checkbox>
                                    </div>
                                </div> -->
                <div class="row" style="margin: 10px;">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Shipping Address Line 1</mat-label>
                      <!-- <input formControlName="shippingAddressLine1"
                                                placeholder="Shipping Address Line 1" matInput type="text" /> -->
                      <input #searchShippingAdress formControlName="shippingAddressLine1"
                        placeholder="Shipping Address Line 1" matInput autocorrect="off" autocapitalize="off"
                        spellcheck="off" type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Shipping Address Line 2</mat-label>
                      <input formControlName="shippingAddressLine2" placeholder="Shipping Address Line 2" matInput
                        type="text" autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Shipping City or Suburb</mat-label>
                      <input formControlName="shippingCity" placeholder="Shipping City or Suburb" matInput type="text"
                        autocomplete="off" />
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Shipping Post Code</mat-label>
                      <input formControlName="shippingPostCode" placeholder="Shipping Post Code" matInput type="number"
                        (keyup)="searchPhoneNumber($event, 'shipping')" autocomplete="off" />
                      <mat-hint align="end">
                        {{ shippingPostCodeLength }} / 6
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>State</mat-label>
                      <mat-select formControlName="shippingState">
                        <mat-option *ngFor="let obj of listLookups?.address?.states" [value]="obj.id">
                          {{ obj.stateDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field appearance="legacy" class="w-100">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="shippingCountry">
                        <mat-option *ngFor="let obj of listLookups?.address?.countries" [value]="obj.id">
                          {{ obj.countryDescription }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>