.contact-content {
    background: #f5f6f8;
    height: 100%;
    padding: 20px;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

.cc-header-wrapper {
    display: flex;
}

.c-cad {
    padding: 0px 0px 0px 11px;
}

.pl-17 {
    padding-left: 17px;
}

.theme-bg {
    background: #7e38fb;
    color: #ffffff;
}

.contact_list-table {
    th,
    td {
        padding-right: 20px;
        &:last-child {
            padding-right: 0px;
        }
    }
}