<!-- <app-header></app-header> -->
<div class="content-header">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="cc-header-wrapper">
      <div>
        <h2 class="m-0">Companies</h2>
        <p class="m-0 f-12">Total: {{ totalCount || "0" }}</p>
        <!-- <p class="m-0">{{TodayDate}}</p> -->
      </div>
      <div class="search-wrapper-for-list w-50">
        <input
          type="text"
          placeholder="Search"
          [(ngModel)]="searchText"
          (ngModelChange)="searchComapany.next($event)"
          class="w-100"
          style="top: 0px;"
          autocomplete="off"
        />
        <span class="material-icons secondry-light-text search-icon"
          >search</span
        >
        <span
          class="material-icons secondry-light-text close-icon"
          (click)="clear()"
          >close</span
        >
      </div>
      <div class="ml-1">
        <button
          mat-mini-fab
          class="me-2 custom-filter-btn-size"
          matTooltip="Filter"
          (click)="openFilter()"
          *ngIf="mainDataSouce && mainDataSouce.length"
        >
          <span class="material-icons"> filter_list </span>
        </button>
        <button
          mat-mini-fab
          class="custom-add-btn-size"
          matTooltip="Add"
          (click)="goToAddContact()"
        >
          <span class="material-icons"> add </span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 text-right f-12">
    <!-- <span class="me-2">{{ dataSource?.filteredData?.length ? dataSource.filteredData.length : '0'}} Records Found</span> -->
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 50, 75, 100]"
      [pageSize]="pageLength"
      [pageIndex]="pageIndex"
      [showFirstLastButtons]="false"
      [length]="totalCount"
      (page)="onChangePage($event)"
    >
    </mat-paginator>
  </div>
</div>
<div>
  <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
    <div class="row d-flex input-cc" *ngIf="showFilter">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 c-searchbar">
              <mat-label>Stage</mat-label>
              <mat-select
                [(ngModel)]="stageType"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-option
                  *ngFor="let obj of stageList"
                  [value]="obj.stageDescription"
                  (click)="filterCompanyList(obj)"
                >
                  {{ obj.stageDescription }}
                </mat-option>
              </mat-select>

              <mat-icon
                matSuffix
                (click)="ClearFilterStageType($event)"
                *ngIf="stageType"
                >close
              </mat-icon>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100 c-searchbar">
                            <mat-label>Status</mat-label>
                            <mat-select [(ngModel)]="statusType" [ngModelOptions]="{ standalone: true }">
                                <mat-option *ngFor="let obj of statusList" [value]="obj.leadStatusDescription" (click)="filterCompanyList(obj)">
                                    {{ obj.leadStatusDescription }}
                                </mat-option>
                            </mat-select>

                            <mat-icon matSuffix (click)="clearFilterStatusType($event)" *ngIf="statusType">close
                            </mat-icon>
                        </mat-form-field>
                    </div> -->
          <div class="col-md-6 ">
            <mat-form-field appearance="outline" class="w-100 c-searchbar">
              <mat-label>Market / Indusrty</mat-label>
              <mat-select
                [(ngModel)]="marketType"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-option
                  *ngFor="let obj of marketList"
                  [value]="obj.marketIndustryDescription"
                  (click)="filterCompanyList(obj)"
                >
                  {{ obj.marketIndustryDescription }}
                </mat-option>
              </mat-select>

              <mat-icon
                matSuffix
                (click)="clearFilterMarketType($event)"
                *ngIf="marketType"
                >close
              </mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 c-searchbar">
              <mat-label>Sales Rep</mat-label>
              <mat-select
                [(ngModel)]="salesRepType || defaultSalesRepType"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="!userIsAdmin"
              >
                <mat-option
                  *ngFor="let obj of salesRepList"
                  [value]="obj.salesRepDescription"
                  (click)="filterCompanyList(obj)"
                >
                  {{ obj.salesRepDescription }}
                </mat-option>
              </mat-select>

              <mat-icon
                matSuffix
                (click)="clearFilterSalesRepType($event)"
                *ngIf="(salesRepType || defaultSalesRepType) && userIsAdmin"
              >
                close</mat-icon
              >
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <button
              mat-mini-fab
              class="custom-close-btn-size"
              style="margin-top:16%"
              matTooltip="Clear All"
              color="warn"
              (click)="clearSearch()"
            >
              <span class="material-icons">clear</span>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-2" style="margin-top:8px">
                <button mat-mini-fab matTooltip="Clear All" color="warn" (click)="clearSearch()">
                    <span class="material-icons">clear</span>
                </button>
            </div> -->
    </div>
  </div>
</div>

<div class="contact-content">
  <mat-card class="w-100">
    <mat-progress-bar
      *ngIf="showProgressBar"
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>
    <!-- <table mat-table [dataSource]="dataSource" class="w-100
        contact-list_main-table c-table-height" matSort (click)="test()"> -->
    <!-- <div class="custom-table" [ngClass]="{'c-custom-table': showFilter }">
            <table mat-table [dataSource]="dataSource" class="w-100
                contact_list-table" matSort matSortStart="desc" matSortDisableClear="true"
                (matSortChange)="sortCompanyList($event)">
                <ng-container matColumnDef="stage">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
                    <td mat-cell *matCellDef="let element">{{ element.stage || '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="tradingName">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Trading Name</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="custom-link" (click)="showDetails(element)">
                            {{ element.tradingName || '-'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="legalName">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Legal Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.legalName || '-'}}</td>
                </ng-container>

                <ng-container matColumnDef="leadStatus">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.leadStatus ||' -'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.phone && element.phone != ''">
                            {{ element.phone || '-'}}</div>
                        <div *ngIf="element.phone && element.phone == ''"> - </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let element">{{ element.email || '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="leadSource">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Lead Source</th>
                    <td mat-cell *matCellDef="let element">{{ element.leadSource || '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="marketIndustry">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Market/Industry
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.marketIndustry ||'-' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="tier">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
                    <td mat-cell *matCellDef="let element">{{ element.tier || '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="salesRep">
                    <th class="c-table-th" mat-header-cell *matHeaderCellDef mat-sort-header>Sales Rep</th>
                    <td mat-cell *matCellDef="let element">{{ element.salesRep || '-'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; let
                        element"></tr>
            </table>
            <div *ngIf="(!dataSource || dataSource?.length ==0) &&  !nodata "
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="nodata" style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-label>No records found!</mat-label>
            </div>
        </div> -->
    <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
      <kendo-grid
        [data]="dataSource"
        kendoGridSelectBy="id"
        [groupable]="false"
        [reorderable]="true"
        [resizable]="true"
        [height]="813"
        [sortable]="true"
        [sort]="sort"
        [sortable]="{ allowUnsort: false, mode: 'single' }"
        (sortChange)="sortCompanyList($event)"
        [columnMenuOptions]="{ columnChooser: false }"
        #grid="kendoGrid"
        [loading]="showProgressBar"
      >
        <ng-template kendoGridToolbarTemplate style="padding-left: 660px;">
          <kendo-grid-spacer></kendo-grid-spacer>
          <!-- <div class="exportIcon" matTooltip="Excel" kendoGridExcelCommand>
                        <mat-icon>description</mat-icon>
                    </div> -->
          <!-- <div class="exportIcon" matTooltip="CSV">
                        <mat-icon (click)="exportToExcel(grid)">article</mat-icon>
                    </div> -->
          <kendo-grid-column-chooser></kendo-grid-column-chooser>
        </ng-template>
        <kendo-grid-column
          class="custom-link"
          field="tradingName"
          [locked]="true"
          [width]="300"
          title="Trading Name"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <span (click)="showDetails(dataItem)">
              {{ dataItem.tradingName || "-" }}</span
            >
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="stage" title="Stage">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.stage || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="legalName" [width]="200" title="Legal Name">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.legalName || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="leadStatus" [width]="200" title="Lead Status">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.leadStatus || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="phone" [width]="200" title="Phone">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.phone || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="email" [width]="200" title="Email">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.email || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="leadSource" [width]="200" title="Lead Source">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.leadSource || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="marketIndustry"
          [width]="200"
          title="Market Industry"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.marketIndustry || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="tier" [width]="200" title="Tier">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.tier || "-" }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="salesRep" [width]="200" title="Sales Rep">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.salesRep || "-" }}
          </ng-template>
        </kendo-grid-column>
        <!-- <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-info></kendo-pager-info>
                    {{currentPage }}
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[10, 20, 30, 50, 75, 100]"></kendo-pager-page-sizes>
                </ng-template> -->
        <!-- <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
        <kendo-grid-excel
          fileName="Companies.xlsx"
          [fetchData]="dataSource"
        ></kendo-grid-excel>
      </kendo-grid>
      <!-- <div *ngIf="!dataSource"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
            </div> -->
    </div>
  </mat-card>
</div>
