<!-- <app-header></app-header> -->
<div class="dashbord-contnet">
    <div class="content-header">
        <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100">
            <h1 class="m-0">Sales Dashboard</h1>
            <p class="m-0" style="color: #7B7D8D">{{ TodayDate | date: "dd MMM YYYY" }}</p>
        </div>
    </div>
    <div class="main-bg">
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let item of cardList">
                <mat-card class="c-mat-card" (click)="gotoPage(item)">
                    <div class="img-wrapper">
                        <img [src]="item.Image" />
                    </div>
                    <div class="content-wrapper">
                        <div class="content-wrapper-inner">
                            <div class="content">
                                <h3 class="f-14">{{ item.value }}</h3>
                                <p class="author" style="font-weight: normal;">{{ item.name }}</p>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- 
            Developer :- sumit meghrajani 
            Date :- 06-06-2022 11:50 AM
            hidden the Opportunities and Quotes part for new changes Phase 1 
        -->
        <div class="row mt-4" hidden="true">
            <div class="col-lg-4 col-md-12">
                <mat-progress-bar *ngIf="showProgressBar1" class="example-margin" [color]="color" [mode]="mode"
                    [value]="value" [bufferValue]="bufferValue">
                </mat-progress-bar>
                <mat-card class="chart-card">
                    <div id="chart">
                        <ng-container *ngIf="chartOptions">
                            <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                                [xaxis]="chartOptions?.xaxis" [yaxis]="chartOptions?.yaxis"
                                [dataLabels]="chartOptions?.dataLabels" [title]="chartOptions?.title"
                                [colors]="chartOptions?.colors" [fill]="chartOptions?.fill"
                                [plotOptions]="chartOptions?.plotOptions">
                            </apx-chart>
                        </ng-container>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-md-12">
                <mat-progress-bar *ngIf="showProgressBar2" class="example-margin" [color]="color" [mode]="mode"
                    [value]="value" [bufferValue]="bufferValue">
                </mat-progress-bar>
                <mat-card class="chart-card">
                    <div id="chart">
                        <ng-container *ngIf="chartOptions1">
                            <apx-chart [series]="chartOptions1?.series" [chart]="chartOptions1?.chart"
                                [xaxis]="chartOptions1?.xaxis" [yaxis]="chartOptions1?.yaxis"
                                [dataLabels]="chartOptions1?.dataLabels" [title]="chartOptions1?.title"
                                [colors]="chartOptions1?.colors" [fill]="chartOptions1?.fill"
                                [plotOptions]="chartOptions1?.plotOptions">
                            </apx-chart>
                        </ng-container>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-4 col-md-12">
                <mat-progress-bar *ngIf="showProgressBar3" class="example-margin" [color]="color" [mode]="mode"
                    [value]="value" [bufferValue]="bufferValue">
                </mat-progress-bar>
                <mat-card class="chart-card">
                    <div id="chart">
                        <ng-container *ngIf="chartOptions2">
                            <apx-chart [series]="chartOptions2?.series" [chart]="chartOptions2?.chart"
                                [xaxis]="chartOptions2?.xaxis" [yaxis]="chartOptions2?.yaxis"
                                [dataLabels]="chartOptions2?.dataLabels" [title]="chartOptions2?.title"
                                [colors]="chartOptions2?.colors" [fill]="chartOptions2?.fill"
                                [plotOptions]="chartOptions2?.plotOptions">
                            </apx-chart>
                        </ng-container>
                    </div>
                </mat-card>
            </div>
        </div>

        <!-- calendar -->
        <div>
            <app-calendar [tableHeight]="580" [showExportIcons]="true" [pageLength]="10"
                [subActivityForm]="subActivityForm" [from]="'Dashboard'" [InitialView]="'Agenda'">
            </app-calendar>
        </div>
    </div>
</div>