.dashbord-contnet {
    position: relative;
    .main-bg {
        background: #f6f7f9;
        height: 100%;
        padding: 20px;
        .c-mat-card {
            cursor: pointer;
            display: flex;
            .img-wrapper {
                height: 56px;
                min-width: 56px;
                background: linear-gradient(39.59deg, #7e38fb 13.19%, #151050 110.57%);
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 16px;
            }
            .content-wrapper {
                .content-wrapper-inner {
                    display: flex;
                    height: 100%;
                    justify-content: space-between;
                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;
                        h3 {
                            font-weight: 700;
                            margin-bottom: 10px;
                            font-size: 14px !important;
                            // line-height: 33px;
                            text-transform: capitalize;
                            font-family: Arial, Helvetica, sans-serif;
                            background: linear-gradient( 39.59deg, #7e38fb 13.19%, #151050 70.57%);
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                            position: relative;
                        }
                        .author {
                            // font-weight: 500;
                            font-size: 12px;
                            line-height: 19px;
                            text-transform: capitalize;
                            margin: 0;
                        }
                    }
                }
            }
        }
        .chart-card {
            padding-left: 0;
            padding-right: 0;
        }
    }
    #apexchartsywch3snzk {
        width: 100%;
        // max-width: 650px;
        // margin: 35px auto;
    }
}

h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.agenda-div {
    text-align: center;
}

mat-icon {
    cursor: pointer;
}

.calendar-btn-group {
    button {
        padding: 0 !important;
        min-width: 40px;
        margin-right: 15px;
    }
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}

//dashboard table
// .custom-dashboard-table {
//     cursor: pointer;
//     max-height: calc(100vh - 405px);
//     overflow-y: auto;
//     display: block;
// }
// .c-custom-dashboard-table {
//     max-height: calc(100vh - 460px);
// }
// .c-custom-dashboard-calender {
//     max-height: calc(100vh - 475px);
// }
// .in-active-btn {
//     background-color: white;
// }
// .c-event-btn {
//     width: auto;
//     height: 35px;
//     min-width: unset;
//     border-radius: 27px;
//     align-items: center;
//     justify-content: center;
// }
// .active-btn {
//     color: white;
//     height: 35px;
//     min-width: unset;
//     background: linear-gradient(39.59deg, #7E38FB  13.19%, #151050  110.57%);
//     border-radius: 27px;
//     align-items: center;
//     justify-content: center;
//     border: none;
// }