.c-btn {
    // margin: 50px 800px;
}

#logout-form {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20% 0px 0px 0px;
}

.green-btn {
    background: #65c8c6;
    color: #ffffff;
}