<div class="content-header">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <!-- <div class="d-flex align-items-center"> -->
        <div class="cc-header-wrapper">
            <div>
                <h1 class="m-0">Opportunities</h1>
                <p class="m-0 f-12" *ngIf="oppList && oppList.length">
                    Total:{{ oppList?.length }}
                </p>
            </div>
            <!-- <div class="w-50 pl-17 mat-select-wrapper me-2">
        <mat-form-field appearance="outline" class="w-100 c-searchbar ps-4">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="inputEvent($event)" [(ngModel)]="searchText" />
          <mat-icon matSuffix (click)="clear()">close</mat-icon>
        </mat-form-field>
      </div>
      <div> -->
            <div class="search-wrapper-for-list w-50">
                <input matInput type="text" placeholder="Search..." [(ngModel)]="searchText"
                    (keyup)="onFilter(searchText)" class="w-100" style="top: 0px;" autocomplete="off">
                <span class="material-icons secondry-light-text search-icon">search</span>
                <span class="material-icons secondry-light-text close-icon" *ngIf="searchText"
                    (click)="clear()">close</span>
            </div>
            <div class="ml-1">
                <button mat-mini-fab class="me-2 custom-filter-btn-size" matTooltip="Filter" (click)="openFilter()">
                    <span class="material-icons">
                        filter_list
                    </span>
                    <!-- <span class="material-icons me-2"> filter_list </span>Filter -->
                </button>
                <button mat-mini-fab class="custom-add-btn-size" matTooltip="Add opportunities"
                    (click)="addOpportunities()">
                    <span class="material-icons">
                        add
                    </span>
                    <!--  <span class="material-icons">
                add
            </span> &nbsp;Add -->
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-right f-12">
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" [pageSize]="pageSize" showFirstLastButtons
            [length]="duplicateDataSource.length" (page)="onChangePage($event)">
        </mat-paginator>
    </div>
</div>
<div>
    <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
        <div class="row input-cc" *ngIf="showFilter">
            <div class="col-md-2">
                <!-- <mat-form-field appearance="outline" class="w-100 c-searchbar ">
                    <mat-label>Company</mat-label>
                    <mat-select [(ngModel)]="Company" (click)="clearCompanyDetails()"
                        [ngModelOptions]="{ standalone: true }">
                        <div style="padding:15px">
                            <input type="text" matInput (keyup)="searchCompany($event)"
                                (keydown)="$event.stopPropagation()" [(ngModel)]="Company" autofocus
                                placeholder="Search" autocomplete="off" />
                        </div>
                        <mat-option *ngFor="let obj of companyListSearch" [value]="obj.companyId"
                            (click)="filterTypeChange(obj)">
                            {{ obj.companyName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix (click)="clearFilterCompany($event)" *ngIf="Company">close</mat-icon>
                </mat-form-field> -->
                <ng-select placeholder="Company" [items]="companyListSearch" appearance="outline" [virtualScroll]="true"
                    [(ngModel)]="Company" bindLabel="companyName" bindValue="companyId" (change)="filterTypeChange()">
                </ng-select>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100 c-searchbar">
                    <mat-label>Sales Rep</mat-label>
                    <mat-select [(ngModel)]="salesRep || defaultSalesRep" [disabled]="!userIsAdmin"
                        [ngModelOptions]="{ standalone: true }">
                        <mat-option *ngFor="let obj of salesRepList" [value]="obj.salesRepDescription"
                            (click)="filterTypeChange()">
                            {{ obj.salesRepDescription }}
                        </mat-option>
                    </mat-select>

                    <mat-icon matSuffix (click)="clearFilterSalesRep($event)"
                        *ngIf="(salesRep || defaultSalesRep) && userIsAdmin">
                        close</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Opportunity Status</mat-label>
                    <mat-select [(ngModel)]="OpportunityStatus" [ngModelOptions]="{ standalone: true }">
                        <mat-option *ngFor="let obj of OpportunityStatusList" [value]="obj.id"
                            (click)="filterTypeChange()">
                            {{ obj.statusDescription }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix (click)="clearFilterOppStatus($event)" *ngIf="OpportunityStatus">close
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100 c-searchbar">
                    <mat-label class="secondary-text">Select date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate [(ngModel)]="startDate" (dateChange)="filterTypeChange()"
                            placeholder="Start date" autocomplete="off">
                        <input matEndDate [(ngModel)]="endDate" (dateChange)="filterTypeChange()"
                            placeholder="End date" autocomplete="off">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label class="secondary-text">Expected Close Date</mat-label>
                    <input matInput [matDatepicker]="picker1" (click)="picker1.open()" (dateInput)="filterTypeChange()"
                        [(ngModel)]="expectedClose" autocomplete="off"/>
                    <mat-icon (click)="picker1.open()" *ngIf="!expectedClose" matSuffix>calendar_today</mat-icon>
                    <mat-icon matSuffix (click)="clearFilterExpectedDatePicker($event)" *ngIf="expectedClose">close
                    </mat-icon>
                </mat-form-field>

                <mat-datepicker #picker1></mat-datepicker>
            </div>
            <div class="col-md-2">
                <button mat-mini-fab class="custom-close-btn-size" style="margin-top: 4%;" matTooltip="Clear All"
                    color="warn" (click)="clearSearch()">
                    <span class="material-icons">clear</span>
                </button>
                <!-- <button mat-stroked-button color="primary" class="col-md-2 c-btn
                                    green-btn btn-height w-100" (click)="clearSearch()">
                                    Clear All
                                </button> -->
            </div>
        </div>
    </div>
</div>
<div class="opportunities-content">
    <mat-card class="opportunities-card">
        <!-- *ngIf="showProgressBar" -->
        <!-- <h1>hello</h1> -->
        <mat-progress-bar *ngIf="showProgressBar" class="example-margin" [color]="color" [mode]="mode" [value]="value"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
        <!-- <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
            <table mat-table [dataSource]="dataSource" class="w-100 " matSort style="cursor: pointer;">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>OPP No.</th>
                    <td mat-cell *matCellDef="let element" (click)="viewRow(element)">
                        <span class="custom-link">
                            {{
                            element.documentNumber
                            ? element.documentNumber
                            : "OPP#" + element.id
                            || '-'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
                    <td mat-cell *matCellDef="let element">{{ element.name ||'-' }}</td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.title ||'-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.date | date: "dd MMM YYYY" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element">{{ getOppStatus(element.opportunityStatusId) ||'-' }}</td>
                </ng-container>
                <ng-container matColumnDef="probability">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Probability</th>
                    <td mat-cell *matCellDef="let element">{{ element.probability || '0'}}%</td>
                </ng-container>
                <ng-container matColumnDef="expectedClose">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Expected Close
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.expectedClose ||'-' | date: "dd MMM YYYY" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="actualClose">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Actual Close
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.actualClose ||'-' | date: "dd MMM YYYY" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="salesRep">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Rep</th>
                    <td mat-cell *matCellDef="let element">{{ getSalesRep(element.salesRepId) || '-' }}</td>
                </ng-container>
                <ng-container matColumnDef="projectedTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Projected</th>
                    <td mat-cell *matCellDef="let element">
                        $ {{ element.projectedTotal | number: "1.2-2" || '-'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="forecastType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Forecast Type
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.forecastType ||'-' }}</td>
                </ng-container>
                <ng-container matColumnDef="amountAfterDiscount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                    <td mat-cell *matCellDef="let element">
                        $ {{ element.amountAfterDiscount | number: "1.2-2" ||'-' }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div *ngIf="!dataSource"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dataSource?.filteredData?.length  == 0"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-label>No records found!</mat-label>
            </div>
        </div> -->
        <div class="custom-table" [ngClass]="{ 'c-custom-table': showFilter }">
            <kendo-grid [data]="mainDataSource" kendoGridSelectBy="id" [sortable]="true" [sort]="sort"
                [sortable]="{allowUnsort: false,mode: 'single' }" (sortChange)="sortOpportunityList($event)"
                [groupable]="false" [reorderable]="true" [resizable]="true" [height]="813"
                [columnMenuOptions]="{ columnChooser: false }" #grid="kendoGrid" [loading]="showProgressBar">
                <ng-template kendoGridNoRecordsTemplate>
                    No opportunities found!. <a (click)="refreshGrid()">Click here to refresh</a>.
                </ng-template>
                <ng-template kendoGridToolbarTemplate style="padding-left: 660px;">
                    <kendo-grid-spacer></kendo-grid-spacer>
                    <!-- <div class="exportIcon" matTooltip="Excel" kendoGridExcelCommand>
                        <mat-icon>description</mat-icon>
                    </div>
                   <div class="exportIcon" matTooltip="CSV">
                        <mat-icon (click)="exportToCsv()">article</mat-icon>
                    </div> -->
                    <kendo-grid-column-chooser></kendo-grid-column-chooser>
                </ng-template>
                <kendo-grid-column class="custom-link" field="documentNumber" [locked]="true" [width]="200"
                    title="Opportunity No.">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span (click)="viewRow(dataItem)">
                            {{
                            dataItem.documentNumber
                            ? dataItem.documentNumber
                            : "OPP#" + dataItem.id
                            || '-'}}
                        </span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="name" [width]="200" title="Customer">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.name || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [width]="400" field="title" title="Title">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.title || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="date" [width]="150" title="Date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.date | date: 'dd MMM YYYY'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="opportunityStatus" [width]="200" title="Status">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.opportunityStatus || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="probability" [width]="150" title="Probability">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span *ngIf="dataItem.probability "> {{dataItem.probability }} %</span>
                        <span *ngIf="!dataItem.probability "> - </span>

                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="expectedClose" [width]="150" title="Expected Close">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.expectedClose | date: 'dd MMM YYYY'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="actualClose" [width]="150" title="Actual Close">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.actualClose | date: 'dd MMM YYYY'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="marketIndustry" [width]="150" title="Market Industry">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.marketIndustry || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="tier" [width]="150" title="Tier">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.tiers || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="salesRep" [width]="150" title="Sales Rep">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.salesRep || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="projectedTotal" [width]="150" title="Projected Total">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        $ {{dataItem.projectedTotal | number:'1.2-2' || 0}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="forecastType" [width]="150" title="Forecast Type">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.forecastType || '-'}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="amountAfterDiscount" [width]="150" title="Total Amount">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        $ {{dataItem.amountAfterDiscount | number:'1.2-2' || 0}}
                    </ng-template>
                </kendo-grid-column>
                <!-- <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                <kendo-grid-excel fileName="Opportunities.xlsx"></kendo-grid-excel>
            </kendo-grid>
            <!-- <div *ngIf="!dataSource"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" strokeWidth="5" [diameter]="50" mode="indeterminate">
                </mat-progress-spinner>
            </div> -->
        </div>
    </mat-card>
</div>