.opportunities-content {
  background: #f5f6f8;
  height: 100%;
  padding: 20px;
}

.table {
  width: 100%;
}

.c-btn {
  border-radius: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.green-btn {
  background: #65c8c6;
  color: #ffffff;
}
